<!DOCTYPE html>
{% extends "base.html" %}
{% load i18n %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/gridstack.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/social_board/styles.css" />
{% endblock head %}

{% block content %}
    {{ block.super }}

    <div class="container socialcontainer">
            <form action="." method="post">
            {% csrf_token %}
            <div class="container">

                <div class="row socialpadding">
                    <div class="col-xs-3 socialauthor">
                        {{ user.first_name }} {{ user.last_name }}
                    </div>
                    <div class="col-xs-3 socialname">
                    <label for="id_name">Name:</label>
                    {{ form.name }}
                    </div>
                </div>

                <div class="row grid-stack socialboard">
                <div id="1" class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="1" data-gs-height="1"><div class="grid-stack-item-content socialitemcontent"><img alt="hello1" class="img-responsive"></div></div>
                <div id="2" class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="1" data-gs-height="1"><div class="grid-stack-item-content socialitemcontent"><img alt="hello2" class="img-responsive"></div></div>
                </div>

                <div class="row socialpadding">
                    <div class="col-xs-6 socialdescription">
                    <label for="id_name">Description:</label> <br>
                    {{ form.description }}
                    </div>
                </div>
                <div class="row">
                    <label for="id_is_browsable">Is Browsable:</label>
                    {{ form.is_browsable }}
                </div>
            </div>
            <fieldset>
                <legend>Images</legend>
                {{ social_used_image_form.management_form }}
                {{ social_used_image_form.non_form_errors }}
                {% for form in social_used_image_form.forms %}
                    {{ form.id }}
                    <div class="inline {{ social_used_image_form.prefix }}">
                        {{ form.image.errors }}
                        {{ form.image.label_tag }}
                        {{ form.image }}
                        {{ form.location.errors }}
                        {{ form.location.label_tag }}
                        {{ form.location }}
                        {{ form.cropping.errors }}
                        {{ form.cropping.label_tag }}
                        {{ form.cropping }}
                        {{ form.filter.errors }}
                        {{ form.filter.label_tag }}
                        {{ form.filter }}
                    </div>
                {% endfor %}
{#                {% for form in social_board_image_form.forms %}#}
{#                {% endfor %}#}
            </fieldset>
            <input type="submit" value="Add Social Board" class="submit" />
        </form>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/vendor/lodash.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/gridstack.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var options = {
                cell_height: 80,
                vertical_margin: 10
            };
            $('.grid-stack').gridstack(options);
        });
    </script>
{% endblock javascript %}