{% extends "base.html" %}
base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Checkout gateway" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=0 %}
{% endblock %}

{% block checkout_title %}{% trans "Who are you?" %}{% endblock %}

{% block css %}
{{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/checkout/styles.css" />
{% endblock css %}
{% block content %}
    <div id = "registrationBackground" style="background-image: url('{{ STATIC_URL }}img/register.jpg');">
        <div class="container">
            <div class="row" style="margin-top: 50px">
                <div class="well col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-4" style="box-shadow: 1px 1px 10px 1px #A29DA0;">
                    <h3>Sign In</h3>
                    <form action="" method="post" class="form-stacked">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy form %}
                        <div class="form-actions text-center">
                            <button type="submit" name="options" value="existing" class="btn btn-large btn-block btn-primary continueButtonAlign">{% trans "Continue" %}</button>
                        </div>
                    </form>
                </div>
                <div class="well col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-4" style="box-shadow: 1px 1px 10px 1px #A29DA0;">
                    <h3>New Shoppers</h3>
                    <form action="" method="post" class="form-stacked">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy form2 %}
                        <p>If you choose to continue checkout as a guest. We use your email address for Order Tracking purposes.</p>
                        <div class="form-actions text-center">
                            <button type="submit" name="options" value="anonymous" class="btn btn-large btn-block btn-primary continueButtonAlign">{% trans "Continue as Guest" %}</button>
                            <button type="submit" name="options" value="new" class="btn btn-large btn-block btn-primary continueButtonAlign">{% trans "Register and Continue" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.checkout.gateway.init();
{% endblock %}
