{% extends "base.html" %}
{% load i18n %}

{% block title %}Payment Details{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        {% if request.user.is_authenticated and cards%}
            <div class="col-xs-12 col-sm-offset-0 col-sm-5 well">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Selected an Existing Payment Method
                        </h3>
                    </div>
                    <div class="panel-body">
            <div class="col-xs-12">
                <div class="row ">
                    <div class="col-xs-offset-0 col-xs-12">
                        <div class="choose-block shippingFont">
                        {% block select_card_form %}
                            <div class=" checkoutAlign">
                                <form method="post">
                                {% csrf_token %}
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Your Saved Cards</th>
                                            <th>Expires On</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for card in cards %}
                                        <tr>
                                            <th scope="row"><input type="radio" name="card" value="{{ card.id }}" {% if card.is_default %}checked{% endif %}></th>
                                            <td>{{ card.brand }} ending with {{ card.last4 }}</td>
                                            <td>{{ card.expiration }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <input type="submit" value="{{ payment_currency }}{{ total }} with Selected Card" class="btn btn-primary btn btn-primary col-xs-12" id="submit-saved-card" style="margin-top: 10px">
                                </form>
                            </div>
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-offset-0 col-sm-2">
                <div class="center-block orNewCard shippingFont text-center"><p>{% trans "Or A New Card?" %}</p></div>
            </div>
            <div class="col-xs-12 col-sm-offset-0 col-sm-5 well">
            {% else %}
                <div class="col-xs-12 col-sm-offset-3 col-sm-6 well">
            {% endif %}
            <span class="payment-errors"></span>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Payment Details
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% load crispy_forms_tags %}
                        {% crispy form  %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block uncompressable_js %}
{{ block.super }}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('{{ STRIPE_PUBLIC_KEY }}');
  jQuery(function($) {

    $('#payment-info-form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);
        var strDate = $("[data-stripe='exp-date']")[0].value;
        var date = moment(strDate, "MM-YY");
        var month = date.format("MM");
        $form.append($('<input class="hidden" type="text" size="2" data-stripe="exp-month"/>').val(month));
        var year = date.format("YY");
        $form.append($('<input class="hidden" type="text" size="2" data-stripe="exp-year"/>').val(year));

        Stripe.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
    });

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-info-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripe_token" />').val(token));
        // and submit
        $form.get(0).submit();
      }
    };
});

$(":radio[name=cards]").change(function() {
    $(".table tr.active").removeClass("active");
    $(this).closest("tr").addClass("active");
});
</script>

{% endblock uncompressable_js %}