{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Shipping address" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping address" %}{% endblock %}

{% block order_contents %}{% endblock %}

{% block css %}
{{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/checkout/styles.css" />
{% endblock css %}

{% block content %}
    <div class="container checkOutTop">
        <div class="row">
            {% if request.user.is_authenticated %}
                {% if addresses %}
                    <div class="col-xs-12 col-sm-5 well">
                        <div class="row ">
                            <div class="col-xs-offset-1 col-xs-10">
                                <div class="checkoutAlign shippingFont"><p>{% trans "An address from your addressbook?" %}</p></div>
                                <div class="choose-block shippingFont">
                                    <ul class="row unstyled hideBullets">
                                        {% for address in addresses %}
                                            {% block select_address_form %}
                                                <li class="col-xs-10">
                                                    <div class=" checkoutAlign">
                                                        <address >
                                                            {% block select_address_fields %}
                                                                {% for field in address.active_address_fields %}
                                                                    <div>{{ field }}</div>
                                                                {% endfor %}
                                                            {% endblock %}
                                                        </address>
                                                        <form action="{% url 'checkout:shipping-address' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="action" value="ship_to" />
                                                            <input type="hidden" name="address_id" value="{{ address.id }}" />
                                                            {% if address.is_default_for_shipping %}
                                                                <button type="submit" class="btn btn-success ship-address"><i class="icon-ok"></i> {% trans "Ship to your default shipping address" %}</button>
                                                            {% else %}
                                                                <button type="submit" class="btn btn-primary ship-address">{% trans "Ship to this address" %}</button>
                                                            {% endif %}
                                                        </form>
                                                    </div>
                                                </li>
                                                {% if forloop.counter|divisibleby:2 %}
                                                    </ul>
                                                    {% if not forloop.last %}<ul class="row-fluid">{% endif %}
                                                {% endif %}
                                            {% endblock %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-0 col-sm-2">
                        <div class="center-block orNewAddress shippingFont text-center"><p>{% trans "Or a new address?" %}</p></div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="col-xs-12 col-sm-offset-0 col-sm-5 well">
                <form action="" method="post" class="form-stacked ">
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            {% csrf_token %}
                            {% load crispy_forms_tags %}
                            {% crispy form %}

                            <div class="form-actions">
                                <button type="submit" class="btn btn-large btn-block btn-primary ">{% trans "Continue" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}