-e git://github.com/gabrielfalcao/lettuce.git@6e7a5566f13f01192d65b1fc010659d88a27a546#egg=lettuce
-e git://github.com/kmmbvnr/django-jenkins.git#egg=django-jenkins
-e git://github.com/maraujop/django-crispy-forms@d096de1a365d14761deb7f5ef3ba09bfaf57fd5d#egg=django-crispy-forms
-e git://github.com/timchurch/django-color-utils@044a4667f87da16501a4b04320fee7e43aae156c#egg=color_utils
Babel==1.3
Django==1.6
PIL==1.1.7
Pillow==2.2.2
South==0.8.4
Unidecode==0.04.14
Unipath==1.0
argparse==1.2.1
astroid==1.0.0
boto==2.8.0
coverage==3.6
cssselect==0.9.1
distribute==0.6.31
dj-database-url==0.2.1
django-appconf==0.6
django-autoslug==1.7.1
django-backbone==0.3.1
django-braces==1.2.2
django-compressor==1.3
django-extensions==1.3.2
django-extra-views==0.6.3
django-fixture-media==0.1.4
django-haystack==2.1.0
django-mobile==0.3.0
django-oscar==0.6.1
django-selenium==0.9.6
django-storages==1.1.6
django-treebeard==2.0b2
extras==0.0.3
fuzzywuzzy==0.2
gunicorn==0.17.4
logilab-common==0.60.0
lxml==3.2.4
nose==1.3.0
phonenumbers==5.9.2
psycopg2==2.4.6
purl==0.8
pylint==1.0.0
python-mimeparse==0.1.4
python-subunit==0.0.16
pytz==2013b
selenium==2.39.0
six==1.3.0
sorl-thumbnail==11.12
sure==1.2.3
testtools==0.9.34
wsgiref==0.1.2
