{% extends "base.html" %}
{% load i18n %}
{% block css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/checkout/styles.css" />
{% endblock css %}

{% block content %}

            <div class="container betaAccessAlign">
{#                {% if user.is_approved or not user.is_seller or not user.is_staff %}#}
                {% if not user.shop.is_approved %}
                    <h3>Site is Under Construction</h3>
                {% endif %}

                {% if user.shop.is_approved %}
                    <h3>Please Enter You Access Code</h3>
                    <div class="row ">
                        <div class="well well-info">
                            <form id="betaform" class="" action="/access_code" method="post">
                                    {% load crispy_forms_tags %}
                                    {% crispy form %}
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>

{% endblock %}
{% block javascript %}
	<script type="text/javascript">


	</script>
{% endblock %}
