{% extends "base.html" %}
{% load i18n %}

{% block content %}

            <div class="container">
                <div class="row" style="margin-top: 50px">
                    <div class="well col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-7 col-md-4">
                        <form id="" class="" action="/access_code" method="post">
                            {% load crispy_forms_tags %}
                            {% crispy form %}
                        </form>
                    </div>
                </div>
            </div>

{% endblock %}
{% block javascript %}
	<script type="text/javascript">


	</script>
{% endblock %}
