{% extends "base.html" %}

{% block title %}Payment Details{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <ul class="breadcrumb">
{#          <li><a href="{% url 'djstripe:account' %}">Home</a></li>#}
          <li class="active">Card detail</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Enter your debit card info to get paid...
                    </h3>
                </div>
                <div class="panel-body">
                    {% if last4 %}
                    <h4>Your current card ending in <mark>{{ last4 }}</mark> will be overwritten</h4>
                    {% endif %}
                    {% load crispy_forms_tags %}
                    {% crispy form %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('{{ STRIPE_PUBLIC_KEY }}');

  $("#payment-info-form").parsley({
        successClass: 'has-success',
        errorClass: 'has-error',
        classHandler: function(el) {
            return el.$element.closest(".form-group");
        },
        errorsWrapper: '<span class=\"help-block\"></span>',
        errorTemplate: '<span></span>'
    });

  jQuery(function($) {
      $('#payment-info-form').submit(function (event) {
          var $form = $(this);

          // Disable the submit button to prevent repeated clicks
          $form.find('button').prop('disabled', true);

          Stripe.createToken($form, stripeResponseHandler);

          // Prevent the form from submitting with the default action
          return false;
      })
  });


    function stripeResponseHandler(status, response) {
      var $form = $('#payment-info-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripe_token" />').val(token));
        // and submit
        $form.get(0).submit();
      }
    };
</script>

{% endblock javascript %}