
{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} register{% endblock %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/registerAndLogin.css" />
{% endblock css %}
{% block content %}
	<div class="container text-center">
		<h3>Register With Us</h3>
			<div class="row">
				<div class="well col-sm-8 col-sm-offset-2">
					<div class="btn-group">
						<button id="shopper" type="button" class="btn btn-default"><img src="{{ STATIC_URL }}img/shopper_big_logo.png"><h4>Customer</h4></button>
						<button id="designer" type="button" class="btn btn-inverse"><img src="{{ STATIC_URL }}img/designer_big_logo.png"><h4>Designer</h4></button>
					</div>

					{%  load crispy_forms_tags %}
					<form id="registrationForm" class="userRegistrationForm" action="/register" method="post">
						{% crispy form %}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script type="text/javascript">
		$(document).ready(function () {
			$("#shop_fields").slideUp(0);

			$("#shopper").on("click", function () {
				$("#shopper").addClass("btn-default").removeClass("btn-inverse");
				$("#designer").addClass("btn-inverse").removeClass("btn-default");
				$("#shop_fields").slideUp();
			});

			$("#designer").on("click", function () {
				$("#designer").addClass("btn-default").removeClass("btn-inverse");
				$("#shopper").addClass("btn-inverse").removeClass("btn-default");
				$("#shop_fields").slideDown();
			});
		});
	</script>
{% endblock %}
