{% load purchase_info_tags %}
{% load cropping %}
{% load endless %}
    {% if products %}
        {% paginate products %}
            {% for product in products %}
                {% include "designer_shop/item_gallery.html" %}
            {% endfor %}

            {% show_more "<div class='col-xs-12'><div class='well col-xs-12 col-md-4 col-md-offset-4' style='text-align: center;'>Show me more items!</div></div>" %}
    {% else %}
        <div id="searchShopId" class="searchShop">
                No item found with current filter selection
        </div>
    {% endif %}