{% extends "designer_shop/shopperbase.html" %}
{% load thumbnail %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block content %}
    {{ block.super }}

<div class="container">
    <nav class="navbar navbar-default shopBackgroundColor">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">

				<a class="navbar-brand" href="{{ shop.get_absolute_url }}">{{ shop.name }}</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
                    <li class="active" ><a href="#itemTab" id="idemTabLink" role="tab" data-toggle="tab">Item</a></li>
					<li><a href="#aboutTab" id="aboutTabLink" role="tab" data-toggle="tab">About</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->

	</nav>
</div><!-- /.container-fluid -->


<!-- Tab panes -->
<div class="tab-content ">

    <div class=" tab-pane active" id="itemTab">
        <div class="container">
            <form id="itemDetailForm" data-parsley-validate>
                <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Item</h4>
                            </div>
                            <div id="messageId" class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shopItemDetail col-xs-12">
                    <div id="itemTitle" class="itemTitle col-xs-12 visible-xs">
                        {{ item.title }}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="itemSelectedImage col-sm-12 col-md-10 col-xs-12">
                            {% if item.primary_image and item.primary_image.original.url %}
                                {% with image=item.primary_image %}
                                    {% thumbnail image.original "400x500" upscale=True as thumb %}
                                    <a id="itemSelectedImage" href="{{ image.original.url }}" rel="lightbox_{{ item.upc|default:"-" }}" class="sub-image">
                                        <img src="{{ thumb.url }}" alt="{{ item.get_title }}" class="img-responsive center-block selectedImage"/>
                                    </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            {% else %}
                                    -
                            {% endif %}
                        </div>
                        <div class="otherItemImages col-xs-12 col-sm-12 col-md-2">
                            {% for image in images %}
                                {% if not image.is_primary %}
                                    {% thumbnail image.original "100x125" upscale=True as thumb %}
                                    <div class="col-xs-3 col-sm-3 col-md-12 otherImage">
        {#                                <a href="{{ image.original.url }}" rel="lightbox_{{ item.upc|default:"-" }}" class="sub-image">#}
                                            <img src="{{ image.original.url }}" alt="{{ item.get_title }}" class="img-responsive center-block"/>
        {#                                </a>#}
                                    </div>
                                    {% endthumbnail %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="itemPrice center col-xs-12 visible-xs">
                        From $ {{ item.min_variant_price_excl_tax }}
                    </div>
                    <div class="col-xs-12 col-sm-6" id="idItemDetail">
                        <div>
                            <div class="itemTitle hidden-xs">
                                {{ item.title }}
                            </div>
                            <div class="itemPrice hidden-xs">
                                From $ {{ item.min_variant_price_excl_tax }}
                            </div>
                            <div class="itemColorSelection itemDetailBox col-xs-6">
                                <select id="itemColorSelection" class="form-control selectpicker" required>
                                    <option value=""><i>Choose a Color</i></option>
                                </select>
                            </div>
                            <div class="itemSizeSelection itemDetailBox col-xs-6">
                                <select id="itemSizeSelection" class="form-control selectpicker" required>
                                    <option value=""><i>Choose a Size</i></option>
                                </select>
                            </div>
                            <div class="itemBuyQuantity itemDetailBox col-xs-3">
                                <label for="buyQuantity">Quantity:</label>
                                <input type="number" min="1" max="1" pattern="\d*" class="form-control" id="buyQuantity" value="1"/>
                            </div>
                            <div class="itemStockQuantity col-xs-12"></div>
                            <div class="addToCart col-xs-12">
                                <a name="addItemToCart" class="btn btn-primary tinvilleButton pull-right" id="id_AddToCart">Add to Cart</a>
                            </div>
                            <div class="itemDescription col-xs-12">
                                {{ item.description | safe }}
                            </div>
                            <div class="sharingiscaring col-xs-12">
                                <div class="shareMeTitle">Share This Item</div>
                                <div class="socialMediaLinks">
                                    <a id="facebookLink" href="http://www.facebook.com/sharer.php?u={{ request.get_full_path }}" target="_blank" class="pull-right facebooklogo">
                                        <img id="facebooklogo" class="sociallogo" src="{{ STATIC_URL }}img/social_media/facebook-idle.png" style="">
                                    </a>
                                    <a id="twitterLink" href="www.twitter.com" target="_blank" class="pull-right twitterlogo">
                                        <img id="twitterlogo" class="sociallogo" src="{{ STATIC_URL }}img/social_media/twitter-idle.png">
                                    </a>
                                    <a id="pinterestLink" href="www.pinterest.com>" target="_blank" class="pull-right pinterestlogo">
                                        <img id="pinterestlogo" class="sociallogo" src="{{ STATIC_URL }}img/social_media/pinterest-idle.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class=" tab-pane" id="aboutTab">
        <div class="container">
            <div class="col-xs-offset-1 col-xs-2 aboutContent">
                {% if shop.aboutImg %}
                    <img class="full-screen" src="{{shop.aboutImg.url}}"  />
                {% endif %}
            </div>
            <div class="col-xs-8 aboutContent">
                {{ shop.aboutContent | safe }}
            </div>
        </div>
    </div>

</div>
{% endblock content%}

{% block javascript_library %}
  {{ block.super }}

{% endblock javascript_library %}


{% block javascript %}
    {{ block.super }}
    <script>
    refreshvariants();

    var myresponse;
    function refreshvariants() {
        myresponse = $.getJSON( "{{ request.get_full_path }}getVariants/color", function(data) {
            var colorlist = [];
            colorlist.push('<option value=""><i>Choose a Color</i></option>');
            $.each(data.variants, function(key)
            {
                colorlist.push('<option value="'+ key +'">'+ key +'</option>');
            });
            var currentcolor = $('#itemColorSelection').val();
            $('#itemColorSelection').html(colorlist.join(''));
            $('#itemColorSelection').val(currentcolor);
            updateQuantityPrice();
        });
    }
    setInterval(refreshvariants, 60000);
    $("#itemSizeSelection").change(function() {
        $('option[value=""]').attr('disabled', true);
    });

    $("#itemColorSelection").change(function() {
        $('option[value=""]').attr('disabled', true);
        $.each(myresponse.responseJSON.variants, function(key, val) {
            var sizelist = [];
            if (key === $("#itemColorSelection").val())
            {
                var currentsize = ""
                sizelist.push('<option value=""><i>Choose a Size</i></option>');
                $.each(val, function() {
                    if (this.quantity <= 0)
                    {
                        sizelist.push('<option value="' + this.size + '">'+ this.size +'</option>')
                    }
                    else
                    {
                        sizelist.push('<option value="' + this.size + '">'+ this.size +'</option>');
                    }
                    if (this.size === $('#itemSizeSelection').val() && this.quantity !== 0)
                    {
                        currentsize = $('#itemSizeSelection').val();
                    }
                });
                $('#itemSizeSelection').html(sizelist.join(''));
                $('#itemSizeSelection').val(currentsize);
                return false;
            }
        });
    });
    var validateFront = function () {
          if (true === $('#itemDetailForm').parsley().isValid()) {
            $('.parsley-errors-list').remove();

          }
          else{
              $('.parsley-errors-list').addClass("filled bootstrapError help-block");
          }

        };
    var updateQuantityPrice = function() {
         validateFront();
        $.each(myresponse.responseJSON.variants, function(key, val) {
            var variantprice = ""
            var variantquantity = ""
            var numberquantity = ""
            if (key === $("#itemColorSelection").val())
            {
                $.each(val, function() {
                    if (this.size === $("#itemSizeSelection").val())
                    {
                        variantprice = '$' + this.price
                        variantquantity = this.quantity + " remaining"
                        numberquantity = this.quantity
                    }
                });
                if (variantprice === "")
                {
                    variantprice = 'From $ ' + myresponse.responseJSON.minprice;
                }
                if (numberquantity === "")
                {
                    numberquantity = "1"
                }
                $('.itemPrice').text(variantprice);
                $('.itemStockQuantity').text(variantquantity);
                $('#buyQuantity').attr('max', numberquantity)
                return false
            }
            if (variantprice === "")
            {
                variantprice = 'From $ ' + myresponse.responseJSON.minprice;
                $('.itemPrice').text(variantprice);
            }
        });
    }

    $("#itemSizeSelection").change(updateQuantityPrice);

    $("#itemColorSelection").change(updateQuantityPrice);

    $(".otherImage").click(function (){
        var src = $(this).attr("src");
        $("#itemSelectedImage img").attr("src", src);
    });



{#    Adding the shooping cart stuff#}
    $(document).ready(function(){



        $.listen('parsley:field:validate', function () {
             validateFront();
        });


    $("#id_AddToCart").click(function(e){

        $('#itemDetailForm').parsley().validate();
        if (false === $('#itemDetailForm').parsley().isValid()) {
            $('.parsley-errors-list').addClass("filled bootstrapError help-block");
        }
        else{
            $('.parsley-errors-list').remove();
            e.preventDefault();
            var self = $(this)
            var url = "{{ shop.get_absolute_url }}{{ item.slug }}/add_item_to_cart"
            var sizeFilter = (document.getElementById("itemSizeSelection").selectedIndex === 0) ? '' : ($("#itemSizeSelection option:selected").text());
            var colorFilter = (document.getElementById("itemColorSelection").selectedIndex === 0) ? '' : ($("#itemColorSelection option:selected").text());
            var qtyFilter = $("#buyQuantity").val()

            var ajax_req = $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        sizeFilter: sizeFilter,
                        colorFilter: colorFilter,
                        qtyFilter: qtyFilter
                    },
                    success: function(data, textStatus, jqXHR) {
                        if (data.msg == ''){

                            data.image = "{{ MEDIA_URL }}" + data.image
                            AddCartItem(data)
                        }
                        else {
                            $('#messageId').html(data.msg)
                            $('#messageModal').modal('show');
                        }

                    },
                    error: function(data, textStatus, jqXHR) {
                        var msg = $.parseJSON(data.responseText)['errors']
                        $('#messageId').html(msg)
                        $('#messageModal').modal('show');
                    }
                });
            }
    });
 });
    </script>

{% endblock %}

