<div class="modal fade" id="shipping_estimation" tabindex="-1" role="dialog" aria-labelledby="shipping_estimation_label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="shipping_estimation_label">Weight Based Shipping Price Guide</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        We recommend choosing the "Half-Country" option when adding shipping costs to item prices. These prices do not include shipping materials.
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Weight Not Over (lbs)</th>
                                <th>Local</th>
                                <th>Half-Country</th>
                                <th>Cross-Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0.5</td>
                                <td>$4.60</td>
                                <td>$5.00</td>
                                <td>$5.80</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>$5.00</td>
                                <td>$5.75</td>
                                <td>$6.25</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>$5.10</td>
                                <td>$7.20</td>
                                <td>$9.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>$5.50</td>
                                <td>$8.50</td>
                                <td>$12.50</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>$5.70</td>
                                <td>$9.30</td>
                                <td>$15.50</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>$6.00</td>
                                <td>$10.00</td>
                                <td>$18.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
        </div>
    </div>
</div>