{% extends "home.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} about{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/designer_shop/styles.css" />
{% endblock css %}
{% block content %}
{{ block.super }}
<div id="shopEditor">
    <div class="editorWindow row col-sm-12 panel-group navbar-fixed-bottom" id="accordion">
        <div class="cornerRadius panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <b>Shop Editor</b>
                    <a id="minMaxIcon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="glyphicon glyphicon-chevron-down pull-right"></a>
                </h4>
            </div>
            <div id="collapseOne" class="row panel-collapse collapse in">
                <div class="container col-sm-3 panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a class="editorLinkButton" href="#banner" data-toggle="pill">Banner</a>
                        </li>
                        <li>
                            <a href="#logo" data-toggle="pill">Logo</a>
                        </li>
                        <li>
                            <a href="#about" data-toggle="pill">About</a>
                        </li>
                        <li>
                            <a href="#addItems" data-toggle="pill">Add Items</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="banner">
                            Insert Banner form here.
                        </div>
                        <div class="tab-pane" id="logo">
                            Insert Logo form here.
                        </div>
                        <div class="tab-pane" id="about">
                            Insert About form here.
                        </div>
                        <div class="tab-pane" id="addItems">
                            Insert Add Items form here.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script>

$("#minMaxIcon").click(function() {
   $(this).toggleClass("glyphicon glyphicon-chevron-up pull-right");
   $(this).toggleClass("glyphicon glyphicon-chevron-down pull-right");
});

</script>

{% endblock %}
