{% extends "base.html" %}
{% load i18n %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/designer_shop/styles.css" />
{% endblock css %}

{% block content %}
    <a href="/"><img id="tinyTinvillelogo" class="pull-left" src="{{ STATIC_URL }}img/tinyTinvillelogo.png"></a>
{#    need to add something if a designer does not have a banner#}
{#    this will be decribed at a later time#}
  {% if shop.banner %}
    <img src="{{shop.banner.url}}" class="shopBanner img-responsive full-screen" />
  {% endif %}

{#  This section is the info banner for a shop  #}
  <div class="container infoBanner full-screen shopBackgroundColor"></div>

  <div class="container">
     <select class="filterTabs col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-2"  id="filterTab1"  name="Filter1">
        <option>View All</option>
        <option>Women</option>
        <option>Men</option>
        <option>Kids</option>
      </select>

      <select class="filterTabs col-xs-4 col-sm-4 col-md-2" >
        <option>View All Types</option>
        <option>Dresses</option>
        <option>Pants</option>
        <option>Shoes</option>
      </select>
      <select class="filterTabs col-xs-4 col-sm-4 col-md-2">
        <option>All Prices</option>
        <option>$0-$50</option>
        <option>$50-$100</option>
      </select>
  </div>

  <div class="container">
    <div class="row">
        <div class="" id="scrollWindow">
            <div class="shopItems" id="gallery">
                <ul>
                  {% for item in shop.item_set.all %}
                      <div class="thumbnail shopItem shopBorderColor">
                        <li>
                            <img src="{{item.image.url}}" class="" alt="" draggable="false"/>
                              <div class="caption">
                                  <span class="name shopColor">{{item.name}}</span>
                                  <span class="price shopColor">${{item.price}}</span>
                              </div>
                        </li>
                      </div>
                  {% endfor %}
                </ul>
            </div>
        </div>




      <div class=" hidden-xs hidden-sm hidden-md hidden-lg">
        <div class="shopItems row">
          {% for item in shop.item_set.all %}
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
              <div class="thumbnail shopItem shopBorderColor">
                <img src="{{item.image.url}}" class="img-responsive" />
                <div class="caption">
                  <span class="name shopColor">{{item.name}}</span>
                  <span class="price shopColor">${{item.price}}</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
    <script>
        $("#tinvilleTagBanner").remove();

    $(function() {
      $("#gallery").dragend({
        borderBetweenPages: 5,
        onDrag: function( activeElement, gesture, overscroll ) {
          var deltaX = parseInt( - gesture.deltaX / 2 );

          if ( overscroll ) {
            deltaX = deltaX / 5;
          }

          $(activeElement).prev().find("img").css("margin-left", deltaX + 16 );
          $(activeElement).find("img").css("margin-left", deltaX);
          $(activeElement).next().find("img").css("margin-left", deltaX - 16 );
        },
        onDragEnd: function( activeElement ) {
          $(activeElement).prev().find("img").animate({
            "margin-left": 16
          }, 30);
          $(activeElement).find("img").animate({
            "margin-left": 0
          }, 30);
          $(activeElement).next().find("img").animate({
            "margin-left": - 16
          }, 30);
        }
      });

      $("#scrollWindow").fadeIn();

      $(document).on("dragstart", function(event) {
        if (event.target.nodeName.toUpperCase() == "IMG") {
          return false;
        }
      });
    $(window).resize("dragstart", function(event) {
      if (event.target.nodeName.toUpperCase() == "IMG") {
        return false;
      }
      });
    }).resize();

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-219062-10']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


    </script>

{% endblock %}

