{% extends "designer_shop/shopper.html" %}
{% load i18n %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/designer_shop/styles.css" />
    <script src="http://tinville-dev.s3.amazonaws.com/static/js/tiny_mce/tiny_mce.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/farbtastic.css" />
{% endblock css %}
{% block content %}
{{ block.super }}
<div id="shopEditor">
    <div id ="shopEditorWindow" class="row col-sm-12 panel-group navbar-fixed-bottom" id="accordion">
        <div id="cornerRadius" class="cornerRadius panel panel-default">
            <div id="shopEditorHeading" class="panel-heading">
                <h4 id="shopEditorTitle" class="panel-title">
                    <b>Shop Editor</b>
                    <a id="resizeIcon" class="editorControlButton glyphicon glyphicon-resize-full pull-right hidden-xs"></a>
                    <a id="minMaxIcon" data-toggle="collapse" data-parent="#accordion" href="#editorPanels" class="editorControlButton glyphicon glyphicon-chevron-down pull-right"></a>
                </h4>
            <div id="editorPanels" class="row panel-collapse collapse in row-xs-height">
                <div id="optionPanel" class="container col-sm-3 panel-body editorPanel shopEditorElementTop">
                    <a id="optionsXS" class="row hidden-lg hidden-md hidden-sm panel-heading nav-pills">Options</a>
                    <ul id="optionContent" class="nav nav-pills nav-stacked shopEditorElementTop">
                        <li class="active">
                            <a href="#addItems" data-toggle="pill">Add Item</a>
                        </li>
                        <li>
                            <a href="#banner" data-toggle="pill">Banner</a>
                        </li>
                        <li>
                            <a href="#logo" data-toggle="pill">Logo</a>
                        </li>
                        <li>
                            <a href="#color" data-toggle="pill">Color</a>
                        </li>
                        <li>
                            <a href="#about" data-toggle="pill">About</a>
                        </li>
                    </ul>
                </div>
                <div id="secondColumn" class="container col-sm-9">
                    <div id="formPanel" class="editorPanel panel-body shopEditorElementBottom">
                        <div id="formContent" class="tab-content panel-content shopEditorElementBottom">
                            <form class="tab-pane" id="banner" enctype="multipart/form-data" method="post">
                                {% load crispy_forms_tags %}
                                {% crispy bannerUploadForm %}
                            </form>
                            <form class="tab-pane" id="logo" enctype="multipart/form-data" method="post">
                                {% load crispy_forms_tags %}
                                {% crispy logoUploadForm %}
                            </form>
                            <form class="tab-pane" id="color" action="edit/ajax_color" method="post">
                                {% load crispy_forms_tags %}
                                {% crispy designerShopColorPicker %}
                            </form>
                            <form class="tab-pane" id="about" action="edit/ajax_about" method="post">
                                 {%  load crispy_forms_tags %}
                                 {% crispy aboutBoxForm %}
                            </form>
                            <form class="tab-pane active" id="addItems" enctype="multipart/form-data" method="post">
                                {%  load crispy_forms_tags %}
                                {% crispy productCreationForm %}
                            </form>
                        </div>
                        <div id="buttonContainer" class="container col-sm-12 pull-right">
                                <div id="message_area" class="col-sm-10">HELLO</div>
                                <button id="editorButton" class="btn btn-primary tinvilleButton pull-right">Submit</button>
                        </div>
                    </div>
                    <div class="row-xs-height col-sm-12">
                    <div id="buttonContainer" class="container col-sm-12 container-xs-height">

                            <div id="message_area" class="col-middle col-xs-height">HELLO</div>

                        <button id="editorButton" class="btn btn-primary tinvilleButton pull-right">Submit</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript_library %}l
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/vendor/farbtastic.js"></script>

{% endblock javascript_library %}

{% block javascript %}
    {{ block.super }}
    <script>

    $( "#editorButton" ).click(function() {
        $( "#color" ).click();
    });

        $(document).on("submit", "#color", function(e) {
            e.preventDefault();
            var self = $(this)
            var url = self.attr("action")
            var ajax_req = $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        color: document.getElementById("id_color").value
                    },
                    success: function(data, textStatus, jqXHR) {
					    $(".shopColor").css("color", document.getElementById("id_color").value);
                        $(".shopBackgroundColor").css("background-color", document.getElementById("id_color").value);
					},
                    error: function(data, textStatus, jqXHR) {
                        clear_django_messages(self.find("#message_area"));
                        clear_form_field_errors(".colorForm");
                        var errors = $.parseJSON(data.responseText);
                        $.each(errors, function(index, value) {
                            if (index === "__all__") {
                                django_message(value[0], "error", self.find("#message_area"));
                            } else {
                                apply_form_field_error(self[0].id, index, value);
                            }
                        });
                    }
                });
        });
        $(document).on("submit", "#about", function(e) {
            e.preventDefault();
            var self = $(this)
            var url = self.attr("action")

            var ajax_req = $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        aboutContent: document.getElementById("id_aboutContent").value
                    },
                    success: function(data, textStatus, jqXHR) {
					    document.getElementById('aboutLocation').innerHTML = document.getElementById("id_aboutContent").value
					},
                    error: function(data, textStatus, jqXHR) {
                        clear_django_messages(self.find("#message_area"));
                        clear_form_field_errors(".aboutForm");
                        var errors = $.parseJSON(data.responseText);
                        $.each(errors, function(index, value) {
                            if (index === "__all__") {
                                django_message(value[0], "error", self.find("#message_area"));
                            } else {
                                apply_form_field_error(self[0].id, index, value);
                            }
                        });
                    }
                });
        });

</script>

<script>

var htmlSTring = "<div>\
  This is a string.\
</div>";

var colorQuantityTableHead = "" +
"<div class='accordion-body collapse collapse-colors-quantity col-xs-8 col-xs-offset-4'>" +
    "<div class='accordion-inner table-responsive'>" +
        "<table class='table'>" +
            "<thead>" +
                "<tr>" +
                    "<td class='col-xs-8'><b>Color</b></td>" +
                    "<td class='col-xs-4'><b>Quantity</b></td>" +
                "</tr>" +
            "</thead>" +
            "<tbody>" +
            "</tbody>" +
        "</table>" +
    "</div>" +
"</div>"

var sizeSetTemplate = "" +
"<div id='sizeSetSelectionTemplate' class='accordion-group sizeSetSelectionTemplate'>" +
    "<div class='accordion-heading'><div id='div_id_sizeSetSelection' class='form-group'>" +
        "<div class='controls'>" +
            "<select class='sizeSetSelection select form-control' id='id_sizeSetSelection' name='sizeSetSelection'>" +
                "<option value='' selected='selected'>Choose a size...</option>" +
                "{% for sizeSet in sizeSetOptions %}" +
                "<option value='{{sizeSet.id}}'>{{sizeSet.option|upper}}</option>" +
                "{% endfor %}" +
            "</select>" +
        "</div>" +
    "</div>" +
"</div>" + colorQuantityTableHead


var sizeDimensionTemplate = "" +
"<div id='sizeDimensionSelectionTemplate' class='accordion-group sizeDimensionSelectionTemplate'>" +
    "<div class='accordion-heading'><div id='div_id_sizeDimensionSelection' class='form-group'>" +
        "<div class='controls row'>" +
            "<div class='col-xs-5'>" +
                "<input class='sizeDimensionSelection numberinput form-control dimensionWidth' id='id_sizeDimensionSelectionWidth' name='sizeDimWidth' type='number' placeholder = 'Type a width'>" +
            "</div>" +
            "<div class='col-xs-2 dimensionSplit'>X</div>"+
            "<div class='col-xs-5'>" +
                "<input class='sizeDimensionSelection numberinput form-control dimensionLength' id='id_sizeDimensionSelectionLength' name='sizeDimLength' type='number' placeholder = 'Type a length'>" +
            "</div>" +
        "</div>" +
    "</div>" +
"</div>" + colorQuantityTableHead

var sizeNumberTemplate = "" +
"<div id='sizeNumberSelectionTemplate' class='accordion-group sizeNumberSelectionTemplate'>" +
    "<div class='accordion-heading'><div id='div_id_sizeNumberSelection' class='form-group'>" +
        "<div class='controls'>" +
            "<input class='sizeNumberSelection numberinput form-control' id='id_sizeNumberSelection' name='sizeNumberSelection' type='number' placeholder = 'Type a size'>" +
        "</div>" +
    "</div>" +
"</div>" + colorQuantityTableHead


var rowColorQuantityTemplate = "" +
"<tr class='row-color-quantity rowColorQuantityTemplate' id='rowColorQuantityTemplate'>" +
    "<td>" +
        "<div class='row-color >" +
            "<div id='div_id_colorSelection' class='form-group'>" +
                "<div class='controls'>" +
                    "<select class='select form-control' id='id_colorSelection' name='colorSelection' placeholder='Choose a color'>" +
                        "<option value='' selected='selected'>Choose a color...</option>" +
                        "{% for color in colors %}" +
                        "<option value='{{color.id}}'>{{color.option|capfirst}}</option>" +
                        "{% endfor %}" +
                    "</select>" +
                "</div>" +
            "</div>" +
        "</div>" +
    "</td>" +
    "<td>" +
        "<div id='div_id_quantityField' class='form-group'>" +
            "<div class='controls'>" +
                "<input class='numberinput form-control' id='id_quantityField' name='quantityField' type='number'>" +
            "</div>" +
        "</div>" +
    "</tr>" +
"</tr>"



$("#id_sizeVariation").change(function() {
    var selectedValue = $("#id_sizeVariation option:selected");
    var sizesFieldSet = $("#sizesFieldSet");
    sizesFieldSet.removeClass("hidden");
    switch (selectedValue[0].value) {
        case "1":
            //Size set
            addNewSizeSetRow();
            //Size set selection event handling (Add a color/quantity row, add a new size selector for more size selection)
            sizesFieldSet.on("change", ".sizeSetSelection", function(e) {

                if($(this).closest('.accordion-group').next().length == "0") {
                    addNewColorAndQuantityRow($(this).parents(".sizeSetSelectionTemplate").attr("id") + "_", $(this).parents(".accordion-group").find("tbody"));
                }

                var colorsAndQuantities = $(".collapse-colors-quantity", $(this).parents(".accordion-group")[0]);
                colorsAndQuantities.collapse('show');

                var selectedValue = $("option:selected", this);
                var sizesFieldSet = $("#sizesFieldSet");
                if (selectedValue[0].value != "0") {
                    if($(this).closest('.accordion-group').next().length == "0") {
                        //Add a new size set row
                        $('#formContent').animate({scrollTop: $('#formContent')[0].scrollHeight}, 500);
                        addNewSizeSetRow();

                    }
                }
            })
            //Color event handling (Add a new color/quantity row for more color/quantity selection)
            sizesFieldSet.on("change", ".row-color", function(e) {

                var selectedValue = $("option:selected", this);
                var sizesFieldSet = $("#sizesFieldSet");
                if (selectedValue[0].value != 0) {

                    var colorsAndQuantitiesTable = $(".table", $(this).parents(".accordion-group")[0]);
                    if($(this).closest('.rowColorQuantityTemplate').next().length == "0") {
                        $('#formContent').animate({scrollTop: $(this).closest("tbody")[0].scrollHeight}, 500);
                        addNewColorAndQuantityRow(colorsAndQuantitiesTable.parents(".sizeSetSelectionTemplate").attr("id") + "_", colorsAndQuantitiesTable);
                    }
                }
            })
            break;

        case "2":
           //Size set
            addNewSizeDimensionRow();
            //Size set selection event handling (Add a color/quantity row, add a new size selector for more size selection)
            sizesFieldSet.on("change", ".sizeDimensionSelection", function(e) {

                if($(this).closest('.accordion-group').next().length == "0") {
                    addNewColorAndQuantityRow($(this).parents(".sizeDimensionSelectionTemplate").attr("id") + "_", $(this).parents(".accordion-group").find("tbody"));
                }

                var colorsAndQuantities = $(".collapse-colors-quantity", $(this).parents(".accordion-group")[0]);
                colorsAndQuantities.collapse('show');

                var selectedValue = $(this).val();
                var sizesFieldSet = $("#sizesFieldSet");
                if (selectedValue != "0") {
                if($(this).closest('.accordion-group').next().length == "0") {
                    //Add a new size set row
                    $('#formContent').animate({scrollTop: $('#formContent')[0].scrollHeight}, 500);
                    addNewSizeDimensionRow();
                    }
                }
            })
            //Color event handling (Add a new color/quantity row for more color/quantity selection)
            sizesFieldSet.on("change", ".row-color", function(e) {
                var selectedValue = $(this).val();
                var sizesFieldSet = $("#sizesFieldSet");
                if (selectedValue != "0") {
                    if($(this).closest('.rowColorQuantityTemplate').next().length == "0") {
                        var colorsAndQuantitiesTable = $(".table", $(this).parents(".accordion-group")[0]);
                        addNewColorAndQuantityRow(colorsAndQuantitiesTable.parents(".sizeDimensionSelectionTemplate").attr("id") + "_", colorsAndQuantitiesTable);
                    }
                }
            })
            break;

        case "3":
           //Size set
            addNewSizeNumberRow();
            //Size set selection event handling (Add a color/quantity row, add a new size selector for more size selection)
            sizesFieldSet.on("change", ".sizeNumberSelection", function(e) {

                if($(this).closest('.accordion-group').next().length == "0") {
                    addNewColorAndQuantityRow($(this).parents(".sizeNumberSelectionTemplate").attr("id") + "_", $(this).parents(".accordion-group").find("tbody"));
                }

                var colorsAndQuantities = $(".collapse-colors-quantity", $(this).parents(".accordion-group")[0]);
                colorsAndQuantities.collapse('show');

                var selectedValue = $(this).val();
                var sizesFieldSet = $("#sizesFieldSet");
                if (selectedValue != "0") {
                if($(this).closest('.accordion-group').next().length == "0") {
                    //Add a new size set row
                    $('#formContent').animate({scrollTop: $('#formContent')[0].scrollHeight}, 500);
                    addNewSizeNumberRow();
                    }
                }
            })
            //Color event handling (Add a new color/quantity row for more color/quantity selection)
            sizesFieldSet.on("change", ".row-color", function(e) {
                var selectedValue = $(this).val();
                var sizesFieldSet = $("#sizesFieldSet");
                if (selectedValue != "0") {
                    if($(this).closest('.rowColorQuantityTemplate').next().length == "0") {
                        var colorsAndQuantitiesTable = $(".table", $(this).parents(".accordion-group")[0]);
                        addNewColorAndQuantityRow(colorsAndQuantitiesTable.parents(".sizeNumberSelectionTemplate").attr("id") + "_", colorsAndQuantitiesTable);
                    }
                }
            })
            break;
    }
});

function addNewSizeSetRow() {

    $("#sizesFieldSet").append(sizeSetTemplate);

    var $newSizeSetSelection = $("#sizeSetSelectionTemplate");

    // Get the number at the end of the ID, increment it, and replace the old id
    var counter = GetNewCounter($newSizeSetSelection, "sizeSetSelectionTemplate", 0);
    appendSuffixToAttribute($newSizeSetSelection, "id", counter);

    // Find all elements in $clone that have an ID, and iterate using each()
    var prefix = $newSizeSetSelection[0].id + "_";
    $newSizeSetSelection.find('[id]').each(function() {
         //Perform the same replace as above
        var $th = $(this);
        var newID = $th.attr('id').replace(/\w+$/, function(str) { return prefix + str; });
        $th.attr('id', newID);
    });

    // Find all elements in $clone that have a name, and iterate using each()
    $newSizeSetSelection.find('[name]').each(function() {
         //Perform the same replace as above
        var $th = $(this);
        var newName = $th.attr('name').replace(/\w+$/, function(str) { return prefix + str; });
        $th.attr('name', newName);
    });
}

function addNewSizeDimensionRow() {
  $("#sizesFieldSet").append(sizeDimensionTemplate);

    var $newSizeDimensionSelection = $("#sizeDimensionSelectionTemplate");

    // Get the number at the end of the ID, increment it, and replace the old id
    var counter = GetNewCounter($newSizeDimensionSelection, "sizeDimensionSelectionTemplate", 0);
    appendSuffixToAttribute($newSizeDimensionSelection, "id", counter);

    // Find all elements in $clone that have an ID, and iterate using each()
    var prefix = $newSizeDimensionSelection[0].id + "_";
    $newSizeDimensionSelection.find('[id]').each(function() {
         //Perform the same replace as above
        var $th = $(this);
        var newID = $th.attr('id').replace(/\w+$/, function(str) { return prefix + str; });
        $th.attr('id', newID);
    });

    // Find all elements in $clone that have a name, and iterate using each()
    $newSizeDimensionSelection.find('[name]').each(function() {
         //Perform the same replace as above
        var $th = $(this);
        var newName = $th.attr('name').replace(/\w+$/, function(str) { return prefix + str; });
        $th.attr('name', newName);

    });
}

function addNewSizeNumberRow() {
  $("#sizesFieldSet").append(sizeNumberTemplate);

    var $newSizeNumberSelection = $("#sizeNumberSelectionTemplate");

    // Get the number at the end of the ID, increment it, and replace the old id
    var counter = GetNewCounter($newSizeNumberSelection, "sizeNumberSelectionTemplate", 0);
    appendSuffixToAttribute($newSizeNumberSelection, "id", counter);

    // Find all elements in $clone that have an ID, and iterate using each()
    var prefix = $newSizeNumberSelection[0].id + "_";
    $newSizeNumberSelection.find('[id]').each(function() {
         //Perform the same replace as above
        var $th = $(this);
        var newID = $th.attr('id').replace(/\w+$/, function(str) { return prefix + str; });
        $th.attr('id', newID);
    });

    // Find all elements in $clone that have a name, and iterate using each()
    $newSizeNumberSelection.find('[name]').each(function() {
         //Perform the same replace as above
        var $th = $(this);
        var newName = $th.attr('name').replace(/\w+$/, function(str) { return prefix + str; });
        $th.attr('name', newName);

    });
}

function addNewColorAndQuantityRow(prefix, appendTo) {

        $(appendTo).append(rowColorQuantityTemplate);

        var $newColorQuantityRow = $("#rowColorQuantityTemplate");

        // Get the number at the end of the ID, increment it, and replace the old id
        var counter = GetNewCounter($newColorQuantityRow, "rowColorQuantityTemplate", 0);
        prependPrefixToAttribute($newColorQuantityRow, "id", prefix);
        appendSuffixToAttribute($newColorQuantityRow, "id", counter);


        // Find all elements in $clone that have an ID, and iterate using each()
        $newColorQuantityRow.find('[id]').each(function() {
            //Perform the same replace as above
            var $th = $(this);
            var newID = $th.attr('id').replace(/\w+$/, function(str) { return prefix + str + counter; });
            $th.attr('id', newID);
        });

        // Find all elements in $clone that have a name, and iterate using each()
        $newColorQuantityRow.find('[name]').each(function() {
             //Perform the same replace as above
            var $th = $(this);
            var newName = $th.attr('name').replace(/\w+$/, function(str) { return prefix + str + counter; });
            $th.attr('name', newName);
        });

}

function GetNewCounter($element, classFromPrevious, initial){
    var counter = initial;
    var numberAtEndOfId;
    if($element.prev().hasClass(classFromPrevious))
    {
        if(numberAtEndOfId = $element.prev().attr('id').match(/(\d+)$/))
        {
            counter = parseInt(numberAtEndOfId[0], 10) + 1;
        }
    }
    return counter;
}

function appendSuffixToAttribute(element, attr, suffix){
    element.attr(attr, element.attr(attr) + suffix);
}

function prependPrefixToAttribute(element, attr, prefix){
    element.attr(attr, prefix + element.attr(attr));
}

$("#resizeIcon").click(function() {
   $(this).toggleClass("glyphicon-resize-full");
   $(this).toggleClass("glyphicon-resize-small");
   resizeEditor();
});

$("#minMaxIcon").click(function() {
   $(this).toggleClass("glyphicon-chevron-up");
   $(this).toggleClass("glyphicon-chevron-down");
   $("#resizeIcon").toggleClass("hidden");
});

$(window).resize(function() {
    resizeEditor();
});

$(window).load(function() {
    resizeEditor();
});

$("#optionContent li").click(function (){
    $("#optionsXS").text($(this).text()+" (click here for editor options)");
    resizeEditor();
});

$("#optionsXS").click(function() {
    var currentFormPanelHeight;
    var maxFormHeight;
    var transitionHeight;
    currentFormPanelHeight = $("#secondColumn").outerHeight();
    maxFormHeight = Math.round($(window).height()*0.90);
    $("#optionContent").height(maxFormHeight-
            $("#optionsXS").outerHeight()-
            $("#buttonContainer").outerHeight()-
            $("#shopEditorTitle").outerHeight()-
            parseInt($("#cornerRadius").css('border-top-width'))-
            parseInt($("#cornerRadius").css('border-bottom-width'))-
            parseInt($("#shopEditorHeading").css('padding-bottom'))-
            parseInt($("#formPanel").css('border-top-width'))-
            parseInt($("#formPanel").css('padding-bottom')));
            transitionHeight = $("#optionContent").outerHeight()+$("#optionsXS").outerHeight();

    if ($("#optionPanel").outerHeight()==$("#optionsXS").outerHeight())
    {
        $("#optionPanel").transition({height: transitionHeight},{duration: 300});
        $("#formPanel").transition({height: currentFormPanelHeight-transitionHeight},{duration: 300});
        $("#formContent").transition({height: currentFormPanelHeight-transitionHeight}, {duration: 300});
    }
    else
    {
        resizeEditor();
    }
});

function resizeEditor() {
    var maxFormHeight;
    var editorPanelHeight;
    var buttonHeight;
    var optionPanelHeight;
    var editorHeight;
    var maxHeight;
    var formTransitionHeight;
    var excess;

    buttonHeight = $("#buttonContainer").outerHeight();

    if (checkMode() == 'xs')
    {
        $("#optionPanel").css({'padding-top' : '0px', 'padding-bottom' : '0px', 'margin-bottom' : '10px'});
        $("#formPanel").css({'padding-top' : '0px', 'padding-bottom' : '0px'});
        optionPanelHeight = $("#optionsXS").outerHeight();
        editorHeight = 0.90;
        maxFormHeight = $(window).height()*editorHeight;
        formTransitionHeight = maxFormHeight-optionPanelHeight-
                $("#shopEditorTitle").outerHeight()-
                $("#buttonContainer").outerHeight()-
                parseInt($("#cornerRadius").css('border-top-width'))-
                parseInt($("#cornerRadius").css('border-bottom-width'));
        $("#optionPanel").transition({height:optionPanelHeight},{duration: 300});
        $("#optionContent").transition({height: optionPanelHeight},{duration: 300});
        $("#formPanel").transition({height:formTransitionHeight}, {duration: 300});
        $("#formContent").transition({height: formTransitionHeight}, {duration: 300});
    }
    else
    {
        $("#optionPanel").css({'padding-top' : '15px', 'padding-bottom' : '15px'});
        $("#formPanel").css({'padding-top' : '15px', 'padding-bottom' : '15px'});
        editorPanelHeight = 0.35;
        if ($("#resizeIcon").hasClass("glyphicon-resize-small") == true)
        {
            editorPanelHeight = 0.75;
        }
        excess =  $("#shopEditorTitle").outerHeight()+
                parseInt($("#cornerRadius").css('border-top-width'))+
                parseInt($("#cornerRadius").css('border-bottom-width'))+
                parseInt($("#shopEditorHeading").css('padding-bottom'));
        maxHeight = $(window).height()*editorPanelHeight;
        $("#optionPanel").transition({height:maxHeight-excess},300);
        $("#formPanel").transition({height:maxHeight-excess-buttonHeight},300);
        $("#optionContent").transition({height: maxHeight-excess},300);
        $("#formContent").transition({height: maxHeight-excess-buttonHeight},300);
    }
}

$(function(){
    $("#optionContent").slimScroll({
        height: 'auto'
    });
});

$(function(){
    $("#formContent").slimScroll({
       height: 'auto'
    });
});

</script>

{% endblock %}
