{% load purchase_info_tags %}
{% load cropping %}

<div class="row" id="shopItems">
    {% if shopProductCount > 0 %}
        {% if products %}
            {% for product in products %}
                {% purchase_info_for_product request product as session %}
                {% if product.is_top_level %}
                    <div class="col-xs-offset-0 col-xs-6 col-sm-offset-0 col-sm-4 col-md-2" style="padding-top: 1%; padding-bottom: 1%;">
                        <div class="">
                            <div class="">
                                <div class="thumbnail shopItem shopBorderColor" style="border: none;">

                                    {% if product.primary_image and product.primary_image.original.url %}
                                        {% with image=product.primary_image %}
                                            <div class="Item row">
                                                <div class="col-xs-12">
                                                    <a href="{{ shop.get_absolute_url }}{{ product.slug }}" rel="lightbox_{{ product.upc|default:"-" }}" class="sub-image" >
                                                        <img src="{% cropped_thumbnail image "cropping" scale=1 %}" alt="{{ product.get_title }}" class="itemSize" />
                                                    </a>
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% else %}
                                    -
                                    {% endif %}

                                            <div class="row">
                                                {% if product and product.is_top_level %}
                                                    {% if editmode %}
                                                        <a class="overlayEdit col-xs-offset-1 col-xs-1 pull-down"
                                                           href='{{ shop.get_absolute_url }}edit/{{ product.slug }}'
                                                           data-toggle="tooltip" data-placement="left" title="Edit item">
                                                            <span class="fa fa-pencil-square-o fa-lg tinvilleOrange pull-down"></span>
                                                        </a>
                                                        <div class="caption col-xs-6">
                                                    {% else %}
                                                        <div class="caption col-xs-12">
                                                    {% endif %}
                                                        <div class="row">
                                                            <a rel="" title="{{product.get_title}}" class="name" href="{{ shop.get_absolute_url }}{{ product.slug }}">{{product.get_title}}</a>
                                                        </div>

                                                        <div class="price row">
                                                            ${{session.price.excl_tax}}
                                                        </div>
                                                    </div>
                                                    {% if editmode %}
                                                        <a id='{{ product.slug }}' class="itemDelete col-xs-1 pull-down" style="cursor: pointer; padding-left: 10px"
                                                           onclick="DeleteConfirmation('{{ product.slug }}')"  >
                                                            <img class="overlayDelete" src='{{ STATIC_URL }}img/delete.png' data-toggle="tooltip" data-placement="right" title="Delete item" />
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                            </div>

                                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Delete Item</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button id="okDeleteBtn" type="button" class="btn btn-primary">OK</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div id="searchShopId" class="searchShop">
                    No item found with current filter selection
            </div>
        {% endif %}
    {% else %}
        <div id="" class="container">
            <div id="emptyShopId" class=" emptyShop col-xs-offset-3 col-xs-9 col-sm-offset-3 col-sm-9">Items coming soon...</div>
        </div>
    {% endif %}
</div>