{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load purchase_info_tags %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/designer_shop/styles.css" />
{% endblock css %}

{% block content %}
    {{ block.super }}

{#    <a href="/"><img id="tinyTinvillelogo" class="pull-left" src="{{ STATIC_URL }}img/tinyTinvillelogo.png"></a>#}
{#    need to add something if a designer does not have a banner#}
{#    this will be decribed at a later time#}

{#  <div class="container">#}
{#    <div class="row">#}
    

      {% if shop.banner and shop.logo %}
          <div class="shopBanner img-responsive full-screen ">
              <img id="id_BannerImage" class="shopBanner img-responsive full-screen" src="{{shop.banner.url}}" />
              <img id="id_LogoImage" class="shopLogoDiv" src="{{shop.logo.url}}" />
          </div>
      {% elif not shop.banner and shop.logo %}
          <div class="shopBanner full-screen shopBackgroundColor">
              <img class="shopLogoDiv2" src="{{shop.logo.url}}" />
          </div>
      {% elif shop.banner and not shop.logo %}
          <div>
            <img src="{{shop.banner.url}}" class="shopBanner img-responsive full-screen"  />
          </div>
      {% else %}
          <div class="shopBanner full-screen shopBackgroundColor">
          </div>
      {% endif %}

    {#    <div class="infoBanner full-screen shopBackgroundColor shopNavBarStyle"> #}
    {#       <ul class="shopNavBarList" >#}
      {#        <li class = "shopNavItemStyle"><a href = "#" class="shopNavLinkStyle">Shop    |</a></li>#}
       {#       <li class = "shopNavItemStyle"><a href = "#" class="shopNavLinkStyle">About   |</a></li>#}
       {#       <li class = "shopNavItemStyle"><a href = "#" class="shopNavLinkStyle">Landing     |</a></li>#}
       {#   </ul>#}
   {#   </div> #}


    <!-- Nav tabs -->
<ul class="nav nav-tabs shopBackgroundColor" role="tablist">
  <li class="active"><a href="#shop" role="tab" data-toggle="tab">Home</a></li>
  <li><a href="#about" role="tab" data-toggle="tab">About</a></li>
  <li><a href="#landing" role="tab" data-toggle="tab">Landing</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content ">
  <div class="navTab tab-pane active" id="shop">
                {% if user.email == shop.user.email%}
                    <div id="editLink" class="col-xs-1">
                        <a class="whhg-edit editIcon" href="{{ shop.get_absolute_url }}edit"> </a>
                    </div>
                {% endif %}

                <div class="panel panel-default col-xs-11">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body" id="aboutLocation">
                          <div class="container aboutContent col-xs-12">
                               {{ shop.aboutContent | safe }}
                          </div>
                      </div>
                    </div>
                </div>

  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
                 <select class="select form-control filterTabs "  id="filterTab1" name="Filter1">
                    <option>View All</option>
                      {% for category in categories %}
                        {% if category.depth == 1 %}
                            <option>{{ category.name }}</option>
                        {% endif %}
                     {% endfor %}
                  </select>
              </div>

              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
                  <select class="select form-control filterTabs" >
                    <option>View All Types</option>
                    {% for category in categories %}
                        {% if category.depth == 3 %}
                            <option class="">{{ category.name }}</option>
                        {% endif %}
                     {% endfor %}
                  </select>
              </div>

              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
                  <select class="select form-control filterTabs">
                    <option>All Prices</option>
                    <option>$0-$50</option>
                    <option>$50-$100</option>
                  </select>
              </div>

  <div class="shopItems ">
          {% if products %}


              {% for product in products %}
                {% purchase_info_for_product request product as session %}
                {% if product.is_top_level %}
                  <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                      <div class="thumbnail shopItem shopBorderColor">
                        {% if product.primary_image and product.primary_image.original.url %}
                            {% with image=product.primary_image %}
                                {% thumbnail image.original "200x250" upscale=False as thumb %}
                                <a href="{{ shop.get_absolute_url }}{{ product.slug }}" rel="lightbox_{{ product.upc|default:"-" }}" class="sub-image">
                                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="img-responsive"/>
                                </a>
                                {% endthumbnail %}
                            {% endwith %}
                        {% else %}
                                -
                        {% endif %}

                      <div class="caption">
                          <a class="name " href="{{ shop.get_absolute_url }}{{ product.slug }}">{{product.get_title}}</a>
                          <span class="price "> ${{session.price.excl_tax}}</span>
                          <span class="">
                              {% if not session.availability.is_available_to_buy %}
                                  {{  session.availability.message  }}
                              {% endif %}
                          </span>
                      </div>
                      </div>
                      {% block item_extensions %}{% endblock %}
                   </div>
                {% endif %}
              {% endfor %}
            {% else %}
                <div id="emptyShopId" class="emptyShop">
                    Items coming soon...
                </div>
            {% endif %}
        </div>

  </div>
  <div class="navTab tab-pane" id="about">{{ shop.aboutContent | safe }}</div>
  <div class="navTab tab-pane" id="landing"><p>Stuff for Landing</p></div>
</div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>

    $("#tinvilleTagBanner").css("height", "50px");
    $("#tinvilleTagBanner").css("top", "0px");
    $("#tinvilleTagBanner").css("margin-top", "0px");
    $(".shopColor").css("color", "{{ shop.color }}");
    $(".shopBackgroundColor").css("background-color", "{{ shop.color }}");

    </script>

{% endblock %}

