{% extends "designer_shop/shopperbase.html" %}
{% load purchase_info_tags %}
{% load bleach_tags %}
{% load cropping %}
{% block meta_title %}{{ shop.name }} on Tinville{% endblock meta_title %}
{% block meta_description %}{{ shop.aboutContent | bleach | truncatechars:160 }}{% endblock meta_description %}
{% block css %}
    {{ block.super }}
{% endblock css %}

{% block content %}
    {{ block.super }}

    <div class="navbar2 navbar-default shopBackgroundColor">
        <div class="container">
            <div class="navbar-header">
				<a class="navbar-brand shopTitleColor" href="{{ shop.get_absolute_url }}">{{ shop.name }}</a>
                <div class="visible-xs shopMenuBar editIconContainer">
                    <a class="navbar-brand shopMenuActiveColor shopTitleColor" id="shopTabLinkXS" data-toggle="tab" href="#shopTab">Shop</a>
                    <a class="navbar-brand shopTitleColor" id="aboutTabAnchorXS" href="#aboutTab"  role="tab" data-toggle="tab">About</a>
                    {% if editmode %}
                        <a type="button" id="colorAddProfileBtn" class="btn btn-primary btn-xs fa fa-pencil-square-o" data-toggle="modal" data-target="#colorPickerModal" style="font-size: 14pt;"></a>
                    {% endif %}
                </div>
			</div>

			<div class="hidden-xs collapse navbar-collapse editIconContainer">
				<ul class="nav navbar-nav">
                    {% if editmode %}
                        <li><a class="shopTitleColor" href="#" id="editorTour">Shop Tour</a></li>
                    {% endif %}
					<li class="shopTabLink active"><a class="shopTitleColor" id="shopTabAnchor" data-toggle="tab" href="#shopTab">Shop</a></li>
					<li id="aboutTabLink"><a class="shopTitleColor" id="aboutTabAnchor" href="#aboutTab" role="tab" data-toggle="tab">About</a></li>
                    {% if editmode %}
                        <button type="button" id="colorAddProfileBtn" class="btn btn-primary btn-xs fa fa-pencil-square-o colorPickerEditButton" data-toggle="modal" data-target="#colorPickerModal"></button>
                    {% endif %}
				</ul>
			</div>
        </div>
    </div>

    <div class="tab-content">
        <div class=" tab-pane active" id="shopTab">
            <div class="container">
                {% include "designer_shop/item_filter.html" %}
                <div class="container mobileThumbCol">
                    {% include "designer_shop/shop_items.html" %}
                </div>
            </div>
        </div>
        <div class=" tab-pane" id="aboutTab">
            <div class="container">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-2 aboutContent editIconContainer" style="padding-top: 20px">
                        {% if shop.aboutImg %}
                            {% load cropping %}
                            <img id="displayedAboutImg" class="full-screen banner-image" src="{% cropped_thumbnail shop "aboutImgCropping" scale=1 %}"  />
                            {% if editmode %}
                                <button type="button" class="btn btn-primary btn-xs fa fa-pencil-square-o aboutBoxEditButton" data-toggle="modal" data-target="#aboutBoxModal"></button>
                            {% endif %}
                        {% else %}
                            {% if editmode %}
                                <button id="aboutAddProfileBtn" type="button" class="btn btn-primary btn editButton fa fa-pencil-square-o" data-toggle="modal" data-target="#aboutBoxModal">
                                    Add Your Profile
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-8 aboutContent">
                        {{ shop.aboutContent | bleach }}
                        <div id="aboutHighlight"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hiddenShopperField"></div>

{% endblock %}

{% block uncompressable_js %}
    {{ block.super }}
    <script>


        $(function(){
            var tabType = "{{ tab }}";
            $("#aboutHighlight").toggle();
            if(tabType !== null && tabType == 'about')
            {
                $("#aboutTabAnchor").click();
                $("#aboutTabAnchorXS").click();
                $("#minMaxIcon").click();
                setTimeout(function () {
                            $("#aboutHighlight").toggle("highlight");
                        }, 1000
                );
                setTimeout(function () {
                            $("#aboutHighlight").toggle("highlight");
                        }, 8000
                );
            }
            ShopTabActive("{{ shop.color }}");
        });

        $("#shopTabLinkXS").click(function(){
        $("#shopTabLinkXS").addClass("shopMenuActiveColor");
        $("#aboutTabAnchorXS").removeClass("shopMenuActiveColor");
    });
    $("#aboutTabAnchorXS").click(function(){
        $("#shopTabLinkXS").removeClass("shopMenuActiveColor");
        $("#aboutTabAnchorXS").addClass("shopMenuActiveColor");
    });



        $('.shopTabLink').click(function() {
            ShopTabActiveClick();
        });

        function ShopTabActiveClick() {
            var bannerTextColor = ShopTabActive("{{ shop.color }}");
            $('#aboutTabAnchor').css("color", bannerTextColor);
        }

        function ShopTabActive(shopColor)
        {
            var bannerTextColor = isTooLightYIQ(shopColor) ? '#777' : '#e7e5e6';
            var textColor = isTooLightYIQ('#d8dfd7') ? '#898080' : bannerTextColor;
            $('#shopTabAnchor').css("color", textColor);
            return bannerTextColor;
        }

        $('#aboutTabLink').click(function() {
                AboutTabActiveClick();
                });

        function AboutTabActiveClick()
        {
            var bannerTextColor = AboutTabActive("{{ shop.color }}");
            $('#shopTabAnchor').css("color", bannerTextColor );
        }

        function AboutTabActive(shopColor) {
            var bannerTextColor = isTooLightYIQ(shopColor) ? '#777' : '#e7e5e6';
            var textColor = isTooLightYIQ('#d8dfd7') ? '#898080' : bannerTextColor;
            $('#aboutTabAnchor').css("color", textColor);
            return bannerTextColor;
        }

    $('#colorModalFooterSubmit').click(function()
    {
        if($('.shopTabLink').hasClass('active'))
        {
            var newBannerColor = $('#id_color').css('background-color');
            var converted = rgb2hex(newBannerColor);
            ShopTabActive(converted);
        }

        if($('#aboutTabLink').hasClass('active'))
        {
            var newBannerColor = $('#id_color').css('background-color');
            var converted = rgb2hex(newBannerColor);
            AboutTabActive(converted);
        }
    });

        function rgb2hex(rgb) {
            rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
        }

        function hex(x) {
            return isNaN(x) ? "00" : hexDigits[(x - x % 16) / 16] + hexDigits[x % 16];
        }

        var hexDigits = new Array("0","1","2","3","4","5","6","7","8","9","a","b","c","d","e","f");

    </script>
{% endblock %}

