<!DOCTYPE html>
{% extends "base.html" %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/designer_shop/styles.css" />
{% endblock css %}
{% block content %}
    {{ block.super }}
      {% if shop.banner and shop.logo %}
          <div class="full-screen">
              <img id="id_BannerImage" src="{{shop.banner.url}}" />
              <a href='{{ shop.get_absolute_url }}' data-toggle="tooltip" data-placement="right" title="Click here to go to {{ shop.name }}">
                <img id="id_LogoImage" class="shopLogoDiv" src="{{shop.logo.url}}" />
              </a>
          </div>
      {% elif not shop.banner and shop.logo %}
          <div class="full-screen shopBackgroundColor">
            <a href='{{ shop.get_absolute_url }}' data-toggle="tooltip" data-placement="right" title="Click here to go to {{ shop.name }}">
              <img class="shopLogoDiv2" src="{{shop.logo.url}}" />
            </a>
          </div>
      {% elif shop.banner and not shop.logo %}
          <div class="">
            <img class="full-screen" src="{{shop.banner.url}}"  />
          </div>
      {% else %}
          <div class=" shopBanner shopBackgroundColor">
          </div>
      {% endif %}

{% endblock %}

{% block javascript_library %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/vendor/parsley.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/parsley.min.js"></script>

{% endblock javascript_library %}

{% block javascript %}
    {{ block.super }}
    <script>

    $("#tinvilleTagBanner").css("height", "50px");
    $("#tinvilleTagBanner").css("top", "0px");
    $("#tinvilleTagBanner").css("margin-top", "0px");
    $(".shopColor").css("color", "{{ shop.color }}");
    $(".shopBackgroundColor").css("background-color", "{{ shop.color }}");

    </script>

{% endblock %}