#feedback_widget
{
	position: fixed;
	left: 0;
	top: 10px;
	z-index: 1031; /* 1 higher than Tinville shop editor*/
}
/*
 * Tinville Orange : f46430
 * Tinville Gray : e7e5e6
 * Tinville Dark Gray: #5B595A
 * Bottom Content : cfc1ab
 *
 */
#feedback_tab
{
	display: block;
	width: 115px;
	height: 115px;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    color: white;
}
#feedback_tab button
{
	height: 30px;
	width: 95px;
	padding-top: 3px;
	padding-bottom: 8px;
	padding-right: 10px;
	padding-left: 10px;
	border: 2px solid #333333;
	cursor: pointer;
	background-color: #f46430;
    color: white;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
}
#feedback_tab button:hover
{
	background-color: #888888;
}

#feedback_panel
{
	display: none;
	background-color: #5B595A;
	padding: 10px;
    color: white;
}
#feedback_panel p label, #feedback_panel p textarea{
	vertical-align: top;
}
