#infoPageSection {

}
ul.infoList {
    list-style-type:none;
    padding-left: 1%;
    padding-top: 2%;
    color: black;
    font-size: small;
}

.fpTitle{
    color: #f46430;

}

.orangeBanner{
    background-color:#f46430;
    padding-left: 5%;
    color: #ffffff;
    font-size: xx-large;
    font-weight: normal;
    border-radius: 4px;
}
.orangeLine{
    background-color:#f46430;
    padding-left: 5%;
    color: #ffffff;
    height: 2px;

}

.orangeTitle {
    color: #f46430;
    padding-left: 0%;
    font-size: x-large;
    font-weight: normal;

}

.infoPagesInfo {
    #font-size: 12pt;
    #font-family:"Century Gothic";
}

.infoPageContent {
    background-color: #ffffff;
    border-radius: 4px;
    font-size: small;
    padding-right: 2%;
}

.leftInfoPageContent {
    background-color: white;
    width: 883px;
    height: 528px;
    overflow-y: auto;
    border-radius: 4px;
    padding:3px 20px 3px 12px;
    #font-size: 11pt;
    #font-weight: normal;
    #font-family:"Century Gothic";
    margin-left: 0px;

}




.rightInfoPageContent {
    background-color: #e7e5e6;
    height: 100%;
    width: 250px;
    #margin-top: 40px;
    margin-right: 0px;
    margin-left: 15px;
}
.rightInfoImage {
    #margin-left: 0px;
    #margin-right: 0px;
}
.noMarginLeft {
    margin-left: 10px;
}


#faqSection {

}

.faqInfo {
    font-size: 12pt;
    font-family:"Century Gothic";
}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    font-size: medium;

    /*border-right: 1px solid #ddd;*/
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #f46430;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #f46430;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
