#infoPageSection {

}
ul.infoList {
    list-style-type:none;
    padding-left: 1%;
    padding-top: 2%;
    color: black;
    font-size: small;
}

.fpTitle{
    color: #f46430;

}

.orangeBanner{
    /*background-color:#f46430;*/
    padding-left: 5%;
    /*color: #ffffff;*/
    /*border-bottom: 1px solid #ddd;*/
    color:#f46430;
    font-size: x-large;
    font-weight: normal;
    border-radius: 4px;
}
.orangeLine{
    background-color:#f46430;
    padding-left: 5%;
    color: #ffffff;
    height: 2px;

}

.orangeTitle {
    color: #f46430;
    padding-left: 0%;
    font-size: x-large;
    font-weight: normal;

}

/*.test {*/
    /*padding: 0px 25px 0px 25px;*/
/*}*/

/*.testa {*/
    /*padding: 1px 1px 1px 10px;*/
/*}*/

.infoPageContent {
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 1.5em;
    padding-right: 2%;
    font-family:"Cabin Condensed", sans-serif;
    word-wrap:break-word;
}


.nav-sidebar {
    width: 100%;
    padding: 0px 25px 0px 25px;
    /*padding: 8px 0;*/
    font-size: medium;
    font-family:"Cabin Condensed", sans-serif;
    /*border-right: 1px solid #ddd;*/
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    padding: 1px 1px 1px 10px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #f46430;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #f46430;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.aboutText{
    /*background-color: #ffffff;*/
    /*border-radius: 4px;*/
    font-size: 1.25em;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family:"Cabin Condensed", sans-serif;
    word-wrap:break-word;
     text-align : center;
}

.about2ndText{
    /*background-color: #ffffff;*/
    /*border-radius: 4px;*/
    color: #ffffff;
    font-size: 1.25em;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:"Cabin Condensed", sans-serif;
    word-wrap:break-word;
     text-align : center;
}
.abouthiddenText{
    /*background-color: #ffffff;*/
    /*border-radius: 4px;*/
    color: #ffffff;
    font-size: 1.25em;
    margin: 0px;
    /*padding-bottom: 20px;*/
    font-family:"Cabin Condensed", sans-serif;
    word-wrap:break-word;
     text-align : center;
}
.abouthidden2ndText{
    /*background-color: #ffffff;*/
    /*border-radius: 4px;*/
    font-size: 1.25em;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    font-family:"Cabin Condensed", sans-serif;
    word-wrap:break-word;
     text-align : center;
}
.aboutLine {
    /*border: lightgray 1px solid;*/
    height: 1px;
    background-color: lightgray;
    color: lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutTitle {
    color: #fdbdA9;
    font-size: 3em;
    font-family:"Cabin Condensed", sans-serif;
    word-wrap:break-word;
     text-align : center;
    text-shadow: 0px -2px 10px -4px #f46430;
    padding-left: 30px;
}
.about1stTitle {
    padding-top: 20px;
    padding-left: 15px;
    color: #fdbdA9;
    font-size: 2.5em;
    font-family:"Cabin Condensed", sans-serif;
    word-wrap:break-word;
     text-align : left;
    text-shadow: 0px -2px 10px -4px #f46430;
}
.aboutMobileTitle {
    padding-top: 20px;
    padding-left: 15px;
    color: #F46430;
    font-size: 2.5em;
    font-family:"Cabin Condensed", sans-serif;
    word-wrap:break-word;
     text-align : left;
    text-shadow: 0px -2px 10px -4px #f46430;
}
.about2ndTitle {
    color: #575757;
    padding-top: 20px;
    font-size: 3em;
    font-family:"Cabin Condensed", sans-serif;
    word-wrap:break-word;
     text-align : center;
    text-shadow: 0px -2px 10px -4px #f46430;
}

@media (max-width: 767px) {

    .aboutTitle {
        font-size: 1.75em;
        padding-left: 30px;
    }
    .about1stTitle {
        padding-top: 20px;
        padding-left: 5px;
        font-size: 1.5em;
    }
    .about2ndTitle {
        padding-top: 20px;
        font-size: 1.75em;
    }

    .aboutText{
        font-size: 1em;
        /*padding-top: 60px;*/
    }

    .about2ndText{
        font-size: 1em;
    }
    .abouthiddenText{
        font-size: 1em;
    }
    .abouthidden2ndText{
        font-size: 1em;
    }
}
.aboutDashRight {
    border-right: lightgray 1px dashed;

}
.aboutDashLeft {
    border-left: lightgray 1px dashed;

}

.aboutCircle {
    /*border: lightgray 2px solid;*/
    /*border-radius: 50%;*/
    /*padding: 5px;*/
    left: 49%;
}
@media (max-width: 767px) {
    .aboutCircle {
        left: 48.5%;
    }
}
a.aboutCircle:link,
a.aboutCircle:visited,
a.aboutCircle:hover,
a.aboutCircle:active {
    color: #fdbdA9;
    text-decoration: none;
}


#thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  /*background-size: cover;*/
  background-position: center center;
  background-repeat: no-repeat;
}
    #thumbnail-preview-indicators,
    #thumbnail-preview-indicators .slides,
    #thumbnail-preview-indicators .slides .slide-1,
    #thumbnail-preview-indicators .slides .slide-2,
    #thumbnail-preview-indicators .slides .slide-3 {
      height: 480px;
    }
/*#thumbnail-preview-indicators .slides .slide-1 {*/
  /*background-image: url({{ STATIC_URL }}img/banner-xl.jpg);*/
/*}*/
/*#thumbnail-preview-indicators .slides .slide-2 {*/
  /*background-image: url(https://s3.amazonaws.com/ooomf-com-files/tU3ptNgGSP6U2fE67Gvy_SYDNEY-162.jpg);*/
/*}*/
/*#thumbnail-preview-indicators .slides .slide-3 {*/
  /*background-image: url(https://s3.amazonaws.com/ooomf-com-files/mtNrf7oxS4uSxTzMBWfQ_DSC_0043.jpg);*/
/*}*/
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 20%;
  bottom: inherit;

}
#thumbnail-preview-indicators .carousel-indicators li {
  position: relative;
  width: 10px;
  height: 10px;
  color: #F46430;
    border-color: #F46430;

}

#thumbnail-preview-indicators .carousel-indicators li.active {
  position: relative;
  width: 10px;
  height: 10px;
  color: #F46430;
    border-color: #F46430;
    background-color: #F46430;
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  position: absolute;
  top: 0;
  width: 100px;
  display: none;
  opacity: 0;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
  display: block;
  opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
  opacity: 1;
}
@media screen and (max-width : 480px) {
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
      width: 10px;
      height: 10px;
      position: relative;
    }
    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
       width: 10px;
       left: 50%;
       margin-top: -50px;
       margin-left: -25px;
    }
}
@media (max-width: 767px) {
    #thumbnail-preview-indicators,
    #thumbnail-preview-indicators .slides,
    #thumbnail-preview-indicators .slides .slide-1,
    #thumbnail-preview-indicators .slides .slide-2,
    #thumbnail-preview-indicators .slides .slide-3 {
      height: 150px;
    }
}

.about_section {
    background: 50% 50% no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 60px 20px;
    text-align: center;
    background-color: #e7e5e6;
}

.about_section .row {
    margin-top: 50px;
}

.about_section p {
    font-size: 2em;
}

@media (max-width: 767px) {
    .about_section {
        background-position: 60% 50% !important;
        background-size: cover !important;
        min-height: 0;
        margin: -5px;
        padding: 20px 20px;
    }
}

.section-heading {

}

.question {
    font-weight: bold;
}

