#infoPageSection {

}

.orangeTitle {
    color: #f46430;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 12pt;
    font-weight: normal;
    font-family:"Century Gothic";
}

.infoPagesInfo {
    #font-size: 12pt;
    #font-family:"Century Gothic";
}

.infoPageContent {
    background-color: #e7e5e6;
    height: 538px;
    width: 100%;
    border-radius: 4px;
    margin-top: 5px;
}

.leftInfoPageContent {
    background-color: white;
    width: 883px;
    height: 528px;
    overflow-y: auto;
    border-radius: 4px;
    padding:3px 20px 3px 12px;
    #font-size: 11pt;
    #font-weight: normal;
    #font-family:"Century Gothic";
    margin-left: 0px;

}




.rightInfoPageContent {
    background-color: #e7e5e6;
    height: 100%;
    width: 250px;
    #margin-top: 40px;
    margin-right: 0px;
    margin-left: 15px;
}
.rightInfoImage {
    #margin-left: 0px;
    #margin-right: 0px;
}
.noMarginLeft {
    margin-left: 10px;
}


#faqSection {

}

.faqInfo {
    font-size: 12pt;
    font-family:"Century Gothic";
}


