/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea
{
    color : #222222;
}

body
{
    font-size   : 1.3em;
    line-height : 1.4;
    font-family : "Cabin Condensed", sans-serif;
}

.well
{
    border-color : white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    font-family : "Cabin Condensed", sans-serif;
}

html
{
    /* Used to fix horizontal scroll on width: 100% */
    width      : auto !important;
    overflow-x : hidden !important;
    height     : 100%;
}

body
{
    width      : auto !important;
    overflow-x : hidden !important;
    height     : 100%;
}

/*
 * Tinville Orange : f46430
 * Tinville Gray : e7e5e6
 * Tinville Dark Gray: #5B595A
 * Bottom Content : cfc1ab
 *
 */

/*
 *Header
 *****************/

@media (max-width : 767px)
{
    .mobileDropItemStyle > li
    {
        border-bottom  : 1px solid #E7E7E7;
        padding-bottom : 5px;
        padding-top    : 5px;
    }

    .mobileDropListStyle
    {
        /*border-bottom: 1px solid #000000;*/

    }

    .mobileDropBtnStyle
    {
        text-align       : center;
        background-color : #E7E5E6;
    }

    .mobileDropBtnStyle a
    {
        margin-right : -10px;
        margin-left  : -10px;
    }

    .mobileNeighborMenu
    {
        display : inline-block;
    }
}

.contentButton
{
    width  : 30%;
    height : 50px;
}

.contentIcon
{
    width  : 24px;
    height : 24px;
}

:disabled
{
    color       : #6B849A;
    text-shadow : 1px 1px #FFFFFF;
    cursor      : default;
}


@media (min-width : 768px)
{
    .navbar-nav
    {
        float : right;
    }
}

body
{
    overflow-x : hidden; /* Used to fix horizontal scroll on width: 100% */
}

@media (min-width : 768px)
{
    .navdropstyle
    {
        left  : auto !important;
        width : auto;
    }
}

@media (min-width : 992px)
{
    .navdropstyle
    {
        width : auto;
    }
}

.navdropstyle
{
    background-color : #E7E7E7;
    border           : 2px solid #C2C2C2;
    margin-top       : -1px;
}

.navdropSize
{
    left  : auto;
    right : auto;
}

.navdropTopTextStyle
{
    color      : #000000;
    background : transparent;
}

.xs-navbar-text
{
    font-size     : 1.15em;
    margin-top    : 5px;
    margin-bottom : 5px;
}

.navbarLinkStyle a:visited
{
    color : #000000;
}

.navbarLinkStyle a:link
{
    color : #000000;
}

.navbarLinkStyle a:hover
{
    color           : #F46430;
    text-decoration : none;
}

#navHeader
{
}

#navSearch
{
    font-size    : 1.5em;
    margin-right : 5%;
    margin-top   : 10px;
}

#navLogin
{
    font-size    : 2em;
    margin-right : 5%;
    margin-top   : -3px;
}

#lg-menuLogin
{
    margin-right : 25px;
}
.logEmail {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    white-space: nowrap;

}

.menuEmail {
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 20px;
    /*color: #333;*/
    white-space: nowrap;
    position: relative;
    padding: 15px;
}
#navLogout
{
    font-size    : 2em;
    margin-right : 5%;
}

#signInButtonMobile
{
    margin-right : 10px;
    margin-top   : 0;
    float        : right;
}

.loginFormLine
{
    padding-bottom : 4%;
    border-top     : 1px ridge #F46430;
    margin-top     : 5%;
    top            : 49%;
}

@media (min-width : 768px)
{
    .loginFormLine
    {
        padding-bottom : 5%;
        margin-top     : 7%;
    }
}

@media (min-width : 992px)
{
    .loginFormLine
    {
        padding-bottom : 3%;
        margin-top     : 7%;
    }
}

.tinvilleTagBanner
{
    position   : relative;
    left       : 5%;
    z-index    : 1001; /* 1 higher than Bootstrap nav pop-ups*/
    height     : 72px;
}


.navbar
{
    margin-bottom : 0;
}

.full-screen
{
    width : 100%;
}

/**
  * Tommy Leedberg - 2/11/2014 - Defect #152
  *
  * Summary: 
  *      Updating the login popupform to align it with the
  *      sign-in button.
  * Solution:
  *     Added margins to keep the loginPopupForm aligned with the sign-in button
  *         0-767px    : width set to 100% no margins needed
  *         768px-991px  : right-margin of 4%
  *         992px-1200px : right-margin of 3%
  *         1200px+      : right-margin of 2%
  */

@media (max-width : 767px)
{
    .loginPopupForm
    {
        width : 100%
    }
}

@media (min-width : 768px)
{
    .loginPopupForm
    {
        left         : auto !important;
        width        : 250px;
        margin-right : 4%;

    }
}

@media (min-width : 992px)
{
    .loginPopupForm
    {
        margin-right : 3%;
    }
}

@media ( min-width : 1200px)
{
    .loginPopupForm
    {
        margin-right : 2.5%;
    }
}

.loginPopupForm
{
    background-color : #E7E7E7;
    padding: 0 20px 10px 20px;
    border-radius    : 8px;
    font-size        : small;
}

.loginPopupFormMobile
{
    background-color : #E7E7E7;
    border-radius    : 8px;
    font-size        : small;
    margin-left      : -300%;
    padding: 0 30px 20px;
    width            : 220px;
    top              : 52px;
}

.alignField
{

    padding-right : 0;
    padding-left  : 0;
}

.messageError
{
    margin-top : 10%;
}

.formField
{
    height        : 2em;
    margin-top    : 10px;
    font-size     : medium;
    border-radius : 4px;
}

.inputField
{
    border-radius : 4px;
}

@media (min-width : 768px)
{
    .formField
    {
        height    : 2em;
        font-size : small;
    }
}

.loginForgot
{
    font-size : .85em;
    height    : .85em;
}

#loginForgotPasswordLink
{
    padding-left : 0;
    clear        : both;
}

#loginForgotUsernameLink
{
    padding-left : 0;
    clear        : both;
}

#loginRegisterLink
{
    padding-left : 0;
    clear        : both;

}

.loginRegister
{
    font-size     : .9em;
    height        : .85em;
    margin-bottom : 5%;
}

#loginFacebookButton
{
    margin-top : 1%;
}

#rememberLoginLabel
{
    padding-right : 0;
    font-size     : .85em;
    padding-top   : 2px;
}
#submit-id-userform
{
    width : 50%;
    margin-left: 25%;
}

@media (max-width : 767px)
{
    #submit-id-userform
    {
        width : 66%;
        margin-left: 16.67%;
    }
}
.userType :hover
{
    background-color : white;
    border-color     : rgb(204, 204, 204);
}

.banner img
{
    width : 100%;
}

/*The CSS below is for the footer -Jeff Bowman*/

@media (max-width : 767px)
{
    .footer-nav
    {
        text-align : center;
        font-size  : 1.5em;
    }
}

#footerContainer
{
    background-color : #5B595A;
}

.footerRow
{
    margin-top    : 2em;
    margin-bottom : 1em;
}

@media (max-width : 767px)
{
    .footerRow
    {
        margin-top    : 1em;
        margin-bottom : 1em;
    }
}

@media (min-width : 768px)
{
    #footerNavRight
    {
        border-right : 1px solid #616161;
    }

    #footerNavLeft
    {
        border-left : 1px solid #616161;
    }
}

@media (min-width : 768px)
{
    .mainFooterListItem:first-child
    {
        font-weight   : bold;
        margin-bottom : .5em;
        color         : #CBD3D5;
    }
}

.footerButton
{
    padding : 1%;
    width   : 100%;
}

#tinvilleXSFooterHeaders
{
    font-weight : bold;
    color       : #CBD3D5;
}

#tinvilleFooterListItemPrimary
{
    color       : #CBD3D5;
    font-weight : bold;
}

@media (max-width : 767px)
{
    #tinvilleFooterListItemPrimary:first-child
    {
        color       : #CBD3D5;
        padding-top : 1em;
        border-top  : 1px solid #616161;
    }
}

#tinvilleFooterListItemChild
{
    color         : #858585;
    margin-bottom : .5em;
}

.footerRow a:link,
.footerRow a:visited,
.footerRow a:hover,
.footerRow a:active
{
    color           : #CBD3D5;
    text-decoration : none;
}

.footerSectionTitle
{
    background-color : #5B595A;
    border           : none;
}

.footerPanelTitle
{
    border-bottom : 1px ridge #616161;
    border-top    : 1px ridge #616161;
}

.footerPanelPadding
{
    padding-top : .5em;
}



textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color : rgba(244, 100, 48, 0.8);
    box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(244, 100, 48, 0.6);
}

.btn-primary
{
    color             : #FFFFFF;
    text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color  : #F46430;
    background-image  : -moz-linear-gradient(top, #FF9628, #F46430);
    background-image  : -webkit-gradient(linear, 0 0, 0 100%, from(#FF9628), to(#F46430));
    background-image  : -webkit-linear-gradient(top, #FF9628, #F46430);
    background-image  : -o-linear-gradient(top, #FF9628, #F46430);
    background-image  : linear-gradient(to bottom, #FF9628, #F46430);
    filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9628', endColorstr='#f46430', GradientType=0);
    border-color      : #F46430 #F46430 #F44B16;
    border-color      : rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color : #F46430;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled]
{
    color             : #FFFFFF;
    background-color  : #F46430;
    *background-color : #F44B16;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection
{
    background  : #B3D4FC;
    text-shadow : none;
}

::selection
{
    background  : #B3D4FC;
    text-shadow : none;
}

/*
 * Remove default fieldset styles.
 */

fieldset
{
    border  : 0;
    margin  : 0;
    padding : 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea
{
    resize : vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe
{
    margin     : 0.2em 0;
    background : #CCCCCC;
    color      : #000000;
    padding    : 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir
{
    background-color : transparent;
    border           : 0;
    overflow         : hidden;
    /* IE 6/7 fallback */
    *text-indent     : -9999px;
}

.ir:before
{
    content : "";
    display : block;
    width   : 0;
    height  : 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden
{
    display    : none !important;
    visibility : hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden
{
    border   : 0;
    clip     : rect(0 0 0 0);
    height   : 1px;
    margin   : -1px;
    overflow : hidden;
    padding  : 0;
    position : absolute;
    width    : 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
{
    clip     : auto;
    height   : auto;
    margin   : 0;
    overflow : visible;
    position : static;
    width    : auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible
{
    visibility : hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after
{
    content : " "; /* 1 */
    display : table; /* 2 */
}

.clearfix:after
{
    clear : both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix
{
    *zoom : 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width : 35em)
{
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-resolution : 144dpi)
{
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print
{
    *
    {
        background  : transparent !important;
        color       : #000000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow  : none !important;
        text-shadow : none !important;
    }

    a,
    a:visited
    {
        text-decoration : underline;

    }

    a[href]:after
    {
        content : " (" attr(href) ")";
    }

    abbr[title]:after
    {
        content : " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after
    {
        content : "";
    }

    pre,
    blockquote
    {
        border            : 1px solid #999999;
        page-break-inside : avoid;
    }

    thead
    {
        display : table-header-group; /* h5bp.com/t */
    }

    tr,
    img
    {
        page-break-inside : avoid;
    }

    img
    {
        max-width : 100% !important;
    }

    @page
    {
        margin : 0.5cm;
    }

    p,
    h2,
    h3
    {
        orphans : 3;
        widows  : 3;
    }

    h2,
    h3
    {
        page-break-after : avoid;
    }
}

/* Helper classes for vertical centering */

/* columns of same height styles */
.container-xs-height
{
    display       : table;
    padding-left  : 0;
    padding-right : 0;
}

.row-xs-height
{
    display : table-row;
}

.col-xs-height
{
    display : table-cell !important;
    float   : none !important;
}

@media (min-width : 768px)
{
    .container-sm-height
    {
        display       : table;
        padding-left  : 0;
        padding-right : 0;
    }

    .row-sm-height
    {
        display : table-row;
    }

    .col-sm-height
    {
        display : table-cell;
        float   : none;
    }
}

@media (min-width : 992px)
{
    .container-md-height
    {
        display       : table;
        padding-left  : 0;
        padding-right : 0;
    }

    .row-md-height
    {
        display : table-row;
    }

    .col-md-height
    {
        display : table-cell;
        float   : none;
    }
}

@media (min-width : 1200px)
{
    .container-lg-height
    {
        display       : table;
        padding-left  : 0;
        padding-right : 0;
    }

    .row-lg-height
    {
        display : table-row;
    }

    .col-lg-height
    {
        display : table-cell;
        float   : none;
    }
}

/* vertical alignment styles */
.col-top
{
    vertical-align : top;
}

.col-middle
{
    vertical-align : middle;
}

.col-bottom
{
    vertical-align : bottom;
}

/* Helper classes for vertical centering */

/* columns of same height styles */
.container-xs-height
{
    display       : table;
    padding-left  : 0;
    padding-right : 0;
}

.row-xs-height
{
    display : table-row;
}

.col-xs-height
{
    display : table-cell !important;
    float   : none !important;
}

@media (min-width : 768px)
{
    .container-sm-height
    {
        display       : table;
        padding-left  : 0;
        padding-right : 0;
    }

    .row-sm-height
    {
        display : table-row;
    }

    .col-sm-height
    {
        display : table-cell;
        float   : none;
    }
}

@media (min-width : 992px)
{
    .container-md-height
    {
        display       : table;
        padding-left  : 0;
        padding-right : 0;
    }

    .row-md-height
    {
        display : table-row;
    }

    .col-md-height
    {
        display : table-cell;
        float   : none;
    }
}

@media (min-width : 1200px)
{
    .container-lg-height
    {
        display       : table;
        padding-left  : 0;
        padding-right : 0;
    }

    .row-lg-height
    {
        display : table-row;
    }

    .col-lg-height
    {
        display : table-cell;
        float   : none;
    }
}

/* vertical alignment styles */
.col-top
{
    vertical-align : top;
}

.col-middle
{
    vertical-align : middle;
}

.col-bottom
{
    vertical-align : bottom;
}

.basket_cart_container
{
    margin-left: 2%;
}

#shoppingcartitems
{
    /*line-height:3em;*/
    /*height:260px;*/
    padding    : 0;
    color      : #714D03;
    width      : 300px;
    max-height : 270px;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
}

@media (max-width : 767px)
{
    #shoppingcartitems
    {
        max-height : 205px;
    }
}

.shoppingcartitem
{
    background-color : whitesmoke;
    /*border-bottom:2px solid #000000;*/
    clear            : both;
    border-bottom    : 2px #E2E1E1 solid;
    padding: 4px 30px 6px 20px;
}

.shoppingcartthumbnail
{
    max-width  : 75px;
    max-height : 75px;
}

.shoppingcartthumbnaildiv
{
}

.shoppingcartiteminfo
{
    /*width:150px;*/
    /*height:100px;*/
    float   : left;
    padding : 5px
}

.shoppingcartitemTitle
{
    color       : #2E2D2E;
    font-weight : bold;
}

.shoppingcartitemDescription
{
    /*margin-top: 7px;*/
    word-wrap     : normal;
    text-overflow : ellipsis;
    overflow      : hidden;
    white-space   : nowrap;
    color         : #5B595A;
}

.shoppingcartitemQty
{
    word-wrap     : normal;
    text-overflow : ellipsis;
    overflow      : hidden;
    white-space   : nowrap;
    color         : #F46430;
}

.shoppingcartremovebtn
{
    height : 50px;
    margin-right: 10px;
    float  : right;
}

.shoppingcartitemPrice
{
    color     : #F46430;
    font-size : 1.15em;
}


.shoppingcartpriceinfo
{
    padding-top: 10px;
}

#shoppingcartcheckout
{
    color : #FFFFFF;
}

.carttotal
{
    color       : #2E2D2E;
    font-size   : 1.15em;
    padding : 8px 20px 5px 5px;
    float: right;
}

.shoppingcartBtn
{
    float          : right;
    padding-top    : 4px;
    padding-bottom : 0;
    border         : none;
    background     : none;
}

.cartCount, .userNotifications, .dashboardNotifications
{
    width            : 14px;
    z-index          : 11;
    background-color : darkred;
    /*background-color: #f46430;*/
    border-radius    : 10px;
    border: 1px solid #5B595A;
    color            : #FFFFFF;
    font             : bold 11px Arial;
    line-height      : 14px;
    text-align       : center;
}

.dashboardNotifications
{
    margin-right: 5px;
}

.userNotifications
{
    top: -27px;
    right: -12px;
    position: relative;
}

.cartCount
{
    top: -7px;
    right: 9px;
    position: absolute;
}

.cartLocation
{
    width           : 30px;
    height          : 30px;
    z-index         : 1000;
    float           : right;
    position        : relative;
    top             : 20px;
    right           : 5px;
    list-style-type : none;
}

.cartDropdown
{
    margin-top  : 10px;
    width       : 275px;
    margin-left : -240px;
}

.footersociallogo
{
    padding : 1px;
}

.tinvilleOrange
{
    color : #F46430 !important;
}

.tinvilleBackgroundOrange
{
    background-color : #F46430 !important;
}

.tinvilleDrayGray
{
    color : #5B595A;
}

.tinvilleLightGray
{
    color : #E7E5E6;
}

/* Tommy Leedberg - 12/29/05 - Defect #364
 *
 * Summary from AgileWrap:
 *      In sign up page main picture tiles at 1920x1080 resolution
 *
 * Summary of Defect:
 *      The image's resolution is set to 1779x720 so when the resolution is greater than the width it titles.
 *
 * Solution:
 *      When the screen's resolution is greater than 1800 set the image width to 100% to keep the image from tiling but
 *      also to keep it stretched to fit.
 */
#registrationBackground
{
    height : 500px;
}

@media ( min-width : 1799px )
{
    #registrationBackground
    {
        background-size   : 100%;
        background-repeat : no-repeat;
    }
}


.navGradient {
    /*background: linear-gradient(white,white, white, white, white, white, white, white, white, white, rgb(250, 250, 248));*/
    /*background: -moz-linear-gradient(white,white, white, white, white, white, white, white, white, white, rgb(250, 250, 248));*/
    /*background: -o-linear-gradient(white,white, white, white, white, white, white, white, white, white, rgb(250, 250, 248));*/
    /*background: -webkit-linear-gradient(white, rgb(250, 250, 248));*/
    border-bottom: 3px solid #F46430;
    background: white;
}
.slidingContent
{
    padding-top: 52px;
    background-color: white;
}
/*Start mobile navbar*/
@media (max-width : 767px)
{
    .navbarSliding
    {
        width: 0;
        left: 0;
    }
    .navbar-main.navbar
    {
        position           : fixed;
        height             : 100%;
        /*width              : 70%;*/
        top                : 0;
        /*left               : 0;*/
        background-color   : #F1EEEF;
        overflow           : hidden;
        margin-top         : 58px;

        -webkit-transform  : translate(-100%, 0);
        -webkit-transition : all .2s linear;
        transition : all .2s linear;
        transform  : translate(-100%, 0);
    }

    /*.navbar-main.navbar .container{*/
    /*width: 200px;*/
    /*}*/
    .banner img
    {
        padding-left : 0;
    }

    .navbar-main.navbar .navbar-collapse
    {
        /*margin-left: -15%;*/
        overflow-x : hidden;
    }

    .slidingContent
    {
        -webkit-transition : all .2s linear;
        transition : all .2s linear;
        width: 100%;
        left: 0;
        position: relative;
        padding-top: 52px;
    }


    .navButtonIconStyle b
    {
        float         : right;
        padding-right : 1em;
    }

    .notransition
    {
        -webkit-transition : none;
        transition : none;
    }

    .navbar-main.navbar h2
    {
        padding    : 20px 0;
        color    : #E64A1C;
        text-align : center;
    }

    nav a
    {
        text-decoration : none;
    }

    nav a:hover
    {
        color : #CCCCCC;
    }

    #mobileMenu
    {
    }

    .navButton span
    {
        background          : black;
        border-bottom-color : black;
    }

}

/*END mobile navbar*/

.navbar-collapse2
{
    max-height                 : 340px;
    padding-right              : 15px;
    padding-left               : 15px;
    overflow-x                 : visible;
    border-top                 : 1px solid transparent;
    box-shadow                 : inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling : touch;
    overflow-scrolling : touch;
}

.navbar-collapse2:before,
.navbar-collapse2:after
{
    display : table;
    content : " ";
}

.navbar-collapse2:after
{
    clear : both;
}

.navbar-collapse2:before,
.navbar-collapse2:after
{
    display : table;
    content : " ";
}

.navbar-collapse2:after
{
    clear : both;
}

.navbar-collapse2.in
{
    overflow-y : auto;
}

@media (max-width : 767px)
{
    .navbar-collapse2
    {
        width      : auto;
        border-top : 0;
        box-shadow : none;
    }

    .navbar-collapse2.collapse
    {
        display        : block !important;
        height         : auto !important;
        padding-bottom : 0;
        overflow       : visible !important;
    }

    .navbar-collapse2.in
    {
        overflow-y : auto;
    }

    .navbar-collapse2 .navbar-nav.navbar-left:first-child
    {
        margin-left : -15px;
    }

    .navbar-collapse2 .navbar-nav.navbar-right:last-child
    {
        margin-right : -15px;
    }

    .navbar-collapse2 .navbar-text:last-child
    {
        margin-right : 0;
    }
}

.mobileNavButton
{
    float : left;
    left  : -88px;
    top   : 4px;
}

.slideMenuText
{
    font-size   : 15px;
    text-align  : left;
    margin-left : 4%;
}

/* colors used for pill navigation used throughout */

.nav-pills > li.active > a
{
    background-color : #F46430;
}

.nav-pills > li.active > a:focus
{
    background-color : #F46430;
}

.nav-pills > li > a
{
    color : #5B595A;
}

.nav-pills > li.active > a:hover
{
    background-color : #F44B16;
}

.nav-pills > li > a
{
    color : #5B595A;
}

.nav-pills > li > a:hover
{
    background-color : #E7E5E6;
}

/* For processing modal */
.modal-static
{
    position    : fixed;
    top         : 50% !important;
    left        : 50% !important;
    margin-top  : -100px;
    margin-left : -100px;
    overflow    : visible !important;
}

.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content
{
    width  : 200px;
    height : 200px;
}

.modal-static .modal-dialog,
.modal-static .modal-content
{
    padding : 0 !important;
    margin  : 0 !important;
}

.modal-static .modal-content .icon
{
}

/* for button processor */
.glyphicon-refresh-animate
{
    -animation        : spin .7s infinite linear;
    -webkit-animation : spin2 .7s infinite linear;
    -moz-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2
{
    from
    {
        -webkit-transform : rotate(0deg);
        transform : rotate(0deg);
    }
    to
    {
        -webkit-transform : rotate(360deg);
        transform : rotate(360deg);
    }
}

@-moz-keyframes spin2 {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

@keyframes spin
{
    from
    {
        transform : scale(1) rotate(0deg);
    }
    to
    {
        transform : scale(1) rotate(360deg);
    }
}

#aboutHighlight
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ccc;
    z-index: 10;
    opacity: 0.5;
}

.paymentInfo {
    margin-top: 10%
}


.slidingContent2
{
    /*min-height: 600px !important;*/
}

/* Glyphicon transforms */
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gly-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gly-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

.betaAccessAlign{
    padding-top: 5%;
    margin-left: 40%;
}

.dropdown-menu > li > a {
    white-space: normal !important;
}

.mobileMomentumScroll {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll !important;
}

/* so modals don't push stuff over.. */
body {
    padding-right: 0 !important;
}

/* Fixes issue with Modal-backdrop  in bootstrap 3.3.4 */
.modal-backdrop {
    z-index: -1;
}