/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: "MS Sans Serif", Geneva, sans-serif
}

/*
 * Tinville Orange : f46430
 * Tinville Gray : e7e5e6
 * Tinville Dark Gray: #5B595A
 * Bottom Content : cfc1ab
 *
 */

/*
 *Header
 *****************/

@media(max-width: 767px){
    .mobileDropItemStyle > li{
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .mobileDropListStyle{
        border-bottom: 1px solid #000000;
        padding-bottom: 5px;

    }

    .mobileDropBtnStyle{
        text-align: center;
    }

    .mobileNeighborMenu{
        display: inline-block;
    }
}

:disabled {
    color: #6b849a;
    text-shadow: 1px 1px #ffffff;
    cursor: default;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}

body {
    overflow-x: hidden; /* Used to fix horizontal scroll on width: 100% */
}



@media (min-width: 768px) {
  .navdropstyle {
    left: auto !important;
    width: 65%;
  }
}

@media (min-width: 992px) {
  .navdropstyle {
    width: 40%;
  }
}

.navdropstyle {
    background-color: #e7e7e7;
    border: 2px solid #c2c2c2;
    margin-top: -1px;
    /*opacity: .95;*/
}

.navdropSize{
  left: auto;
  right: auto;
}

.navdropTopTextStyle {
  color: #000000;
}

.xs-navbar-text {
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbarLinkStyle a:visited {
    color: #000000;
}

.navbarLinkStyle a:link {
    color: #000000;
}

.navbarLinkStyle a:hover{
    color: #f46430;
    text-decoration: none;
}

#navHeader {
}

#navSearch {
    font-size: 2.8em;
    margin-right: 5%;
    margin-top: 12px;
}

#signInButton {
    margin-right: 0;
    margin-top: 0;
}

.loginFormLine {
    padding-bottom: 4%;
    border-top: 1px ridge #f46430;
    margin-top: 5%;
    top: 49%;
}


 @media (min-width: 768px) {
   .loginFormLine {
    padding-bottom: 5%;
       margin-top: 7%;
   }
 }

 @media (min-width: 992px) {
   .loginFormLine {
    padding-bottom: 3%;
    margin-top: 7%;
   }
 }















#tinvilleTagBanner {
    position: absolute;
    top: 20px;
    left: 5%;
    z-index: 1001; /* 1 higher than Bootstrap nav pop-ups*/
    height: 75px;
}


@media(max-width: 767px){
    #tinvilleTagBanner {
    position: absolute;
    top: 20px;
    left: 5%;
    z-index: 1001; /* 1 higher than Bootstrap nav pop-ups*/
    height: 75px;
}

   /* #carousel{
    height: 812px;
    length: 2632px;
    } resizing home girl image for mobile*/
}

.navbar {
    margin-bottom: 0;
}

.full-screen {
    width: 100%;
}

.row-full-screen {
    margin-right: 0;
}

@media (min-width: 768px) {
  .loginPopupForm {
    left: auto !important;
    width: 250px;
  }
}

@media (min-width: 992px) {
  .loginPopupForm {
    /*width: 232px;*/
  }
}

.loginPopupForm {
    background-color: #E7E7E7;
    padding-top: 0%;
    padding-bottom: 1%;
    border-radius: 8px;
    font-size: small;
    /*width: 250px;*/
    /*opacity: .95;*/

}

.messageError {
    margin-top: 10%;
}

.formField {
    height: 2em;
    margin-top: 10px;
    font-size: medium;
    border-radius: 4px;
}

.inputField {
    border-radius: 4px;
}

@media (min-width: 768px) {
  .formField {
    height: 2em;
    font-size: small;
  }
}

.loginForgot {
    font-size: .85em;
    height: .85em;
}
#loginForgotPasswordLink {
    padding-left: 0;
    clear: both;

}

#loginForgotUsernameLink {
    padding-left: 0;
    clear: both;

}

#loginRegisterLink {
    padding-left: 0;
    clear: both;

}

.loginRegister {
    font-size: .85em;
    height: .85em;
    margin-bottom: 5%;
}

#loginFacebookButton {
    /*min-width: 50%;*/
    margin-top: 1%;
}

#rememberLoginLabel {
    padding-right: 0;
    font-size: .85em;
    padding-top: 2px;
}


/*#banner {*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*margin-top: 1em;*/
    /* width:60%; */
/*}*/
/* Banner */
/*#banner #tinvilleTagBanner {*/
    /*font-size: 3.571em;*/
    /*line-height: .6;*/
    /*margin-bottom: .5em;*/
/*}*/

/*#banner #rightSide {*/
    /*width: 150px;*/
    /*float: right;*/
/*}*/
/*#banner h1 a:link, #banner h1 a:visited {*/
    /*color: #000305;*/
    /*display: block;*/
    /*font-weight: bold;*/
    /*margin: 0 0 .6em .2em;*/
    /*text-decoration: none;*/
    /*width: 427px;*/
/*}*/

/*#banner h1 a:hover, #banner h1 a:active {*/
    /*background: none;*/
    /*color: #C74350;*/
    /*text-shadow: none;*/
/*}*/

/*#banner h1 strong {*/
    /*font-weight: normal;*/
/*}*/


/* Main Nav */
/*#banner #categoryNav {*/
    /*background: #000305;*/
    /*font-size: 1.143em;*/
    /*height: 40px;*/
    /*line-height: 30px;*/
    /*margin: 0 auto 2em auto;*/
    /*padding: 0;*/
    /*text-align: center;*/
    /*width: 800px;*/
    /*border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*font-family: "MS Sans Serif", Geneva, sans-serif;*/
    /*text-align: left;*/
    /*font-size: .75em;*/
    /*line-height: 1;*/
    /*height: 20px;*/
/*}*/

/*.line {*/

/*}*/

/*.mainNav .mainNavUnorderedList {*/
    /*list-style: none;*/
    /*margin: 0 auto;*/
    /*padding: 0 0 0 0;*/
/*}*/

/*.mainNav .mainNavListItem {*/
    /*float: left;*/
    /*display: inline;*/
    /*margin: 0;*/
    /*padding: 0 1em 0 1em;*/
/*}*/

/*.mainNav .mainNavListItem:first-child {*/
    /*padding: 0 1em 0 0;*/
/*}*/
/*.mainNav .mainNavListItem+.mainNavListItem {*/
    /*border-left: 1px solid lightgray;*/
/*}*/
/*.mainNav a:link, .mainNav a:visited {*/
    /*color: #fff;*/
    /*display: inline-block;*/
    /*height: 30px;*/
    /*padding: 5px 1.5em;*/
    /*text-decoration: none;*/
    /*color: black;*/
/*}*/


/*.accountLinks {*/
    /*float: right;*/
    /*font-size: 10px;*/
    /*line-height: 1;*/
    /*height: 15px;*/

/*}*/

/*.accountLinks  li {*/
    /*padding: 0 .5em 0 .5em;*/
/*}*/

/*.mainNav .mainNavListItem:first-child {*/
    /*padding: 0 .5em 0 0;*/
/*}*/

/*.contentBorder {*/
    /*height: 4px;*/
    /*background-color:  #f46430;*/
    /*margin: 0 0;*/
    /*border: none;*/
/*}*/

/*#loginModalOuterDiv {*/
    /*background-color: #e7e5e6;*/
    /*padding: 10px;*/
/*}*/

/*#banner nav a:hover, #banner nav a:active, #banner nav .active a:link, #banner nav .active a:visited {*/
    /*background: #C74451;*/
    /*color: #fff;*/
    /*text-shadow: none !important;*/
/*}*/

/*#banner nav li:first-child a {*/
    /*border-top-left-radius: 5px;*/
    /*-moz-border-radius-topleft: 5px;*/
    /*-webkit-border-top-left-radius: 5px;*/
    /*border-bottom-left-radius: 5px;*/
    /*-moz-border-radius-bottomleft: 5px;*/
    /*-webkit-border-bottom-left-radius: 5px;*/
/*}*/

/*.mainContent {*/
    /*height: 450px;*/
    /*background-color: #e7e5e6;*/
    /*overflow:auto;*/
/*}*/

/*#carousel {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*.centerContent {*/
    /*width: 75%;*/
    /*margin: 0 auto;*/
/*}*/

/* Village of Shops Area */
/*#villageOfShops {*/
    /*background-color: #cfc1ab;*/
    /*height: 300px;*/
/*}*/


/* Main Footer */


/* #mainFooter {
    background-color: #5B595A;
}*/

/*The CSS below is for the footer -Jeff Bowman*/

@media (max-width: 768px) {
  .footer-nav {
      text-align: center;
      font-size: 1.5em;
  }
}

#footerContainer {
    background-color: #5B595A;
}

.footerRow {
    margin-top: 2em;
    margin-bottom: 1em;
}

@media (max-width: 768px) {
  .footerRow {
    margin-top: 1em;
    margin-bottom: 1em;
}
}

@media (min-width: 768px) {
    #footerNavRight {
        border-right: 1px solid #616161;
    }

    #footerNavLeft {
        border-left: 1px solid #616161;
    }
}

@media (min-width: 768px) {
    .mainFooterListItem:first-child {
       font-weight: bold;
       margin-bottom: .5em;
       color: #CBD3D5;
    }
}

#tinvilleXSFooterHeaders {
    font-weight: bold;
    color: #CBD3D5;
}

#tinvilleFooterListItemPrimary {
    color: #CBD3D5;
    font-weight: bold;
}

@media (max-width: 768px) {
    #tinvilleFooterListItemPrimary:first-child {
        color: #CBD3D5;
        padding-top: 1em;
        border-top: 1px solid #616161;
    }
}

#tinvilleFooterListItemChild {
    color: #858585;
    margin-bottom: .5em;
}

.footerRow a:link {
    color: #CBD3D5;
}
.footerRow a:visited {
    color: #CBD3D5;
}
.footerRow a:hover {
    color: #CBD3D5;
}
.footerRow a:active {
    color: #CBD3D5;
}

/*.listPadding {*/
    /*padding-bottom: -0.5em;*/
/*}*/

.footerSectionTitle {
    background-color: #5B595A;
    border: none;
}

.footerPanelTitle {
    border-bottom: 1px ridge #616161;
    border-top: 1px ridge #616161;
}

.footerPanelPadding {
    padding-top: .5em;
}

/*}*/
/*#mainFooter nav {*/
    /*background: #000305;*/
    /*font-size: 1.143em;*/
    /*height: 40px;*/
    /*line-height: 30px;*/
    /*margin: 0 auto 2em auto;*/
    /*padding: 0;*/
    /*text-align: center;*/
    /*width: 800px;*/
    /*border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*margin-top: 2em;*/
    /*text-align: left;*/
    /*font-size: 10px;*/
    /*line-height: 1;*/
    /*height: 15px;*/
/*}*/

/*#signInModal {*/
    /*width: 1200px;*/
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/

/*}*/

/*#message_area {*/
    /*font-size: .7em;*/
/*}*/


/*.mainLinks a:hover, .mainLinks a:active, .mainLinks .active a:link, .mainLinks .active a:visited {*/
    /*color: #f46430;*/
    /*text-shadow: none !important;*/
/*}*/

/*.tinvilleButton {*/
/*}*/

/*.noBottomMargin {*/
    /*margin-bottom: 0px;*/
/*}*/

/*.noLeftMargin {*/
    /*margin-left: 0px;*/
/*}*/

/*.noRightMargin {*/
    /*margin-right: 0px;*/
/*}*/

/*.form-footer {*/
    /*margin-top: 20px*/
/*}*/

/*.hidden {*/
    /*visibility: hidden;*/
/*}*/

/*.floatLeft {*/
    /*float: left;*/
/*}*/

/*.clear {*/
    /*clear: both;*/
/*}*/

/*legend {*/
    /*color: #f46430;*/
/*}*/

/*a {*/
    /*color: #f46430;*/
/*}*/

/**/
 /** Bootstrap overrides*/
 /***/
 /**/

/*.mainNav .mainNavListItem:first-child*/
/*{*/
    /*padding-right: 1em;*/
/*}*/

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(244, 100, 48, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(244, 100, 48, 0.6);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f46430;
  background-image: -moz-linear-gradient(top, #ff9628, #f46430);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9628), to(#f46430));
  background-image: -webkit-linear-gradient(top, #ff9628, #f46430);
  background-image: -o-linear-gradient(top, #ff9628, #f46430);
  background-image: linear-gradient(to bottom, #ff9628, #f46430);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9628', endColorstr='#f46430', GradientType=0);
  border-color: #f46430 #f46430 #f44b16;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f46430;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #f46430;
  *background-color: #f44b16;
}

/*.container-fluid {*/
    /*min-width: 780px;*/
    /*max-width: 1260px*/
/*}*/

/*.well {*/
    /*background-color: white;*/
/*}*/







/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

/*hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}*/

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

/*img {*/
    /*vertical-align: middle;*/
/*}*/

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;

    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}