

@media (min-width: 992px) {

  .userInfoText {
      float: left;
  }
}

@media (max-width: 767px) {
    .userInfoText {
        text-align: center;
    }
}

.orangeHeading {
    color: #f46430;
    font-size: 18px;
    font-weight: normal;
}


.loginForm {
    margin-bottom: 0px;
}


.userInfo {
    font-size: 1.5em;
    text-align: left;
}

.registerField {
    height: 4em;
    margin-top: 20px;
}

.registerButton {
    height: 3em;
}

.userRegistrationForm {
    padding: 5%;
}


