{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} About{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/infoPages.css" />
    <style>
        @media (min-width: 768px) {
            #about_banner {
                background-image: url({{ STATIC_URL }}img/infopageimg/Banner_place_holder.jpg)
            }
        }
{#            #about_community {#}
{#                background-image: url("http://previews.123rf.com/images/wavebreakmediamicro/wavebreakmediamicro1403/wavebreakmediamicro140341513/27142941-two-fashion-designers-adjusting-dress-on-model-in-the-studio.jpg");#}
{#            }#}
{##}
{#            #about_designer_sell {#}
{#                background-image: url("http://previews.123rf.com/images/zhudifeng/zhudifeng1504/zhudifeng150400346/38765710-fashion-clothes-shopfront-in-shopping-mall.jpg");#}
{#                color: #e7e5e6;#}
{##}
{#            }#}
{##}
{#            #about_designer_ship {#}
{#                background-image: url("http://us.123rf.com/450wm/sbotas/sbotas1309/sbotas130900010/23077330-conceptual-view-about-checkouts-or-payments-over-internet-and-mobile-devices.jpg");#}
{#                color: #e7e5e6;#}
{#            }#}
{##}
{#            #about_shopper {#}
{#                background-image: url("http://previews.123rf.com/images/goodluz/goodluz1206/goodluz120600921/14118950-young-man-buying-music-on-internet-with-tablet-online-shopping-payment.jpg");#}
{#                color: #e7e5e6;#}
{#            }#}
{#        }#}
{##}
{#        @media (max-width: 767px) {#}
{#            #about_main {#}
{#                background-image: url({{ STATIC_URL }}img/infopageimg/aboutMobileBanner.jpg);#}
{#            }#}
{##}
{#            #about_community {#}
{##}
{#            }#}
{##}
{#            #about_designer_sell {#}
{##}
{#            }#}
{##}
{#            #about_designer_ship {#}
{##}
{#            }#}
{##}
{#            #about_shopper {#}
{##}
{#            }#}
{#        }#}
    </style>
{% endblock css %}
{% block content %}
    {{ super }}
        <div id="about_banner" class="about_section">
            {% include "infopages/about/about_banner.html" %}
        </div>
        <div id="about_" class="about_section col-sm-offset-2 col-sm-4">
            I am the column
        </div>
        <div id="about_community" class="about_section col-sm-4">
            the other column
        </div>
        <div id="about_payment" class="about_section col-xs-12 container">
            About payment
        </div>
        <div id="about_social" class="col-xs-12">
            {% include "infopages/about/about_payment.html" %}
        </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
    </script>
{% endblock %}