
{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} about{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/infoPages.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/registerAndLogin.css" />
{% endblock css %}
{% block content %}
{{ block.super }}
    <img id="carousel" class="img-responsive full-screen" src="{{ STATIC_URL }}img/infopageimg/info-page-image.png"/>
    <div class="container" style="height: 2px"></div>
    <div class="container">
        <div class="row">
            <div class="container orangeBanner">{{ flatpage.title }}</div>
        </div>
        <div class="row" style= "padding-bottom: 2%; padding-top: 5%  ;  ">
            <div class="hidden-xs hidden-sm col-md-2 col-md-offset-1" id="Navigation">
                <nav class="nav-sidebar">
                    <ul class="nav">
                        <li class="" id="About"><a href="/about">About Us</a></li>
                        <li class="" id="FAQ"><a href="/faq">FAQ</a></li>
                        <li class="" id="Policies"><a href="/policies">Policies</a></li>
                        <li class="" id="Terms"><a href="/terms">Terms</a></li>

                    </ul>
                </nav>
            </div>

            <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-sm-offset-1 col-md-7 infoPageContent">{{ flatpage.content }}</div>

        </div>

    </div>



<script>


$(window).load(function() {


    $("#{{ flatpage.title }}").addClass("active");
});


</script>

{% endblock %}
