{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        <span class="divider">/</span>
    </li>
        <li>
            <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
            <span class="divider">/</span>
        </li>
    <li class="active">{% trans 'Complete' %}</li>
</ul>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-12 col-md-6 col-md-offset-3 paymentInfo">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% trans "Password reset complete" %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans "Your password has been set.  You may go ahead and sign in now." %}</p>
                        <a href="#lg-menuLogin" data-toggle="dropdown" class="hidden-xs btn btn-large btn-primary" data-target="#lg-menuLogin" aria-expanded="true">{% trans 'Sign in' %}</a>
                        <a href="#xs-menuLogin" data-toggle="dropdown" class="hidden-lg hidden-md hidden-sm btn btn-large btn-primary" data-target="#xs-menuLogin" aria-expanded="true">{% trans 'Sign in' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
