{% extends "base.html" %}
{% load url from future %}
{% load category_tags %}
{% load dashboard_tags %}
{% load i18n %}
{% load compress %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard/styles.css" xmlns="http://www.w3.org/1999/html"/>
{#    {% compress css %}#}
{#        <link rel="stylesheet" href="{% static "oscar/css/bootstrap.min.css" %}" />#}
{#        {% if use_less %}#}
{#            <link rel="stylesheet" type="text/less" href="{% static "oscar/less/dashboard.less" %}" />#}
{#        {% else %}#}
{#            <link rel="stylesheet" type="text/css" href="{% static "oscar/css/dashboard.css" %}" />#}
{#        {% endif %}#}
{#    {% endcompress %}#}
{% endblock %}

{#{% block extrastyles %}#}
{#    {{ block.super }}#}
{#    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.css">#}
{#    {% compress css %}#}
{#        <link rel="stylesheet" href="{% static "oscar/js/select2/select2.css" %}" />#}
{#    {% endcompress %}#}
{#{% endblock %}#}

{% block title %}
    {% trans "Dashboard" %} | {{ block.super }}
{% endblock title %}

{% block content %}
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.tinville.com/elevn-clothing-co/">Share on Facebook</a>
{#    {% block navbar %}#}
{#    <div class="navbar navbar-static-top navbar-inverse navbar-accounts">#}
{#        <div class="navbar-inner">#}
{#            <div class="dashboard">#}
{#                <span class="brand">{{ shop_name }}</span>#}
{#                <a class="btn navbar-btn" data-toggle="collapse" data-target=".nav-accounts">#}
{#                    <span class="glyphicon glyphicon-bar"></span>#}
{#                    <span class="glyphicon glyphicon-bar"></span>#}
{#                    <span class="glyphicon glyphicon-bar"></span>#}
{#                </a>#}
{#                <div class="navbar-collapse nav-accounts collapse">#}
{#                    <ul class="nav pull-right">#}
{#                        <li><span>{% trans "Welcome" %} <em>{{ request.user.get_full_name|default:request.user.email }}</em></span></li>#}
{#                        <li><a href="{% url 'promotions:home' %}"><i class="glyphicon glyphicon-home"></i> {% trans "Return to site" %}</a></li>#}
{#                        <li><a href="{% url 'customer:summary' %}"><i class="glyphicon glyphicon-user"></i> {% trans "Account" %}</a></li>#}
{#                        <li><a href="{% url 'customer:logout' %}"><i class="glyphicon glyphicon-signout"></i> {% trans "Log out" %}</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div><!-- /navbar-inner -->#}
{#    </div><!-- /navbar -->#}
{#    {% endblock navbar %}#}

    {% block dashboard_nav %}
        {% dashboard_navigation request.user %}

        <div id="dashboardNav" class="navbar nav navbar-static-top navbar navbar-primary">
            <div class="navbar-inner">
                <div class="dashboard">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed navButton" data-toggle="collapse" data-target=".nav-primary">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse nav-primary">
                        <ul class="nav navbar-nav">
                            {% for item in nav_items %}
                                {% if "Catalogue" not in item.label %}
                                <li class="dropdown">
                                    {% if item.is_heading %}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {% if item.icon %}<i class="glyphicon {{ item.icon }}"></i>{% endif %}
                                        {{ item.label }} <b class="caret"></b>
                                    </a>
                                    {% else %}
                                    <a href="{{ item.url }}">
                                        {% if item.icon %}<i class="glyphicon {{ item.icon }}"></i>{% endif %}
                                        {{ item.label }}
                                    </a>
                                    {% endif %}
                                    {% if item.has_children %}
                                    <ul class="dropdown-menu">
                                        {% for subitem in item.children %}
                                        <li>
                                            <a href="{{ subitem.url }}">
                                            {% if subitem.icon %}<i class="glyphicon {{ subitem.icon }}"></i>{% endif %}
                                            {{ subitem.label }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="dashboard">
        {% block breadcrumbs %}
        <ul class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a> <span class="divider">/</span></li>
        </ul>
        {% endblock breadcrumbs %}

        <div class="content">
            {% include 'partials/alert_messages.html' %}
            {% block header %}
            <div class="page-header action">
                <h1>{% block headertext %}{% endblock headertext %}</h1>
            </div>
            {% endblock %}
            <div class="page-content">
                {% block dashboardcontent %}
                    {% block dashboard_content %}{% endblock dashboard_content %}
                {% endblock dashboardcontent %}
            </div>
        </div>
    </div><!-- /container -->

    {% comment %}
        This block includes a single pixel from one of Tangent's servers.  We use the referer header to determine which sites are
        using Oscar.  Since Tangent sponsor Oscar's development, this is an important metric to help justify the investment.  You
        are, of course, welcome to remove this tracker - but please email the mailing list if you have a production site using Oscar.
    {% endcomment %}
    {% block trackerimage %}
        {% if call_home and not debug %}
            <img src="//oscar-static.tangentlabs.co.uk/tracker.gif" style="display:none" />
        {% endif %}
    {% endblock %}

{% endblock %}

{% block extrascripts %}
    {{ block.super }}

    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

{#    {% compress js %}#}
        {# jQuery plugins #}
        <script src="{% static "oscar/js/mousewheel/jquery.mousewheel.min.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "oscar/js/scrollpane/jquery.jscrollpane.min.js" %}" type="text/javascript" charset="utf-8"></script>
        {# The CSS for the timepicker is embedded in dashboard.less #}
        <script src="{% static "oscar/js/timepicker/jquery-ui-timepicker-addon.min.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "oscar/js/select2/select2.js" %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static "oscar/js/oscar/dashboard.js" %}" type="text/javascript" charset="utf-8"></script>
{#    {% endcompress %}#}
{##}
{#    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js" type="text/javascript" charset="utf-8"></script>#}
{#    <script src="//tinymce.cachefly.net/4.0/jquery.tinymce.min.js" type="text/javascript" charset="utf-8"></script>#}

{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.dashboard.init();
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        var prevMode = 0;
        var prevTab = "";

        $(document).ready(function(){
            prevMode = checkMode();
            prevTab = getCurrentActiveTab();
            var mode = checkMode();
            if (mode == 'xs')
            {
                collapseAll();
            }
            else
            {
                expandAll();
            }
        });

        $(window).resize(function(){
            var currentMode = checkMode();
            var mode = checkMode();
            if (mode == 'xs' && currentMode != prevMode)
            {
                collapseAll();
                $("#orderContentDropdownHead").text("");
                $("#orderContentDropdownHead").text(prevTab);
                $("#orderContentDropdownHead").append('<span class="caret"></span>');
            }
            else if (mode == 'xs'){}
            else if (mode != 'xs' && currentMode != prevMode)
            {
                expandAll();
            }
            else if (mode != 'xs')
            {
                expandAll();
            }
            prevMode = checkMode();
        });

        function collapseAll()
        {
            $('.dashboardCollapse.collapse.in').collapse('hide');
        }

        function expandAll()
        {
            $('.dashboardCollapse.collapse').collapse('show');
        }

        $("#orderContentDropdown li").click(function (){
            $("#orderContentDropdownHead").text($(this).text());
            $("#orderContentDropdownHead").append('<span class="caret"></span>');
        });

        $("#nav-non-xs li").click(function(){
            prevTab = $("li.active",this).text();
        });

        $("#nav-xs li").click(function(){
            prevTav = $("li.active",this).text();
        });

        function getCurrentActiveTab()
        {
            var mode = checkMode();
            if (mode == "xs")
            {
                return $("#nav-xs li.active").text();
            }
            else
            {
                return $("#nav-non-xs li.active").text();
            }
        }

        $( document.body ).on( 'click', '.dropdown-menu.specialDropdown li', function( event ) {
            var $target = $( event.currentTarget );
            $target.closest( '.btn-group' )
               .find( '[data-bind="label"]' ).text( $target.text() )
               .end()
               .children( '.dropdown-toggle' ).dropdown( 'toggle' );
            return false;
        });

        function printElement(elem) {
            var domClone = elem.cloneNode(true);
            var $printSection = document.getElementById("printSection");
            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }
            $printSection.innerHTML = "";
            $printSection.appendChild(domClone);
        }


    </script>
{% endblock %}