{% extends "base.html" %}
{% block content %}
    <div class="container" style="padding-bottom: 20px">
        <div style="padding-top: 50px"></div>
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
                </thead>
            </table>
            <div class="row">
                <div style="margin-bottom: 10px;" class="col-xs-offset-1 col-xs-10 col-sm-offset-6 col-sm-6 col-md-offset-10 col-md-2 text-center">
                    <strong id="checkoutTotal">Total: </strong>
                </div>
                <a href="{% url 'checkout:index' %}" id="checkoutBtn" class="tinvilleBackgroundOrange col-xs-offset-1 col-xs-10 col-sm-offset-6 col-sm-6 col-md-offset-10 col-md-2 btn btn-success" ><i class="fa fa-angle-right"></i> Checkout</a>
            </div>
    </div>


{% endblock %}

 {% block javascript %}
    {{ block.super }}

    <script>
        $(function() {
            LoadCheckoutCartDivs();
            aggregateCheckoutTotal();
        });

        function LoadCheckoutCartDivs()
        {
            var url = "/load_cart"
            ajax_req = $.ajax({
                url: url,
                type: "GET",
                dataType: 'json',
                success: function(data, textStatus, jqXHR) {
                    $.each(data, function(index, item)
                    {
                        if (item.msg == ''){
                            item.image = "{{ MEDIA_URL }}" + item.image
                            LoadCheckoutCartDiv(item)
                        }
                        else {
                            $('#messageId').html(item.msg)
                            $('#messageModal').modal('show');
                        }
                    });
                },
                error: function(data, textStatus, jqXHR) {
                }
            });
        }

        function LoadCheckoutCartDiv(cartItem)
        {
            var cartitemtr =  $('<tr/>', {
                'id' : cartItem.Id
            });

            var cartitemtd = $('<td/>', {'data-th' : 'Product' });

            var cartprodrow = $('<div/>', {'class':'row'});

            var itemThumbnail = $('<img/>', {'src':cartItem.image, 'class': 'img-responsive'});
            var thumbnailDiv = $('<div/>', {'class': 'col-sm-4 col-md-6'});
            itemThumbnail.appendTo(thumbnailDiv);
            thumbnailDiv.appendTo(cartprodrow);
            cartprodrow.appendTo(cartitemtd);

            var itemInfoDiv = $('<div/>', {'class' : 'col-sm-5'});

            var itemTitle = $('<h4/>', {'class':'nomargin','text':cartItem.title});
            itemTitle.appendTo(itemInfoDiv);

            var itemDescription = $('<p/>', {'text':cartItem.description, 'class': 'hidden-xs'});
            itemDescription.appendTo(itemInfoDiv);

            var itemColor = $('<p/>', {'text':'Color: ' + cartItem.color});
            itemColor.appendTo(itemInfoDiv);

            var itemSize= $('<p/>', {'text':'Size: ' + cartItem.size});
            itemSize.appendTo(itemInfoDiv);

            itemInfoDiv.appendTo(cartprodrow);
            cartitemtd.appendTo(cartitemtr);
            var price = '$' + cartItem.price;
            var priceDiv = $('<td/>', {'id': 'id_price_' + cartItem.product_id,'data-th' : 'Price', 'text': price, 'class': 'col-sm-1'});
            priceDiv.appendTo(cartitemtr);

            var qtyTd = $('<td/>', {'data-th' : 'Quantity'});
            var qtyInputDiv = $('<input/>', {'class': 'form-control text-center', 'type' : 'number', 'min':'1', 'max': cartItem.currentStock, 'value' : cartItem.qty, 'onchange' : 'AddCheckoutItemQuantity(this, ' + cartItem.product_id + ')'});
            qtyInputDiv.appendTo(qtyTd);
            qtyTd.appendTo(cartitemtr);

            var subTotal = $('<td/>', {'id': 'id_subtotal_' + cartItem.product_id, 'style': 'text-align: center;', 'data-th' : 'Subtotal', 'text': '$' + cartItem.subtotal});
            subTotal.appendTo(cartitemtr);

            var actions  = $('<td/>', {'class':'actions', 'data-th': ''});
            var delBtnId = 'deleteBtnId_' + cartItem.Id;

            var removeBtn = $('<button/>', { 'type' : 'button', 'onclick' : 'RemoveCheckoutItem(' + cartItem.Id + ',' + cartItem.shopSlug +')', 'id' : delBtnId,
                'class' : 'shoppingcartBtn', 'html' : '<img src="{{ STATIC_URL }}img/delete.png" width="20" height="20">'
            });
            removeBtn.appendTo(actions);
            actions.appendTo(cartitemtr);

            if( $('#'+cartItem.shopSlug).length )
            {
                cartitemtr.appendTo("#"+cartItem.shopSlug);
            }
            else
            {
                var shopDiv = $('<tr/>', {
                    'text' : cartItem.shop, 'style': 'font-size: large;'
                });
                var shopBody = $('<tbody/>', {'id' : cartItem.shopSlug});
                shopDiv.appendTo(shopBody)
                cartitemtr.appendTo(shopBody);
                shopBody.appendTo(".table");
            }
        }

        function RemoveCheckoutItem(Id, shopSlug)
        {
            RemoveCartItem(Id);
            $('#'+Id).remove();
            if($('#'+shopSlug.id).children().length == 1)
                $('#'+shopSlug.id).remove();
            aggregateCheckoutTotal();
        }

        function AddCheckoutItemQuantity(event, id)
        {
            var url = "/update_cart_item"
            ajax_req = $.ajax({
                url: url,
                type: "POST",
                data: {
                    "product_id" : id,
                    "quantity" : event.value
                },
                success: function(data, textStatus, jqXHR) {
                    $('#id_price_'+id).text('$'+data.price);
                    $('#id_subtotal_'+id).text('$'+data.subtotal);
                    $('#checkoutTotal').text('Total: $' + data.total);
                    $('#checkoutTotalMobile').text('Total: $' + data.total);
                },
                error: function(data, textStatus, jqXHR) {
                }
            });
        }

        function aggregateCheckoutTotal()
        {
            var url = "/cart_total"
            ajax_req = $.ajax({
                url: url,
                type: "GET",
                success: function(data, textStatus, jqXHR) {
                    $('#checkoutTotal').text('Total: $' + data.total);
                    $('#checkoutTotalMobile').text('Total: $' + data.total);
                },
                error: function(data, textStatus, jqXHR) {
                }
            });
        }
    </script>
{% endblock javascript %}