
    {% extends "base.html" %}
    {% block content %}
    <div class="container">
        <div align="center"><font size="12" color="f46430">Tinville</font></div>

        <div class="container">
        <!-- load items dynamically -->
        <div align="center" id="checkoutcartitems" class="col-xs-12 col-md-10 col-lg-10 col-xl-10"></div>


        </div>
    </div>
        <!-- align right -->
        <div class="container" align="center">
            <div>
                <div>
                    <font id="checkoutTotal">Total: </font>
                </div>
                <div style="position:relative; left: 100px;">
                    <!-- paypal button -->
                    <button id="paypalBtn">PayPal Button</button>
                </div>
            </div>
        </div>

<script>
    $(function() {
        LoadCheckoutCartDivs();
        aggregateCheckoutTotal();
    });

function LoadCheckoutCartDivs()
{
    cartState = sessionStorage.getItem("cartState");
    cartJson = JSON.parse(cartState || "{}");

    aggregateTotal();
    var cartItems = cartJson["cartList"];

    if(cartItems !== undefined)
    {
        $.each(cartItems, function(index, item)
        {
            LoadCheckoutCartDiv(item);
        });
    }
}

    function LoadCheckoutCartDiv(cartItem)
    {
        var cartitemdiv =  $('<div/>', {
            'class':'shoppingcartitem col-xs-12 col-sm-12 col-md-12',
            'id' : cartItem.Id
        });

        var itemThumbnail = $('<img/>', {'src':cartItem.image, 'class': 'img-responsive shoppingcartthumbnail'});
        var thumbnailDiv = $('<div/>', {'class': 'shoppingcartthumbnaildiv'});
        itemThumbnail.appendTo(thumbnailDiv);
        thumbnailDiv.appendTo(cartitemdiv);

        var itemInfoDiv = $('<div/>', {'class' : 'shoppingcartiteminfo'});

        var itemTitle = $('<div/>', {'class':'shoppingcartitemTitle','text':cartItem.title});
        itemTitle.appendTo(itemInfoDiv);

        var itemDescription = $('<div/>', {'class':'shoppingcartitemDescription', 'text':cartItem.description});
        itemDescription.appendTo(itemInfoDiv);

        itemInfoDiv.appendTo(cartitemdiv);
        var removeBtnDiv = $('<div/>', {'class':'shoppingcartremovebtn'});
        var delBtnId = 'deleteBtnId_' + cartItem.Id;

        var removeBtn = $('<button/>', { 'type' : 'button', 'onclick' : 'RemoveCheckoutItem(' + cartItem.Id + ')', 'id' : delBtnId,
            'class' : 'shoppingcartBtn', 'html' : '<img src="{{ STATIC_URL }}img/delete.png" width="20" height="20">'
        });
        removeBtn.appendTo(removeBtnDiv);
        removeBtnDiv.appendTo(cartitemdiv);

        //TODO: Call aggregate checkout total when quantity is changed
        var qtyDiv = $('<form/>', {'class' : ''});
        var qtyInputDiv = $('<input/>', {'type' : 'number', 'min':'1', 'value' : cartItem.qty, 'onchange' : 'aggregateCheckoutTotal()'});
        qtyInputDiv.appendTo(qtyDiv);
        qtyDiv.appendTo(cartitemdiv);

        var price = '$' + cartItem.price;
        var priceDiv = $('<div/>', {'class':'shoppingcartitemPrice', 'text': price});
        priceDiv.appendTo(cartitemdiv);
        cartitemdiv.appendTo("#checkoutcartitems");

    }

    function RemoveCheckoutItem(Id)
    {
        RemoveCartItem(Id);
        $('#'+Id).remove();
        aggregateCheckoutTotal();
    }

    function aggregateCheckoutTotal()
    {
        var cartTotal = 0.00;

        //TODO: Load from basket service
        cartState = sessionStorage.getItem("cartState");
        cartJson = JSON.parse(cartState || "{}");
        var cartList= cartJson["cartList"];
        if(cartList === undefined)
            cartList = new Object();

        $.each(cartList, function(index, item)
        {
            if(item === undefined || item.price === undefined)
                cartTotal += 0.00;
            else
                cartTotal += item.price * item.qty;

        });

        $('#checkoutTotal').text('Total: $' + cartTotal.toFixed(2));
    }


</script>
    {% endblock %}