<div>
    <h1>Print, Ship, Track, $$$</h1>
</div>

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <i class="glyphicon glyphicon-print" style="font-size: 60px"></i>
                </div>
                <div class="col-xs-12">
                    <h2>We Provide Your Shipping, Just Print the Label and Ship!</h2>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <i class="glyphicon glyphicon-envelope" style="font-size: 60px"></i>
                </div>
                <div class="col-xs-12">
                    <h2>We Track Every Step of the Shipment, Keeping You and Your Customers Up To Date</h2>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <i class="glyphicon glyphicon-usd" style="font-size: 60px"></i>
                </div>
                <div class="col-xs-12">
                    <h2>Get Paid Frequently, Reliably, and Securely</h2>
                </div>
            </div>
        </div>
         <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <i class="glyphicon glyphicon-tag" style="font-size: 60px"></i>
                </div>
                <div class="col-xs-12">
                    <h2>Take Advantage of our Discount Shipping Rates</h2>
                </div>
            </div>
        </div>
    </div>
</div>
