<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="center-block img-responsive" src="{{ STATIC_URL }}img/about_glyphs/get_paid.svg"/>
        </div>
        <div class="col-sm-4">
            <img class="center-block img-responsive" src="{{ STATIC_URL }}img/about_glyphs/tracking.svg"/>
        </div>
        <div class="col-sm-4">
            <img class="center-block img-responsive" src="{{ STATIC_URL }}img/about_glyphs/fast_shipping.svg"/>
        </div>
    </div>
</div>