<div class="container">
    <div>
        <h1>Shop our Designers</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
            <i class="fa fa-exchange"></i>
            <div>
                <p>Secure Checkout</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="glyphicon glyphicon-chevron-up"></i>
            <div>
                <p>Shop All Designers With a Single Fluid Checkout</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
            <i class="glyphicon glyphicon-chevron-up"></i>
            <div>
                <p>Shop Unique Designers</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="glyphicon glyphicon-chevron-up"></i>
            <div>
                <p>Free Shipping on All Orders!</p>
            </div>
        </div>
    </div>
</div>