<div class="column-section row">
    <div class="col-xs-12 about-column">
        <img class="img-responsive center-block" src="{{ STATIC_URL }}img/infopageimg/large_square_about_col_a.jpg">
    </div>
</div>

<div class="column-section row section-yellow">
    <div class="col-xs-12 about-column">
        <h1 class="about_section_title">Online Business Management</h1>
        <p>Create a storefront and Take Control of Your Brand</p>
        <div class="col-xs-6 col-sm-4 col-sm-offset-1 center-svg">
            <img class="img-responsive" src="{{ STATIC_URL }}img/about_glyphs/social_media.svg"/>
            <div>
                <p>
                    Increase Exposure to the Masses While Building Relationships
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 center-svg col-sm-offset-2">
            <img class="img-responsive" src="{{ STATIC_URL }}img/about_glyphs/analytics.svg"/>
            <div>
                <p>
                    Track your Shop Stats to Make the Right Decisions to Improve Your Profitability
                </p>
            </div>
        </div>
    </div>
</div>

<div class="column-section row hidden-xs">
    <div class="col-xs-6 about-column">
        <img class="img-responsive center-block" src="{{ STATIC_URL }}img/about_glyphs/orange_arrow.svg">
    </div>
    <div class="col-xs-6 about-column">
        <img class="img-responsive center-block" src="{{ STATIC_URL }}img/infopageimg/small_square_about_col_b.jpg">
    </div>
</div>

<div class="column-section row hidden-xs">
    <div class="col-xs-12 about-column">
        <img class="img-responsive center-block" src="{{ STATIC_URL }}img/infopageimg/wide_rectangle_about_col_b.jpg">
    </div>
{#    <div class="col-xs-6 about-column">#}
{#        <img class="img-responsive center-block" src="{{ STATIC_URL }}img/infopageimg/place_holder_3.jpg">#}
{#    </div>#}
</div>

