<div class="column-section row section-yellow">
    <div class="col-xs-12 about-column">
        <h1 class="about_section_title">Our Community</h1>
        <p class="col-xs-12">
            Tinville is an interactive e-commerce platform that is revolutionizing the way consumers interact with fashion designers and their collections.
            We offer designers a simple and direct route to their clientele and fan base. Tinville understands the importance of connecting designers while
            introducing them to a larger community of fashion oriented individuals.
        </p>
    </div>
</div>

<div class="column-section row">
    <div class="col-xs-6 about-column">
        <img class="img-responsive hidden-xs" src="{{ STATIC_URL }}img/infopageimg/small_square_about_col_a.jpg">
    </div>
    <div class="col-xs-6 about-column">
        <img class="image_left img-responsive hidden-xs" src="{{ STATIC_URL }}img/about_glyphs/orange_arrow.svg">
    </div>
</div>

<div class="column-section row">
    <div class="col-xs-12 about-column">
        <img class="img-responsive center-block hidden-xs" src="{{ STATIC_URL }}img/infopageimg/rectangle_about_col_a.jpg">
    </div>
</div>

<div class="column-section row">
    <div class="col-xs-12 about-column">
        <h1 class="about_section_title">What Makes Us Different</h1>
        <p class="col-xs-12">
            Dedicated to Helping Fashion Designers<br>
            No Upfront or Monthly Costs of Fees<br>
            Free Shipping on All Orders<br>
            Single Fluid Checkout from Multiple Designer's Shops
        </p>
    </div>
</div>
