<h1 class="about_section_title">Visit Our social Media</h1>
<div>
    <a id="footerfacebookLink" href="http://www.facebook.com/Tinville1" target="_blank" class="fa fa-facebook fa-lg footersociallogo"></a>
    <a id="footertwitterLink" href="http://www.twitter.com/Tinville1" target="_blank" class="fa fa-twitter fa-lg footersociallogo"></a>
    <a id="footerpinterestLink" href="http://www.pinterest.com/tinville1/" target="_blank" class="fa fa-pinterest fa-lg footersociallogo"></a>
    <a id="footerinstagramLink" href="http://instagram.com/Tinville" target="_blank" class="fa fa-instagram fa-lg footersociallogo"></a>
</div>
