<div class="column-section row">
    <div class="col-xs-12">
        <img class="img-responsive center-block" src="{{ STATIC_URL }}img/infopageimg/place_holder_1.jpg">
    </div>
</div>

<div class="column-section row section-yellow background-padding">
    <div class="col-xs-12">
        <h1 class="about_section_title">Online Business Management</h1>
        <p>Create a storefront and Take Control of Your Brand</p>
        <div class="col-xs-4 col-sm-offset-1 center-svg">
            <img class="img-responsive" src="{{ STATIC_URL }}img/about_glyphs/social_media.svg"/>
            <div>
                <p>
                    my text about this icon is awesome, look how awesome it is
                </p>
            </div>
        </div>
        <div class="col-xs-4 center-svg col-sm-offset-2">
            <img class="img-responsive" src="{{ STATIC_URL }}img/about_glyphs/analytics.svg"/>
            <div>
                <p>
                    my text about this icon is awesome, look how awesome it is
                </p>
            </div>
        </div>
    </div>
</div>

<div class="column-section row">
    <div class="col-xs-6">
        <img class="img-responsive center-block" src="{{ STATIC_URL }}img/about_glyphs/orange_arrow.svg">
    </div>
    <div class="col-xs-6">
        <img class="img-responsive center-block" src="{{ STATIC_URL }}img/infopageimg/place_holder_3.jpg">
    </div>
</div>

<div class="column-section row">
    <div class="col-xs-6">
        <img class="img-responsive center-block" src="{{ STATIC_URL }}img/infopageimg/place_holder_3.jpg">
    </div>
    <div class="col-xs-6">
        <img class="img-responsive center-block" src="{{ STATIC_URL }}img/infopageimg/place_holder_3.jpg">
    </div>
</div>

