<div class="container">
    <div class="row">
        <div class="col-xs-offset-0 col-sm-offset-6 col-sm-6">
            <div class="col-xs-4 col-sm-offset-2 col-sm-3">
                <img class="center-block img-responsive" src="{{ STATIC_URL }}img/infopageimg/shop.png"/>
            </div>
            <div class="col-xs-4 col-sm-3" >
                <img class="center-block img-responsive" src="{{ STATIC_URL }}img/infopageimg/wear.png"/>
            </div>
            <div class="col-xs-4 col-sm-3" >
                <img class="center-block img-responsive" src="{{ STATIC_URL }}img/infopageimg/inspire.png"/>
            </div>
        </div>
    </div>
</div>

