<div class="container">
    <h1>The Tinville Community</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fa fa-exchange"></i>
            <div>
                <p>Direct Route Between Fashion Designers and Fanbase</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="glyphicon glyphicon-chevron-up"></i>
            <div>
                <p>Direct Route Between Fashion Designers and Fanbase</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-4">
            <i class="glyphicon glyphicon-chevron-up"></i>
            <div>
                <p>Direct Route Between Fashion Designers and Fanbase</p>
            </div>
        </div>
    </div>
</div>