<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">ou
                    <img class="center-block img-responsive" src="{{ STATIC_URL }}img/about_glyphs/get_paid.svg"/>
                    <div>
                        <p>
                            Get Paid Frequently, Reliably, and Securely
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <img class="center-block img-responsive" src="{{ STATIC_URL }}img/about_glyphs/tracking.svg"/>
                    <div>hB
                        <p>
                            We Provide Your Shipping, Just Print the Label and Ship
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <img class="center-block img-responsive" src="{{ STATIC_URL }}img/about_glyphs/fast_shipping.svg"/>
                    <div>
                        <p>
                            Take Advantage of our Discount Shipping Rates
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>