<div class="container">
    <div class="col-xs-offset-0 col-md-offset-3 col-xs-4 col-md-2" >
        <img class="center-block img-responsive" src="{{ STATIC_URL }}img/infopageimg/shop.png"/>
    </div>
    <div class="col-xs-4 col-md-2" >
        <img class="center-block img-responsive" src="{{ STATIC_URL }}img/infopageimg/wear.png"/>
    </div>
    <div class="col-xs-4 col-md-2" >
        <img class="center-block img-responsive" src="{{ STATIC_URL }}img/infopageimg/inspire.png"/>
    </div>
</div>
<div>
    <div class="col-xs-4 col-md-2 col-md-offset-4" >
        <img class="center-block img-responsive" src="{{ STATIC_URL }}img/shopper_big_logo.png"/>
        <a class="btn btn-primary" href="#about_shopper">More about shopping</a>
    </div>
    <div class="col-xs-4 col-md-2" >
        <img class="center-block img-responsive" src="{{ STATIC_URL }}img/designer_big_logo.png"/>
        <a class="btn btn-primary" href="#about_designer">More about selling</a>
    </div>
</div>
