.checkoutAlign {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.continueButtonAlign{
    display: inline;
    width:auto;
    padding-left: 10%;
    padding-right: 10%;
}

.emailAlign{
    padding-left: 1.5em;
}

.slidingContent{

}

.formStyle{
    padding-left: 30%;
}