.checkoutAlign {
}

.continueButtonAlign{
    display: inline;
    width:50%;
}

.slidingContent{
    background: #f8f8f8;
}

.formStyle{
    padding-left: 30%;
}

.hideBullets{
    list-style-type: none;
}

.shippingFont{
    font-size:1.4em ;
}

.confirmationAlign{
    padding-top:5%;
    padding-left: 5%;
    background-color: transparent;
}

.mobileTotals{
    float:left;
}

@media (min-width: 768px) {
     .checkOutTop
    {
         padding-top: 50px;
    }
}
.checkOutTop
{
}