.checkoutAlign {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.continueButtonAlign{
    display: inline;
    width:auto;
    padding-left: 10%;
    padding-right: 10%;
}

.slidingContent{
    background: #f8f8f8;
}

.formStyle{
    padding-left: 30%;
}

.hideBullets{
    list-style-type: none;
}

.shippingFont{
    font-size:1.4em ;
}

.confirmationAlign{
    padding-top:5%;
    padding-left: 5%;
    background-color: transparent;
}

.mobileTotals{
    float:left;
}

.betaAccessAlign{
    width: 50%
}