{% extends "base.html" %}
base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Checkout gateway" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=0 %}
{% endblock %}

{% block checkout_title %}{% trans "Who are you?" %}{% endblock %}

{% block css %}
{{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/checkout/styles.css" />
{% endblock css %}
{% block content %}

    <form action="." method="post" class="form-stacked well">
    <div class = "checkoutAlign">
                        {% csrf_token %}
    					{% load crispy_forms_tags %}
						{% crispy form %}

                        <div class="form-actions">
            <div class="row-fluid">
                <div class="span3">
                    <button type="submit" class="btn btn-large btn-block btn-primary continueButtonAlign">{% trans "Continue" %}</button>
                </div>
            </div>
        </div>
    </div>
    </form>

{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.checkout.gateway.init();
{% endblock %}
