{% extends "base.html" %}
{% load i18n %}
{% load cropping %}
{#{% block meta_title %}Tinville{% endblock meta_title %}#}



    {% block css %}
        {{ block.super }}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/designer_shop/styles.css" />
    {% endblock css %}


{#    {% block body_class %}{{ block.super }} home{% endblock %}#}
    {% block content %}
        {{ block.super }}


        <div id="thumbnail-preview-indicators" >
            <span data-picture class="banner">
                <span data-src="{{ STATIC_URL }}img/home/tinville_mobile.jpg"></span>
                <span data-src="{{ STATIC_URL }}img/home/tinville_banner.jpg" data-media="(min-width: 768px)"></span>
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript>
                    <img src="{{ STATIC_URL }}img/home/tinville_mobile.jpg">
                </noscript>
            </span>
        </div>



        <div class="container" style="padding-bottom: 50px;">
{#            <div class="allBlock tinvilleOrange"></div>#}
            {% include "designer_shop/item_filter.html" %}
            <div class="container">
                {% include "designer_shop/shop_items.html" %}
            </div>
        </div>


    {% endblock %}

    {% block bottomContent %}
        <div id="villageOfShops"></div>
    {% endblock %}


    {% block javascript_library %}
      {{ block.super }}
    {% endblock javascript_library %}

    {% block javascript %}
        {{ block.super }}
        <script>


    {#        $("#thumbnail-preview-indicators .slides .slide-1 ").css("background-image", "url({{ STATIC_URL }}img/banner-xl.png)");#}
        </script>
        <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
        <script>
        $.endlessPaginate({
            onCompleted: function(){
                setItemSizes();
            }
        });

        $(window).load(function() {
{#            updateItemView(true);#}
            document.getElementById("filterGender").onchange = function()
            {
                localStorage.setItem('filterGender', document.getElementById("filterGender").value);
            }

            document.getElementById("filterType").onchange = function()
            {
                localStorage.setItem('filterType', document.getElementById("filterType").value);
            }

            document.getElementById("filterSort").onchange = function()
            {
                localStorage.setItem('filterSort', document.getElementById("filterSort").value);
            }

            if (localStorage.getItem('filterGender'))
            {
                var genderFilter = localStorage.getItem('filterGender');
                $("#filterGender").val(genderFilter);
            }

            if (localStorage.getItem('filterType'))
            {
                var typeFilter  = localStorage.getItem('filterType');
                $("#filterType").val(typeFilter);
            }

            if (localStorage.getItem('filterSort'))
            {
                var sortFilter = localStorage.getItem('filterSort');
                $("#filterSort").val(sortFilter);
            }
    updateItemView(true);
        });
        </script>

    {% endblock %}
