{% load purchase_info_tags %}
{% load cropping %}
{% load endless %}
    {% if menproducts %}
        {% paginate menproducts %}
            {% for product in menproducts %}
                {% if forloop.counter <= 5 %}
                    <div id="mitem{{ forloop.counter }}">
                    {% include "designer_shop/item_gallery.html" %}
                    </div>
                {% endif %}
            {% endfor %}
    {% else %}
        <div id="searchShopId" class="searchShop">
                No item found with current filter selection
        </div>
    {% endif %}