{% load purchase_info_tags %}
{% load cropping %}
{% load endless %}

{% load cache %}

{% cache 900 women_homepage_cache %}
    {% if womenproducts %}
        {% paginate womenproducts %}
            {% for product in womenproducts %}

                    {% if forloop.counter <= 4 %}
                        <div id="witem{{ forloop.counter }}">
                        {% include "designer_shop/item_gallery.html" %}
                        </div>
                    {% endif %}

            {% endfor %}
    {% else %}
        <div id="searchShopId" class="searchShop">
                No item found with current filter selection
        </div>
    {% endif %}
{% endcache %}
