<!DOCTYPE html>
{% load i18n %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block page_title %}{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0" />#}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/mega-menu.css" />
{#    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">#}
    {% block css %}{% endblock %}


</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->


    <div class="container">
        <header id="banner" class="body">
            <div class="row">
                <div class="span2">
                    <a href="/"><img id="tinvilleTagBanner" src="{{ STATIC_URL }}img/tinville1.png" /></a>
                </div>

                <div class="span3 offset10">
                    <nav id="accountAndLogin" class="mainNav mainLinks accountLinks">
                        <ul>
                            <li class="mainNavListItem"><a href="#">MY ACCOUNT</a></li>
                            {% if user.is_authenticated %}
                                <li class="mainNavListItem"><a href="/logout">SIGN OUT</a></li>
                            {% else %}
                                <li class="mainNavListItem"><a data-toggle="modal" href="#signInModal">SIGN IN</a></li>
                            {% endif %}
                        </ul>
                    </nav>

                    <div class="modal hide" id="signInModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <hr class="contentBorder loginModalBorder"/>
                    <div id="loginModalOuterDiv">
                        {%  include "login_form.html" %}
                    </div>

{#                        <div class="modal-header">#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>#}
{#                            <h3 id="signInModalLabel"></h3>#}
{#                        </div>#}



{#                        <div class="modal-body">#}
{#                            {% crispy feedback_form feedback_form.helper %}#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>#}
{#                            <button class="btn btn-primary">Submit</button>#}
{#                        </div>#}
                    <hr class="contentBorder loginModalBorder"/>
                    </div>

                    <nav id="register" class="mainNav mainLinks accountLinks clear">
                        <ul>
                            <li class="mainNavListItem"><a href="/register">REGISTER</a></li>
                        </ul>
                    </nav>
                    <br>
                    <br>
                    <br>
                    <div id="loginWelcome">
                        {% if user.is_authenticated %}
                            <p>Welcome, {{ user.first_name }}!</p>
                        {% else %}
                            <p>Welcome! Please log in or register.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <ul id="categoryNav" class="nav nav-pills mainNav">
                        <li class="dropdown mega-menu-3 mainNavListItem">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">WOMEN</a>
                            <ul class="dropdown-menu">
                                <li class="one-column">
                                    <ul>
                                        <li class="nav-title"><strong>Clothing</strong></li>
                                        <li><a href="#">Outerwear</a></li>
                                        <li><a href="#">Jackets & Blazers</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Pants</a></li>
                                        <li><a href="#">Sweaters</a></li>
                                        <li><a href="#">Suits</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Athletic Clothing</a></li>
                                        <li><a href="#">Intimates</a></li>
                                        <li><a href="#"><b>All Clothing</b></a></li>
                                    </ul>
                                </li>
                                <li class="one-column">
                                    <ul>
                                        <li class="nav-title"><strong>Shoes</strong></li>
                                        <li><a href="#">Boots</a></li>
                                        <li><a href="#">Heels</a></li>
                                        <li><a href="#">Flats</a></li>
                                        <li><a href="#">Booties</a></li>
                                        <li><a href="#">Wedges</a></li>
                                        <li><a href="#">Athletic</a></li>
                                        <li><a href="#">Sandals</a></li>
                                        <li><a href="#">Loafers</a></li>
                                        <li><a href="#">Oxfords</a></li>
                                        <li><a href="#"><strong>All Shoes</strong></a></li>
                                    </ul>
                                </li>
                                <li class="one-column">
                                    <ul>
                                        <li class="nav-title"><strong>Accessories</strong></li>
                                        <li><a href="#">Handbags</a></li>
                                        <li><a href="#">Fine Jewelry</a></li>
                                        <li><a href="#">Fashion Jewelry</a></li>
                                        <li><a href="#">Watches</a></li>
                                        <li><a href="#">Sunglasses</a></li>
                                        <li><a href="#">Scarves & Wraps</a></li>
                                        <li><a href="#">Gloves</a></li>
                                        <li><a href="#">Belts</a></li>
                                        <li><a href="#">Designer Store</a></li>
                                        <li><a href="#"><strong>All Accessories</strong></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown mega-menu-3 mainNavListItem"><a href="#">MEN</a></li>
                        <li class="dropdown mega-menu-3 mainNavListItem"><a href="#">DESIGNERS</a></li>
                        <li class="dropdown mega-menu-3 mainNavListItem"><a href="#">SHOP</a></li>
                        <li class="dropdown mega-menu-3 mainNavListItem"><a href="#">BLOG</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <hr class="contentBorder" />
    <div class="container">
        <div class="row mainContent">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <hr class="contentBorder" />
    <div class="container">
        <div class="row">
            <div id="bottomPane">
                <div id="bottomContent">
                    {% block bottomContent %}
                    {% endblock bottomContent %}
                </div>
            </div>

            <footer id="mainFooter">
                <div class="row">
                    <span class="span5">
                        <nav class="mainNav mainLinks">
                            <ul>
                                <li class="mainNavListItem"><a href="{% url 'home_about' %}">ABOUT</a></li>
                                <li class="mainNavListItem"><a href="{% url 'home_faq' %}">FAQ</a></li>
                                <li class="mainNavListItem"><a href="{% url 'home_policies' %}">POLICIES</a></li>
                                <li class="mainNavListItem"><a href="{% url 'home_terms' %}">TERMS</a></li>
                                <li class="mainNavListItem"><a href="#">CONTACT US</a></li>
                            </ul>
                        </nav>
                    </span>
                </div>
                <div class="row"></div>
            </footer>
        </div>
    </div>


    {% block javascript_library %}
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.1.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/plugins.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>
    {% endblock javascript_library %}
    {% block javascript %}
    {% endblock javascript %}

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
{% endblock body %}
</body>
</html>