<!DOCTYPE html>
{% load i18n %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Tinville</title>
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/tinville1.png">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/whhg.css">

    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
{#    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">#}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Cabin+Condensed" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/yamm.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/feedback.css" />

{#    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">#}

    {% block css %}{% endblock %}
    {{ form.media }}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/Utilities.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/feedback.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
    {% load feedback_widget %}
	{% feedback_widget %}
    <a href=""><img id="tinvilleTagBanner" class="pull-left" src="{{ STATIC_URL }}img/tinville-header.png" /></a>

    <div class="navbar-header">
        <button id = "mobileNavButton" type="button" data-target="#navbar-collapse-1" data-toggle="collapse" class="navButton navbar-toggle collapsed menu-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>


                {% if not user.is_authenticated %}
                    <ul id="signInButton" class="nav ">
                      <li class="dropdown yamm-fw" id="xs-menuLogin" >
                        <a class="dropdown-toggle navbar-link navbar-text visible-xs xs-navbar-text" href="#" data-toggle="dropdown" id="navLogin"><i class="fa fa-sign-in fa-4"></i></a>
                        <ul class="dropdown-menu loginPopupForm">
                            <li>
                                <div class="yamm-content" style="padding-top: 2px">
                                    <div class="row">
                                        {%  include "login_form.html" with form_name="xs-Login" %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                      </li>
                    </ul>
                {% else %}
                    <a class="navbar-link navbar-text visible-xs pull-right xs-navbar-text" href="/logout" id="navLogout"><i class="fa fa-sign-out fa-4"></i></a>
                {% endif %}
    </div>

    <nav class="navbar yamm navbar-default" role="navigation">
        <div class="container">
            <div id="navHeader" class="navbar-header">
{#                <a class="dropdown-toggle navbar-link navbar-text visible-xs xs-navbar-text" href="#" data-toggle="dropdown" id="navSearch"><i class="fa fa-search fa-4"></i>#}
{#                    <input class="textinput textInput form-control" style = "float: right">#}
{#                </a>#}

                <div class="input-group margin-bottom-sm visible-xs ">
                  <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                  <input class="form-control" type="text" placeholder="Search">
                </div>



{#                <button type="button" id="shoppingcartMobileBtn" class="navbar-link navbar-text visible-xs pull-left xs-navbar-text">#}
{#                    <span class="glyphicon glyphicon-shopping-cart"></span>#}
{#                </button>#}

            </div>

                <div id="navbar-collapse-1" class="navbar-collapse collapse navdropTopTextStyle">
                    <ul class="nav navbar-nav navButtonIconStyle">
                        <li class="dropdown navdropSize mobileDropBtnStyle">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">WOMEN<b> + </b></a>
                            <ul class="dropdown-menu navdropstyle ">
                                <li>
                                    <div id="nonMobileWomenContent" class="yamm-content navbarLinkStyle ">
                                        <div class="row">
                                            <ul class=" list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li><p><strong>Clothing</strong></p></li>
                                                <li><a href="#" >Outerwear</a></li>
                                                <li><a href="#">Jackets & Blazers</a></li>
                                                <li><a href="#">Shirts</a></li>
                                                <li><a href="#">Pants</a></li>
                                                <li><a href="#">Sweaters</a></li>
                                                <li><a href="#">Suits</a></li>
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Athletic Clothing</a></li>
                                                <li><a href="#">Intimates</a></li>
                                                <li><a href="#"><b>All</b></a></li>
                                            </ul>
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li><p><strong>Shoes</strong></p></li>
                                                <li><a href="#">Boots</a></li>
                                                    <li><a href="#">Heels</a></li>
                                                    <li><a href="#">Flats</a></li>
                                                    <li><a href="#">Booties</a></li>
                                                    <li><a href="#">Wedges</a></li>
                                                    <li><a href="#">Athletic</a></li>
                                                    <li><a href="#">Sandals</a></li>
                                                    <li><a href="#">Loafers</a></li>
                                                    <li><a href="#">Oxfords</a></li>
                                                    <li><a href="#"><strong>All</strong></a></li>
                                            </ul>
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li id="mobileDdEnbl" class=""><p><strong>Accessories</strong></p></li>
                                                <li><a href="#">Handbags</a></li>
                                                <li><a href="#">Fine Jewelry</a></li>
                                                <li><a href="#">Fashion Jewelry</a></li>
                                                <li><a href="#">Watches</a></li>
                                                <li><a href="#">Sunglasses</a></li>
                                                <li><a href="#">Scarves & Wraps</a></li>
                                                <li><a href="#">Gloves</a></li>
                                                <li><a href="#">Belts</a></li>
                                                <li><a href="#">Designer Store</a></li>
                                                <li><a href="#"><strong>All</strong></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div  id="mobileWomenContent" class="yamm-content navbarLinkStyle">
                                        <div class="row">
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle" >
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Tops</a></li>
                                                <li><a href="#">Sweaters</a></li>
                                                <li><a href="#">Jeans</a></li>
                                                <li><a href="#">Jackets</a></li>
                                                <li><a href="#">Shorts</a></li>
                                                <li><a href="#">Pants</a></li>
                                                <li><a href="#">Skirts</a></li>
                                                <li><a href="#">Intimates</a></li>
                                                <li><a href="#">Footwear</a></li>
                                                <li><a href="#">Accessories</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown navdropSize mobileDropBtnStyle">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">MEN <b> + </b></a>
                            <ul class="dropdown-menu navdropstyle ">
                                <li>
                                    <div id="nonMobileMenContent" class="yamm-content navbarLinkStyle ">
                                        <div class="row">
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li><p><strong>Clothing</strong></p></li>
                                                <li><a href="#" >Outerwear</a></li>
                                                <li><a href="#">Jackets & Blazers</a></li>
                                                <li><a href="#">Shirts</a></li>
                                                <li><a href="#">Pants</a></li>
                                                <li><a href="#">Sweaters</a></li>
                                                <li><a href="#">Suits</a></li>
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Athletic Clothing</a></li>
                                                <li><a href="#">Intimates</a></li>
                                                <li><a href="#"><b>All</b></a></li>
                                            </ul>
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li><p><strong>Shoes</strong></p></li>
                                                <li><a href="#">Boots</a></li>
                                                    <li><a href="#">Heels</a></li>
                                                    <li><a href="#">Flats</a></li>
                                                    <li><a href="#">Booties</a></li>
                                                    <li><a href="#">Wedges</a></li>
                                                    <li><a href="#">Athletic</a></li>
                                                    <li><a href="#">Sandals</a></li>
                                                    <li><a href="#">Loafers</a></li>
                                                    <li><a href="#">Oxfords</a></li>
                                                    <li><a href="#"><strong>All</strong></a></li>
                                            </ul>
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li id="mobileDdEnbl" class=""><p><strong>Accessories</strong></p></li>
                                                <li><a href="#">Handbags</a></li>
                                                <li><a href="#">Fine Jewelry</a></li>
                                                <li><a href="#">Fashion Jewelry</a></li>
                                                <li><a href="#">Watches</a></li>
                                                <li><a href="#">Sunglasses</a></li>
                                                <li><a href="#">Scarves & Wraps</a></li>
                                                <li><a href="#">Gloves</a></li>
                                                <li><a href="#">Belts</a></li>
                                                <li><a href="#">Designer Store</a></li>
                                                <li><a href="#"><strong>All</strong></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div  id="mobileMenContent" class="yamm-content navbarLinkStyle">
                                        <div class="row">
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle" >
                                                <li><a href="#">Suits and Sportcoats</a></li>
                                                <li><a href="#">Dress Shirts</a></li>
                                                <li><a href="#">Polos</a></li>
                                                <li><a href="#">T-Shirts</a></li>
                                                <li><a href="#">Sweaters & Sweatshirts</a></li>
                                                <li><a href="#">Coats & Jackets</a></li>
                                                <li><a href="#">Pants</a></li>
                                                <li><a href="#">Jeans</a></li>
                                                <li><a href="#">Shorts</a></li>
                                                <li><a href="#">Swimwear</a></li>
                                                <li><a href="#">Sleepwear</a></li>
                                                <li><a href="#">Footwear</a></li>
                                                <li><a href="#">Accessories</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </li>
                        <li class="dropdown yamm-fw mobileDropBtnStyle">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">DESIGNERS <b> + </b></a>
                        </li>
                        <li class="dropdown navdropSize mobileDropBtnStyle">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">SHOP <b> + </b></a>
                            <ul class="dropdown-menu navdropstyle ">
                                <li>
                                    <div class="yamm-content navbarLinkStyle ">
                                        <div class="row">
                                            <ul class="col-sm-12 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                {% for shop in shops %}
                                                    <li><a href='{{ shop.get_absolute_url }}' >{{ shop.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown yamm-fw mobileDropBtnStyle">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">BLOG <b> + </b></a>
                        </li>

                        {% if user.is_authenticated %}

                            <li class="dropdown yamm-fw navbarLinkS" id="lg-menuLogin" >
                                <a href="/logout" class="pull-right navbar-link hidden-xs">SIGN OUT</a>
{#                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ user.first_name|upper }} <b class="caret"></b></a>#}
{#                                <ul class="dropdown-menu navdropstyle ">#}
{#                                    <li><a href="#" class="pull-right navbar-link">My ACCOUNT</a></li>#}
{#                                    <li><a href="/logout" class="pull-right navbar-link">SIGN OUT</a></li>#}
{#                                </ul>#}
                            </li>
                        {% else %}
                            <li class="dropdown yamm-fw" id="lg-menuLogin" >
                                <a class="dropdown-toggle hidden-xs" href="#" data-toggle="dropdown">SIGN IN</a>
                                <ul class="dropdown-menu loginPopupForm">
                                    <li>
                                        <div class="yamm-content" style="padding-top: 2px">
                                            {%  include "login_form.html" with form_name="md-Login" %}
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}


                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="row slidingContent">
        {% block content %}
        {% endblock content %}
    </div>

{#The footer HTML is below.. Links still needed to completed#}
    <div id="footerContainer" class="row slidingContent">
        <div class="row footerRow hidden-xs">
            <nav id="footerNavRight" class="col-sm-2 col-sm-offset-1 col-lg-offset-2 footer-nav">
                <dl class="list-unstyled">
                    <li class="mainFooterListItem">Information</li>
                    <li class="mainFooterListItem"><a href="{% url 'home_about' %}">About Us</a></li>
                    <li class="mainFooterListItem"><a href="#">Customer Service</a></li>
                    <li class="mainFooterListItem"><a href="{% url 'home_faq' %}">FAQs</a></li>
                    <li class="mainFooterListItem"><a href="{% url 'home_policies' %}">Policies</a></li>
                    <li class="mainFooterListItem"><a href="{% url 'home_terms' %}">Terms</a></li>
                </dl>
            </nav>
            <nav id="footerNavRight" class="footer-nav col-sm-2">
                <dl class="list-unstyled">
                    <li class="mainFooterListItem">Why Buy From Us</li>
                    <li class="mainFooterListItem"><a href="#">Shipping & Returns</a></li>
                    <li class="mainFooterListItem"><a href="#">Secure Shopping</a></li>
                    <li class="mainFooterListItem"><a href="#">Group Sales</a></li>
                    <li class="mainFooterListItem"><a href="#">Designers</a></li>
                    <li class="mainFooterListItem"><a href="#">The Network</a></li>
                </dl>
            </nav>
            <nav class="footer-nav col-sm-2">
                <dl class="list-unstyled">
                    <li class="mainFooterListItem">My Account</li>
                    <li class="mainFooterListItem">
                        {% if user.is_authenticated %}
                            <a href="/logout">Sign Out</a>
                        {% else %}
                            <a id="goToTopOfPage" href="#lg-menuLogin" data-toggle="dropdown" data-target="#lg-menuLogin">Sign In</a>
                        {% endif %}
                    </li>
                    <li class="mainFooterListItem"><a href="#">View Cart</a></li>
                    <li class="mainFooterListItem"><a href="#">Help</a></li>
                </dl>
            </nav>
            <nav id="footerNavLeft" class="footer-nav col-sm-2 col-sm-offset-1 col-lg-offset-1">
                <dl class="list-unstyled">
                    <li id="tinvilleFooterListItemPrimary">© Tinville.com</li>
                    <li id="tinvilleFooterListItemChild">2011-2013</li>
                    <li id="tinvilleFooterListItemPrimary">Contact Us</li>
                    <li id="tinvilleFooterListItemChild">
                        <a href="mailto:support@tinville.com" Id="tinvilleFooterListItemChild">support@tinville.com</a>
                    </li>
                    <li Id="tinvilleFooterListItemPrimary">Follow Us On:</li>
                </dl>
            </nav>
        </div>
        <div class="panel-group footerRow hidden-sm hidden-md hidden-lg footerRow footer-nav">
            <button class="footerPanelTitle footerSectionTitle footerButton" data-toggle="collapse" data-target="#collapseInformation">
                <h4 id="tinvilleXSFooterHeaders">Information</h4>
            </button>
            <div id="collapseInformation" class="panel-collapse collapse footerPanelPadding">
                <dl class="list-unstyled">
                    <li class="mainFooterListItem"><a href="{% url 'home_about' %}">About Us</a></li>
                    <li class="mainFooterListItem"><a href="#">Customer Service</a></li>
                    <li class="mainFooterListItem"><a href="{% url 'home_faq' %}">FAQs</a></li>
                    <li class="mainFooterListItem"><a href="{% url 'home_policies' %}">Policies</a></li>
                    <li class="mainFooterListItem"><a href="{% url 'home_terms' %}">Terms</a></li>
                </dl>
            </div>
            <button class="footerPanelTitle footerSectionTitle footerButton" data-toggle="collapse" data-target="#collapseWhyBuyFromUs">
                <h4 id="tinvilleXSFooterHeaders">Why Buy From Us</h4>
            </button>
            <div id="collapseWhyBuyFromUs" class="panel-collapse collapse footerPanelPadding">
                <dl class="list-unstyled">
                    <li class="mainFooterListItem"><a href="#">Shipping & Returns</a></li>
                    <li class="mainFooterListItem"><a href="#">Secure Shopping</a></li>
                    <li class="mainFooterListItem"><a href="#">Group Sales</a></li>
                    <li class="mainFooterListItem"><a href="#">Designers</a></li>
                    <li class="mainFooterListItem"><a href="#">The Network</a></li>
                </dl>
            </div>
            <button class="footerPanelTitle footerSectionTitle footerButton" data-toggle="collapse" data-target="#collapseMyAccount">
                <h4 id="tinvilleXSFooterHeaders">My Account</h4></h4>
            </button>
            <div id="collapseMyAccount" class="panel-collapse collapse footerPanelPadding">
                <dl class="list-unstyled listPadding">
                    <li class="mainFooterListItem">
                        {% if user.is_authenticated %}
                            <a href="/logout">Sign Out</a>
                        {% else %}
                            <a id="goToTopOfPageXS" href="#xs-menuLogin" data-toggle="dropdown" data-target="#xs-menuLogin">Sign In</a>
                        {% endif %}
                    </li>
                    <li class="mainFooterListItem"><a href="#">View Cart</a></li>
                    <li class="mainFooterListItem"><a href="#">Help</a></li>
                </dl>
            </div>
            <div>
                <dl class="list-unstyled listPadding">
                    <li id="tinvilleFooterListItemPrimary">© Tinville.com</li>
                    <li id="tinvilleFooterListItemChild">2011-2013</li>
                    <li id="tinvilleFooterListItemPrimary">Contact Us</li>
                    <li id="tinvilleFooterListItemChild">
                        <a href="mailto:support@tinville.com" Id="tinvilleFooterListItemChild">support@tinville.com</a>
                    </li>
                    <li Id="tinvilleFooterListItemPrimary">Follow Us On:</li>
                </dl>
            </div>
        </div>
    </div>


    {% block javascript_library %}
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.1.min.js"></script>

        <script src="{{ STATIC_URL }}js/vendor/jquery.shorten.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery.transit.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/velocity.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{  STATIC_URL }}js/Slimscroll/jquery.slimscroll.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/picturefill.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/handlebars.js"></script>
        <script src="{{ STATIC_URL }}js/plugins.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery.hammer-1.0.5.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery.dragend-0.1.3.min.js"></script>
    {% endblock javascript_library %}

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ GOOGLE_ANALYTICS_TRACKING_ID }}', 'tinville.com');
        ga('send', 'pageview');


        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });



        $("#goToTopOfPage").click(function(){
             $('html, body').animate({ scrollTop: 0 }, 'slow');
        })

        $("#goToTopOfPageXS").click(function(){
             $('html, body').animate({ scrollTop: 0 }, 'slow');
        })
        $(window).resize(function(){
             var mode = checkMode();

            if(mode == 'xs'){
                $("#nonMobileMenContent").css("display","none");
                $("#mobileMenContent").css("display","");

                $("#nonMobileWomenContent").css("display","none");
                $("#mobileWomenContent").css("display","");
            }
            else
            {
                $("#nonMobileMenContent").css("display","");
                $("#mobileMenContent").css("display","none");

                $("#nonMobileWomenContent").css("display","");
                $("#mobileWomenContent").css("display","none");

                //$('.slidingContent').css('-webkit-transform','translate(0, 0)');
                $('.navbar').removeAttr( 'style' );
                $('.slidingContent').removeAttr( 'style' );
            }
        });

         $(window).load(function(){
             var mode = checkMode();

            if(mode == 'xs'){
                $("#nonMobileMenContent").css("display","none");
                $("#mobileMenContent").css("display","");

                $("#nonMobileWomenContent").css("display","none");
                $("#mobileWomenContent").css("display","");
            }
            else{
                $("#nonMobileMenContent").css("display","");
                $("#mobileMenContent").css("display","none");

                $("#nonMobileWomenContent").css("display","");
                $("#mobileWomenContent").css("display","none");

                //$('.navbar').removeAttr( 'style' );
            }
        });

{#        this is for the highlight the selected infopages#}
        $(window).load(function() {
            $("#{{ flatpage.title }}").addClass("active");
            {% if messages %}
                $('#messagesModal').modal()
            {% endif %}
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() > 10) {
                $('.navbar-header').css('top', $(window).scrollTop());
            }
          }
        );

        $(document).ready(function() {

                   var menu = "close";

                    $('.menu-toggle').click(function() {

                        if(menu == "close"){
                            $('.slidingContent').css('-webkit-transform','translate(30%, 0)');
                            $('.navbar').css('-webkit-transform','translate(0, 0)');

                            menu="open";
                        }
                        else{
                            $('.slidingContent').css('-webkit-transform','translate(0, 0)');
                            $('.navbar').css('-webkit-transform','translate(-100%, 0)');

                            menu="close";
                        }
                    });
         });

        $(document).on("submit", ".loginForm", function(e) {
            e.preventDefault();
            var self = $(this),
                url = self.attr("action"),

                ajax_req = $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        username: self.find("#id_username").val(),
                        password: self.find("#id_password").val(),
                        remember_me : self.find("#id_remember_me").val()

                    },
                    success: function(data, textStatus, jqXHR) {
						if (location.pathname == "/notifications") {
							location.href = "/";
						} else {
							location.reload();
						}
                    },
                    error: function(data, textStatus, jqXHR) {
                        clear_django_messages(self.find(".message_area"));
                        clear_form_field_errors(".loginPopupForm");
                        var errors = $.parseJSON(data.responseText);
                        $.each(errors, function(index, value) {
                            if (index === "__all__") {
                                django_message(value[0], "error", self.find(".message_area"));
                            } else {
                                apply_form_field_error(self[0].id, index, value);
                            }
                        });
                    }
                });
        });


     $("a.dropdown-toggle.hidden-xs").click(function() {
         $("#id_username.textinput.textInput").val("");
         $("#id_password.textinput.textInput").val("");
     });

    $("#navLogin").click(function()
    {
        $("#id_username.textinput.textInput").val("");
        $("#id_password.textinput.textInput").val("");
    });

 //TODO: Replace with on specific item "Add to Cart" click event
 var itemNum = 0;
    $("#buttonOfDOOM").click(function()
    {
        itemNum++;
        var CartItem = {
            Id:itemNum,
            title:"Hello World",
            description:"This is an awesome item. You really want to buy it. Isn't it soo cool?",
            price:10.01
        };
        AddCartItem(CartItem);
    });

 var cartTotal;
 var cartJson, cartState;
 cartState = sessionStorage.getItem("cartState");
 cartJson = JSON.parse(cartState || "{}");

$(function() {

    cartState = sessionStorage.getItem("cartState");
    cartJson = JSON.parse(cartState || "{}");
    cartTotal = cartJson["cartTotal"];
    if(cartTotal === undefined)
        cartTotal = 0.00;
    $('#carttotal').text('Total: ' + cartTotal.toFixed(2));

    var _IsOpen = cartJson["IsOpen"];

    if(_IsOpen === undefined || _IsOpen === false)
        $("#shoppingcart").hide();

    if(_IsOpen === true)
        $("#shoppingcart").show();

    var cartItems = cartJson["cartList"];

    if(cartItems !== undefined)
    {
        $.each(cartItems, function(index, item)
        {
            LoadCartItemDiv(item);
        });
    }
});

$("#navbarBtn").click(function()
{
    $("#shoppingcart").hide();
    cartState = sessionStorage.getItem("cartState");
    cartJson = JSON.parse(cartState || "{}");
     var IsOpen = false;

    cartJson["IsOpen"] = IsOpen;
    sessionStorage.setItem("cartState", JSON.stringify(cartJson));
});

$("#shoppingcartBtn").click(function()
{
    cartToggleBtn();
});

$("#shoppingcartMobileBtn").click(function()
{
    cartToggleBtn();
});

function cartToggleBtn()
{
    $("#shoppingcart").toggle();
    cartState = sessionStorage.getItem("cartState");
    cartJson = JSON.parse(cartState || "{}");
    var IsOpen;
    if($('#shoppingcart').is(":visible"))
        IsOpen = true;
    else
        IsOpen = false;

    cartJson["IsOpen"] = IsOpen;
    sessionStorage.setItem("cartState", JSON.stringify(cartJson));
}

function LoadCartItemDiv(cartItem)
{
    var cartitemdiv =  $('<div/>', {
        'class':'shoppingcartitem',
        'id' : cartItem.Id
    });

    //TODO: Add thumbnail image
    var itemThumbnail = $('<div/>', {'class':'shoppingcartthumbnail'});
    itemThumbnail.appendTo(cartitemdiv);

    var itemInfoDiv = $('<div/>', {'class' : 'shoppingcartiteminfo'});

    var itemTitle = $('<div/>', {'class':'shoppingcartitemTitle','text':cartItem.title});
    itemTitle.appendTo(itemInfoDiv);

    var itemDescription = $('<div/>', {'class':'shoppingcartitemDescription', 'text':cartItem.description});
    itemDescription.appendTo(itemInfoDiv);

    itemInfoDiv.appendTo(cartitemdiv);
    var removeBtnDiv = $('<div/>', {'class':'shoppingcartremovebtn'});
    var removeBtn = $('<button/>', { 'type' : 'button', 'onclick' : 'RemoveCartItem(' + cartItem.Id + ')', 'href' : '#',
        'class' : 'btn btn-default btn-sm', 'html' : '<span class="glyphicon glyphicon-remove"></span>'
    });
    removeBtn.appendTo(removeBtnDiv);
    removeBtnDiv.appendTo(cartitemdiv);
    cartitemdiv.appendTo("#shoppingcartitems");

}

function AddCartItem(cartItem)
{
    LoadCartItemDiv(cartItem);

    cartTotal += cartItem.price;
    //TODO: Prefix with currency type
    $('#carttotal').text('Total: ' + cartTotal.toFixed(2));

    cartState = sessionStorage.getItem("cartState");
    cartJson = JSON.parse(cartState || "{}");
    var cartList= cartJson["cartList"];
    if(cartList === undefined)
        cartList = new Object();

    cartList[cartItem.Id] = cartItem;

    cartJson["cartTotal"] = cartTotal;

    cartJson.cartList = cartList;
    sessionStorage.setItem("cartState", JSON.stringify(cartJson));

}

function RemoveCartItem(itemId)
{
    $('#'+itemId).remove();
    cartState = sessionStorage.getItem("cartState");
    cartJson = JSON.parse(cartState || "{}");
    var list = cartJson["cartList"];
    var price = list[itemId].price;
    cartTotal = (cartTotal * 100 - price * 100) / 100;
    $('#carttotal').text('Total: ' + cartTotal.toFixed(2));
    cartJson["cartTotal"] = cartTotal;
    delete list[itemId];
    cartJson.cartList = list;
    sessionStorage.setItem("cartState", JSON.stringify(cartJson));
}



    </script>
    <script id="message_template" type="text/x-handlebars-template">
            {% verbatim %}
            <div class="alert alert-{{tags}} fade in" data-alert="{{tags}}">
                <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                {{{message}}}
            </div>
            {% endverbatim%}
        </script>

        <script id="message_block_template" type="text/x-handlebars-template">
            {% verbatim %}
            <div class="alert alert-block alert-{{level}} fade in">
                <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                {{{body}}}
            </div>
            {% endverbatim %}
        </script>

    {% block javascript %}
    {% endblock javascript %}
{% endblock body %}
</body>
</html>
