<!DOCTYPE html>
{% load i18n %}
{% load url from future %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tinville</title>
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/tinyTin_logo.png">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/whhg.css">

    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
{#    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">#}
    {#    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">#}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Cabin+Condensed" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/yamm.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tooltip.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/feedback.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/imagelightbox.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/cropper.css" />
{#    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">#}

    {% block css %}{% endblock %}
    {{ form.media }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{#    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>#}
    <script src="{{ STATIC_URL }}js/Utilities.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/feedback.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
{#    {% load feedback_widget %}#}
{#	{% feedback_widget %}#}
    <a id='tinvilletagXS' class="visible-xs" href="/"><img id="tinvilleTagBannerXS" class="tinvilleTagBanner pull-left" src="{{ STATIC_URL }}img/mobileTinLogo.png" /></a>
    <div class="cartLocation" id="shoppingcartBtn">
        <li class="dropdown navbarLinkS " id="" >
              <a id="shoppingcart" href="#" data-toggle="dropdown" class="dropdown-toggle">
                  <i id="tagIconId" class="fa fa-tags tinvilleOrange" style="font-size: large"></i>
                  <div id="cartCountId" class="cartCount">
                  </div>
              </a>
              <ul class="dropdown-menu cartDropdown container-fluid" id="cartDropdown">
                <li><div id="shoppingcartitems" class="slimScrollBar"></div></li>
                <li><div id="noItem" class="col-xs-offset-2 tinvilleOrange">No Item in your Bag</div></li>
                <li><div id="carttotal" class="hidden carttotal"></div></li>
                <li id="divider" class="hidden divider"></li>
                <li class="row"><a id="shoppingcartcheckout" class="hidden col-xs-offset-1 col-xs-10 btn btn-primary tinvilleButton" href="{% url 'cartdetail' %}" >
                        Checkout
                    </a>
                </li>
              </ul>
        </li>
    </div>
 {% include "notification.html" %}
    <div class="navbar-header">
        <button id = "mobileNavButton" type="button" data-target="#navbar-collapse-1" data-toggle="collapse" class="mobileNavButton navButton navbar-toggle collapsed menu-toggle">
            <i class="fa fa-bars" style="font-size: large;"></i>
        </button>

        {% if not user.is_authenticated %}
            <ul id="signInButtonMobile" class="nav ">
              <li class="dropdown yamm-fw visible-xs" id="xs-menuLogin" >
                <a class="dropdown-toggle navbar-link navbar-text visible-xs xs-navbar-text" href="#" data-toggle="dropdown" id="navLogin"><i class="fa fa-sign-in" style="font-size: large;"></i></a>
                <ul class="dropdown-menu loginPopupFormMobile">
                    <li class="">
                        <div class="yamm-content" style="padding-top: 2px">
                            <div>
                                {%  include "login_form.html" with form_name="xs-Login" %}
                            </div>
                        </div>
                    </li>
                </ul>
              </li>
            </ul>
        {% else %}
            <ul id="signInButtonMobile" class="nav ">
              <li class="dropdown yamm-fw visible-xs" id="xs-menuLogin" style="margin-top: 9px">
                          <a id="loginIcon-xs" href="#" class="dropdown-toggle navbar-link navbar-text visible-xs xs-navbar-text" data-toggle="dropdown">
                              <span id="clickedLogin-xs" class="tinvilleOrange glyphicon glyphicon-user" style="font-size: large;"></span>
                          </a>
                          <ul class="dropdown-menu" style="margin-left: -100px; width: 200px;">
                            {% if user.is_seller or user.is_staff %}
                                <li><a href="/accounts/payment_info">My Payment Info <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                <li class="divider"></li>
                            {% endif %}
                            {%  if user.is_seller %}
                                <li><a href="/{{ shopUrl }}/edit">Edit Shop <span class="glyphicon glyphicon-pencil pull-right"></span></a></li>
                                <li class="divider"></li>
                            {% endif %}
                            <li><a href="/accounts/addresses">My Addresses <span class="glyphicon glyphicon-globe pull-right"></span></a></li>
                            <li class="divider"></li>
                            {% if user.is_seller or user.is_staff %}
                                <li><a href="/dashboard">Dashboard <span class="glyphicon glyphicon-dashboard pull-right"></span></a></li>
                                <li class="divider"></li>
                            {% endif %}
                            <li><a id="logout-xs" href="/logout" >Sign Out<span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                          </ul>

                    </li>
             </ul>
        {% endif %}

    </div>

    <nav class="navbar yamm navbar-default navbar-main navbarSliding" role="navigation">
        <div class="container ">
            <div id="navHeader" class="navbar-header">

                <div class="input-group margin-bottom-sm visible-xs " style="padding-top: 5%" >
{#                  <span class="input-group-addon">{{ user.name }}</span>#}
                  <input class="form-control" type="text" placeholder="Search" style="width: 88%; margin-left: 4%">
                </div>
                <a class="hidden-xs" id='tinvilletagId' href="/"><img id="tinvilleTagBanner" class="tinvilleTagBanner pull-left" src="{{ STATIC_URL }}img/tinville-header.png" /></a>
            </div>

                <div id="navbar-collapse-1" class="navbar-collapse collapse navdropTopTextStyle" style="margin-left: 0; margin-right: 0;">
                    <ul class="nav navbar-nav navButtonIconStyle">
                        <li class="visible-xs dropdown navdropSize mobileDropBtnStyle">
                            <a class="list-group-item slideMenuText" href="/"><i class="fa fa-home fa-fw tinvilleOrange"></i></i>&nbsp; Home</a>
                        </li>
                        <li class="hidden dropdown navdropSize mobileDropBtnStyle">
                            <a href="#"  data-toggle="dropdown" class="visible-xs list-group-item slideMenuText dropdown-toggle">
                                <i class="fa fa-female fa-fw"></i>&nbsp; Women
                            </a>
                            <a href="#"  data-toggle="dropdown" class="hidden-xs dropdown-toggle">WOMEN</a>
                            <ul class="dropdown-menu navdropstyle ">
                                <li>
                                    <div id="nonMobileWomenContent" class="yamm-content navbarLinkStyle ">
                                        <div class="row">
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li><p><strong>Clothing</strong></p></li>
                                                <li><a href="#" >Outerwear</a></li>
                                                <li><a href="#">Jackets & Blazers</a></li>
                                                <li><a href="#">Shirts</a></li>
                                                <li><a href="#">Pants</a></li>
                                                <li><a href="#">Sweaters</a></li>
                                                <li><a href="#">Suits</a></li>
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Athletic Clothing</a></li>
                                                <li><a href="#">Intimates</a></li>
                                                <li><a href="#"><b>All</b></a></li>
                                            </ul>
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li><p><strong>Shoes</strong></p></li>
                                                <li><a href="#">Boots</a></li>
                                                    <li><a href="#">Heels</a></li>
                                                    <li><a href="#">Flats</a></li>
                                                    <li><a href="#">Booties</a></li>
                                                    <li><a href="#">Wedges</a></li>
                                                    <li><a href="#">Athletic</a></li>
                                                    <li><a href="#">Sandals</a></li>
                                                    <li><a href="#">Loafers</a></li>
                                                    <li><a href="#">Oxfords</a></li>
                                                    <li><a href="#"><strong>All</strong></a></li>
                                            </ul>
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li id="mobileDdEnbl" class=""><p><strong>Accessories</strong></p></li>
                                                <li><a href="#">Handbags</a></li>
                                                <li><a href="#">Fine Jewelry</a></li>
                                                <li><a href="#">Fashion Jewelry</a></li>
                                                <li><a href="#">Watches</a></li>
                                                <li><a href="#">Sunglasses</a></li>
                                                <li><a href="#">Scarves & Wraps</a></li>
                                                <li><a href="#">Gloves</a></li>
                                                <li><a href="#">Belts</a></li>
                                                <li><a href="#">Designer Store</a></li>
                                                <li><a href="#"><strong>All</strong></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div  id="mobileWomenContent" class="yamm-content navbarLinkStyle xs-navbar-text">
                                        <div class="row">
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle" >
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Tops</a></li>
                                                <li><a href="#">Sweaters</a></li>
                                                <li><a href="#">Jeans</a></li>
                                                <li><a href="#">Jackets</a></li>
                                                <li><a href="#">Shorts</a></li>
                                                <li><a href="#">Pants</a></li>
                                                <li><a href="#">Skirts</a></li>
                                                <li><a href="#">Intimates</a></li>
                                                <li><a href="#">Footwear</a></li>
                                                <li><a href="#">Accessories</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="hidden dropdown navdropSize mobileDropBtnStyle">
                            <a href="#"  data-toggle="dropdown" class="visible-xs list-group-item slideMenuText dropdown-toggle">
                                <i class="fa fa-male fa-fw"></i>&nbsp; Men
                            </a>
                            <a href="#" data-toggle="dropdown" class="hidden-xs dropdown-toggle">MEN</a>
                            <ul class="dropdown-menu navdropstyle ">
                                <li>
                                    <div id="nonMobileMenContent" class="yamm-content navbarLinkStyle ">
                                        <div class="row">
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li><p><strong>Clothing</strong></p></li>
                                                <li><a href="#" >Outerwear</a></li>
                                                <li><a href="#">Jackets & Blazers</a></li>
                                                <li><a href="#">Shirts</a></li>
                                                <li><a href="#">Pants</a></li>
                                                <li><a href="#">Sweaters</a></li>
                                                <li><a href="#">Suits</a></li>
                                                <li><a href="#">Dresses</a></li>
                                                <li><a href="#">Athletic Clothing</a></li>
                                                <li><a href="#">Intimates</a></li>
                                                <li><a href="#"><b>All</b></a></li>
                                            </ul>
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li><p><strong>Shoes</strong></p></li>
                                                <li><a href="#">Boots</a></li>
                                                    <li><a href="#">Heels</a></li>
                                                    <li><a href="#">Flats</a></li>
                                                    <li><a href="#">Booties</a></li>
                                                    <li><a href="#">Wedges</a></li>
                                                    <li><a href="#">Athletic</a></li>
                                                    <li><a href="#">Sandals</a></li>
                                                    <li><a href="#">Loafers</a></li>
                                                    <li><a href="#">Oxfords</a></li>
                                                    <li><a href="#"><strong>All</strong></a></li>
                                            </ul>
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle">
                                                <li id="mobileDdEnbl" class=""><p><strong>Accessories</strong></p></li>
                                                <li><a href="#">Handbags</a></li>
                                                <li><a href="#">Fine Jewelry</a></li>
                                                <li><a href="#">Fashion Jewelry</a></li>
                                                <li><a href="#">Watches</a></li>
                                                <li><a href="#">Sunglasses</a></li>
                                                <li><a href="#">Scarves & Wraps</a></li>
                                                <li><a href="#">Gloves</a></li>
                                                <li><a href="#">Belts</a></li>
                                                <li><a href="#">Designer Store</a></li>
                                                <li><a href="#"><strong>All</strong></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div  id="mobileMenContent" class="yamm-content navbarLinkStyle">
                                        <div class="row">
                                            <ul class="col-sm-4 list-unstyled mobileDropListStyle mobileDropItemStyle" >
                                                <li><a href="#">Suits and Sportcoats</a></li>
                                                <li><a href="#">Dress Shirts</a></li>
                                                <li><a href="#">Polos</a></li>
                                                <li><a href="#">T-Shirts</a></li>
                                                <li><a href="#">Sweaters & Sweatshirts</a></li>
                                                <li><a href="#">Coats & Jackets</a></li>
                                                <li><a href="#">Pants</a></li>
                                                <li><a href="#">Jeans</a></li>
                                                <li><a href="#">Shorts</a></li>
                                                <li><a href="#">Swimwear</a></li>
                                                <li><a href="#">Sleepwear</a></li>
                                                <li><a href="#">Footwear</a></li>
                                                <li><a href="#">Accessories</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="hidden dropdown yamm-fw mobileDropBtnStyle">
                            <a href="#"  data-toggle="dropdown" class="visible-xs list-group-item slideMenuText dropdown-toggle">
                                <i class="fa fa-female fa-fw"></i>&nbsp; Shop
                            </a>
                            <a href="#" data-toggle="dropdown" class="hidden-xs dropdown-toggle">SHOP</a>
                        </li>

                        <li class="dropdown navdropSize mobileDropBtnStyle">
                            <a href="/shoplist/"  class="visible-xs list-group-item slideMenuText">
                                <i class="fa fa-pencil fa-fw"></i>&nbsp; Designers
                            </a>
                            <a class="hidden-xs" href="/shoplist/">DESIGNERS</a>
                        </li>
                        <li class="dropdown yamm-fw mobileDropBtnStyle">
                            <a href="http://blog.tinville.com"  class="visible-xs list-group-item slideMenuText">
                                <i class="fa fa-rss fa-fw"></i>&nbsp; Blog
                            </a>
                            <a class="hidden-xs" href="http://blog.tinville.com" target="_blank">BLOG</a>
                        </li>

                        {% if user.is_authenticated %}
                            <li class="hidden-xs hidden-sm dropdown yamm-fw mobileDropBtnStyle">
                                <div class="menuEmail tinvilleOrange" href="" >{{ user.email }}</div>
                            </li>
                            <li class="hidden-xs dropdown navbarLinkS" id="lg-menuLogin" >

                                  <a id="loginIcon-lg" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                      <span id="clickedLogin-lg" class="tinvilleOrange glyphicon glyphicon-user" style="font-size: large;"></span>
                                  </a>
                                  <ul class="dropdown-menu" style="right: 0;">
                                      {% if user.is_seller or user.is_staff %}
                                        <li><a href="/accounts/payment_info">My Payment Info <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                        <li class="divider"></li>
                                    {% endif %}
                                    {%  if user.is_seller %}
                                        <li><a href="/{{ shopUrl }}/edit">Edit Shop <span class="glyphicon glyphicon-pencil pull-right"></span></a></li>
                                        <li class="divider"></li>
                                    {% endif %}
                                    <li><a href="/accounts/addresses">My Addresses <span class="glyphicon glyphicon-globe pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    {% if user.is_seller or user.is_staff %}
                                        <li><a href="/dashboard">Dashboard <span class="glyphicon glyphicon-dashboard pull-right"></span></a></li>
                                        <li class="divider"></li>
                                    {% endif %}
                                    <li><a id="logout-lg" href="/logout" >Sign Out<span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                                    <li class="hidden-md hidden-lg divider"></li>
                                    <li class="hidden-md hidden-lg logEmail">{{ user.email }}</li>

                                  </ul>

                            </li>

                        {% else %}
                            <li class="hidden-xs dropdown yamm-fw" id="lg-menuLogin" >
                                <a class="dropdown-toggle hidden-xs" href="#" data-toggle="dropdown">SIGN IN</a>
                                <ul class="dropdown-menu loginPopupForm">
                                    <li class="">
                                        <div class="yamm-content" style="padding-top: 2px">
                                            {%  include "login_form.html" with form_name="md-Login" %}
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
    </nav>

    <div class="slidingContent">
        <div class="slidingContent2">
            {% block content %}
            {% endblock content %}
        </div>

{#The footer HTML is below.. Links still needed to completed#}
    <div id="footerContainer" class="container-fluid footer">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 footerRow hidden-xs">
            <div class="row">
                <nav id="footerNavRight" class="col-sm-2 footer-nav">
                <dl class="list-unstyled">
                    <li class="mainFooterListItem">Information</li>
                    <li class="mainFooterListItem"><a href="{% url 'home_about' %}">About Us</a></li>
{#                    <li class="mainFooterListItem"><a href="#">Customer Service</a></li>#}
                    <li class="mainFooterListItem"><a href="{% url 'home_faq' %}">FAQs</a></li>
                    <li class="mainFooterListItem"><a href="{% url 'home_policies' %}">Policies</a></li>
                    <li class="mainFooterListItem"><a href="{% url 'home_terms' %}">Terms</a></li>
                </dl>
            </nav>
{#            <nav id="footerNavRight" class="footer-nav col-sm-2">#}
{#                <dl class="list-unstyled">#}
{#                    <li class="mainFooterListItem">Why Buy From Us</li>#}
{#                    <li class="mainFooterListItem"><a href="#">Shipping & Returns</a></li>#}
{#                    <li class="mainFooterListItem"><a href="#">Secure Shopping</a></li>#}
{#                    <li class="mainFooterListItem"><a href="#">Group Sales</a></li>#}
{#                    <li class="mainFooterListItem"><a href="#">Designers</a></li>#}
{#                    <li class="mainFooterListItem"><a href="#">The Network</a></li>#}
{#                </dl>#}
{#            </nav>#}
            <nav class="footer-nav col-sm-offset-2 col-sm-2">
                <dl class="list-unstyled">
                    <li class="mainFooterListItem">My Account</li>
                        {% if user.is_authenticated %}
                            <li class="mainFooterListItem"><a href="/logout">Sign Out</a></li>
                        {% else %}
                            <li class="mainFooterListItem"><a target="_top" id="goToTopOfPage" href="#lg-menuLogin" data-toggle="dropdown" data-target="#lg-menuLogin">Sign In</a></li>
                            <li class="mainFooterListItem"><a href="/register">Register</a></li>
                        {% endif %}
{#                    <li class="mainFooterListItem"><a href="#">View Cart</a></li>#}
{#                    <li class="mainFooterListItem"><a href="#">Help</a></li>#}
                </dl>
            </nav>
            <nav id="footerNavLeft" class="footer-nav col-sm-2 col-sm-offset-2">
                <dl class="list-unstyled">
                    <li id="tinvilleFooterListItemPrimary">© Tinville.com</li>
                    <li id="tinvilleFooterListItemChild">2011-2014</li>
                    <li id="tinvilleFooterListItemPrimary">Contact Us</li>
                    <li id="tinvilleFooterListItemChild">
                        <a href="mailto:support@tinville.com" Id="tinvilleFooterListItemChild">support@tinville.com</a>
                    </li>
                    <li Id="tinvilleFooterListItemPrimary">Follow Us On:</li>
                    <li Id="tinvilleFooterListItemPrimary">
                        <div class="footersocialMediaLinks">
                            <a id="footerfacebookLink" href="http://www.facebook.com/Tinville1" target="_blank" class="fa fa-facebook fa-lg footersociallogo">
                            </a>
                            <a id="footertwitterLink" href="http://www.twitter.com/Tinville1" target="_blank" class="fa fa-twitter fa-lg footersociallogo">
                            </a>
                            <a id="footerpinterestLink" href="http://www.pinterest.com/tinville1/" target="_blank" class="fa fa-pinterest fa-lg footersociallogo">
                            </a>
                            <a id="footerinstagramLink" href="http://instagram.com/Tinville" target="_blank" class="fa fa-instagram fa-lg footersociallogo">
                            </a>
                        </div>
                    </li>
                </dl>
            </nav>
            </div>
        </div>
    </div>

        <div class="panel-group footerRow hidden-sm hidden-md hidden-lg footerRow footer-nav">
            <button class="footerPanelTitle footerSectionTitle footerButton" type="button" data-toggle="collapse" data-target="#collapseInformation">
                <h4 id="tinvilleXSFooterHeaders">Information</h4>
            </button>
            <div id="collapseInformation" class="panel-collapse collapse footerPanelPadding">
                <dl class="list-unstyled">
                    <li class="mainFooterListItem"><a href="{% url 'home_about' %}">About Us</a></li>
                    <li class="mainFooterListItem"><a href="#">Customer Service</a></li>
                    <li class="mainFooterListItem"><a href="{% url 'home_faq' %}">FAQs</a></li>
                    <li class="mainFooterListItem"><a href="{% url 'home_policies' %}">Policies</a></li>
                    <li class="mainFooterListItem"><a href="{% url 'home_terms' %}">Terms</a></li>
                </dl>
            </div>
            <button class="footerPanelTitle footerSectionTitle footerButton" type="button" data-toggle="collapse" data-target="#collapseMyAccount">
                <h4 id="tinvilleXSFooterHeaders">My Account</h4>
            </button>
            <div id="collapseMyAccount" class="panel-collapse collapse footerPanelPadding">
                <dl class="list-unstyled listPadding">
                    <li class="mainFooterListItem">
                        {% if user.is_authenticated %}
                            <a href="/logout">Sign Out</a>
                        {% else %}
                            <li class="mainFooterListItem"><a target="_top" id="goToTopOfPageXS" href="#xs-menuLogin" data-toggle="dropdown" data-target="#xs-menuLogin">Sign In</a></li>
                            <li class="mainFooterListItem"><a href="/register">Register</a></li>
                        {% endif %}
                    </li>
{#                    <li class="mainFooterListItem"><a href="#">View Cart</a></li>#}
{#                    <li class="mainFooterListItem"><a href="#">Help</a></li>#}
                </dl>
            </div>
            <div>
                <dl class="list-unstyled listPadding">
                    <li id="tinvilleFooterListItemPrimary">© Tinville.com</li>
                    <li id="tinvilleFooterListItemChild">2011-2013</li>
                    <li id="tinvilleFooterListItemPrimary">Contact Us</li>
                    <li id="tinvilleFooterListItemChild">
                        <a href="mailto:support@tinville.com" Id="tinvilleFooterListItemChild">support@tinville.com</a>
                    </li>
                    <li Id="tinvilleFooterListItemPrimary">Follow Us On:</li>
                    <li Id="tinvilleFooterListItemChild">
                        <div class="footersocialMediaLinks">
                            <a id="footerfacebookLink" href="http://www.facebook.com/Tinville1" target="_blank" class="fa fa-facebook fa-lg footersociallogo">
                            </a>
                            <a id="footertwitterLink" href="http://www.twitter.com/Tinville1" target="_blank" class="fa fa-twitter fa-lg footersociallogo">
                            </a>
                            <a id="footerpinterestLink" href="http://www.pinterest.com/tinville1/" target="_blank" class="fa fa-pinterest fa-lg footersociallogo">
                            </a>
                            <a id="footerinstagramLink" href="http://instagram.com/Tinville" target="_blank" class="fa fa-instagram fa-lg footersociallogo">
                            </a>
                        </div>
                    </li>
                </dl>
            </div>
        </div>
    </div>
</div>

<!-- Static Modal -->
<div class="modal modal-static fade" data-backdrop="static" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="{{ STATIC_URL }}img/loading.gif" class="icon" />
                    <h4>Processing...</h4>
                </div>
            </div>
        </div>
    </div>
</div>

    {% block javascript_library %}
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.1.min.js"></script>

        <script src="{{ STATIC_URL }}js/vendor/jquery.shorten.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery.transit.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/velocity.js"></script>
{#        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.8.0.min.js"><\/script>')</script>#}
{#        <script type="text/javascript" src="{{  STATIC_URL }}js/vendor/bootstrap.min.js"></script>#}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{#        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>#}
        <script type="text/javascript" src="{{  STATIC_URL }}js/Slimscroll/jquery.slimscroll.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/picturefill.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/handlebars.js"></script>
        <script src="{{ STATIC_URL }}js/plugins.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery.hammer-1.0.5.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery.dragend-0.1.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/parsley.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/parsley.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/tooltip.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/bootstrap-tabs.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/imagelightbox.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/imagelightbox.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/cropper.js"></script>
    {% endblock javascript_library %}

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ GOOGLE_ANALYTICS_TRACKING_ID }}', 'auto');
        ga('send', 'pageview');


        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(document).ready(function () {
            stickyFooter();
        });

        $(window).on('resize', function () {
            stickyFooter();
        });

        function stickyFooter() {
{#            if (checkMode() != "xs") {#}
{#                if ($(document).height() > $(window).height()) {#}
{#                    $('.slidingContent2').height#}
{#                    (#}
{#                            $(window).height() - $('.footer').height()#}
{#                    );#}
{#                }#}
                // Jon M TBD - Temp hack until we can find a better sticky footer solution :(
                $('.slidingContent2').css('min-height', $(window).height() *.75);
{#            }#}
        }




        $("#goToTopOfPage").click(function(){
             $('html, body').animate({ scrollTop: 0 }, 'slow');
        });

        $("#goToTopOfPageXS").click(function(){
             $('html, body').animate({ scrollTop: 0 }, 'slow');
        });
        $(window).resize(function(){
             var mode = checkMode();

            if(mode == 'xs'){
                $("#nonMobileMenContent").css("display","none");
                $("#mobileMenContent").css("display","");

                $("#nonMobileWomenContent").css("display","none");
                $("#mobileWomenContent").css("display","");
            }
            else
            {
                $("#nonMobileMenContent").css("display","");
                $("#mobileMenContent").css("display","none");

                $("#nonMobileWomenContent").css("display","");
                $("#mobileWomenContent").css("display","none");

                $('.navbarSliding').removeAttr( 'style' );
                $('.slidingContent').removeAttr( 'style' );
            }
        });

         $(window).load(function(){
              var mode = checkMode();

            if(mode == 'xs'){
                $("#nonMobileMenContent").css("display","none");
                $("#mobileMenContent").css("display","");

                $("#nonMobileWomenContent").css("display","none");
                $("#mobileWomenContent").css("display","");
            }
            else{
                $("#nonMobileMenContent").css("display","");
                $("#mobileMenContent").css("display","none");

                $("#nonMobileWomenContent").css("display","");
                $("#mobileWomenContent").css("display","none");
            }
        });

{#        this is for the highlight the selected infopages#}
        $(window).load(function() {
            $("#{{ flatpage.title }}").addClass("active");
            {% if messages %}
                $('#messagesModal').modal();
            {% endif %}
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() > 10) {
                $('.navbar-header').css('top', $(window).scrollTop());
            }
          }
        );




        $(document).ready(function() {

                   var menu = "close";

                    $('.menu-toggle').click(function() {
                        if(menu == "close"){
                            $('.slidingContent').css('-webkit-transform','translate(70%, 0)');
                            $('.navbarSliding').css('-webkit-transform','translate(-10px, 0)');

                            menu="open";
                        }
                        else{
                            $('.slidingContent').css('-webkit-transform','translate(0, 0)');
                            $('.navbarSliding').css('-webkit-transform','translate(-100%, 0)');

                            menu="close";
                        }
            });
            var self = $(this);
            var url = "/load_cart";
                ajax_req = $.ajax({
                    url: url,
                    type: "GET",
                    dataType: 'json',
                    success: function(data, textStatus, jqXHR) {
                        $.each(data, function(index, item)
                        {
                            if (item.msg == ''){
                                item.image = "{{ MEDIA_URL }}" + item.image;
                                AddCartItem(item);
                                cartCount()
                            }
                            else {
                                $('#messageId').html(item.msg);
                                $('#messageModal').modal('show');
                            }
                        });
                    },
                    error: function(data, textStatus, jqXHR) {
                    }
                });

            cartCount();

        });

        $(document).on("submit", ".loginForm", function(e) {
            e.preventDefault();
            var self = $(this),
                url = self.attr("action"),

                ajax_req = $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        username: self.find("#id_username").val(),
                        password: self.find("#id_password").val(),
                        remember_me : self.find("#id_remember_me").val()
                    },
                    success: function(data, textStatus, jqXHR) {
						if (location.pathname == "/notifications") {
							location.href = "/";
						} else {
							location.reload();
						}
                    },
                    error: function(data, textStatus, jqXHR) {
                        clear_django_messages(self.find(".message_area"));
                        clear_form_field_errors(".loginPopupForm");
                        var errors = $.parseJSON(data.responseText);
                        $.each(errors, function(index, value) {
                            if (index === "__all__") {
                                django_message(value[0], "error", self.find(".message_area"));
                            } else {
                                apply_form_field_error(self[0].id, index, value);
                            }
                        });
                    }
                });
        });


     $("a.dropdown-toggle.hidden-xs").click(function() {
         $("#id_username.textinput.textInput").val("");
         $("#id_password.textinput.textInput").val("");
     });

    $("#navLogin").click(function()
    {
        $("#id_username.textinput.textInput").val("");
        $("#id_password.textinput.textInput").val("");
    });

 var cartTotal;
 var cartJson, cartState;
 cartState = sessionStorage.getItem("cartState");
 cartJson = JSON.parse(cartState || "{}");

      function cartCount()
      {
          ajax_req = $.ajax({
                url: "/total_cart_items",
                type: "GET",
                success: function(data, textStatus, jqXHR) {
                    if (data.count > 0){
                        $('#cartCountId').text(data.count);
                        $('#cartCountId').removeClass("hidden");
                        $('#carttotal').removeClass("hidden");
                        $('#divider').removeClass("hidden");
                        $('#shoppingcartcheckout').removeClass("hidden");
                        $('#noItem').addClass("hidden");
                        $('#tagIconId').removeClass("tinvilleDrayGray");
                        $('#tagIconId').addClass("tinvilleOrange");
                    }
                    else{
                        $('#cartCountId').addClass("hidden");
                        $('#carttotal').addClass("hidden");
                        $('#divider').addClass("hidden");
                        $('#shoppingcartcheckout').addClass("hidden");
                        $('#noItem').removeClass("hidden");
                        $('#tagIconId').removeClass("tinvilleOrange");
                        $('#tagIconId').addClass("tinvilleDrayGray");
                    }
                },
                error: function(data, textStatus, jqXHR) {
                }
            });
      }
$(function() {

    cartState = sessionStorage.getItem("cartState");
    cartJson = JSON.parse(cartState || "{}");

    aggregateTotal();

    var _IsOpen = cartJson["IsOpen"];


});

$("#mobileNavButton").click(function()
{
    navbarClicked();
});

function navbarClicked()
{
{#    $("#shoppingcart").hide();#}
    cartState = sessionStorage.getItem("cartState");
    cartJson = JSON.parse(cartState || "{}");
    var IsOpen = false;

    cartJson["IsOpen"] = IsOpen;
    sessionStorage.setItem("cartState", JSON.stringify(cartJson));
}

function cartToggleBtn()
{
    cartState = sessionStorage.getItem("cartState");
    cartJson = JSON.parse(cartState || "{}");
    var IsOpen = cartJson["IsOpen"];
    if(IsOpen === undefined || IsOpen === true)
        IsOpen = false;
    else
        IsOpen = true;

    cartJson["IsOpen"] = IsOpen;
    sessionStorage.setItem("cartState", JSON.stringify(cartJson));
}
function LoadCartItemDiv(cartItem)
{
    var rowdiv =  $('<div/>', {
        'class':'row'
    });
    var cartitemdiv =  $('<li/>', {
        'class':'shoppingcartitem col-xs-12',
        'id' : "lineId" + cartItem.Id
    });

    var itemThumbnail = $('<img/>', {'src':cartItem.image, 'class': 'img-responsive shoppingcartthumbnail'});
    var thumbnailDiv = $('<div/>', {'class': 'shoppingcartthumbnaildiv'});
    itemThumbnail.appendTo(thumbnailDiv);
    thumbnailDiv.appendTo(cartitemdiv);

    var itemInfoDiv = $('<div/>', {'class' : 'shoppingcartiteminfo'});

    var itemTitle = $('<div/>', {'class':'shoppingcartitemTitle ','text':cartItem.title});
    itemTitle.appendTo(itemInfoDiv);

    var itemDescription = $('<div/>', {'class':'shoppingcartitemDescription', 'text':"Color: " + cartItem.color});
    itemDescription.appendTo(itemInfoDiv);
    var itemSize = $('<div/>', {'class':'shoppingcartitemDescription', 'text':"Size: " + cartItem.size});
    itemSize.appendTo(itemInfoDiv);

    var itemQty = $('<div/>', {'class':'shoppingcartitemQty', 'text':"Qty:" + cartItem.qty});
    itemQty.appendTo(itemInfoDiv);

    itemInfoDiv.appendTo(cartitemdiv);
    var removeBtnDiv = $('<div/>', {'class':'shoppingcartremovebtn'});
    var delBtnId = 'deleteBtnId_' + cartItem.Id;
    var removeBtn = $('<a/>', { 'onclick' : 'RemoveCartItem(' + cartItem.Id + ')', 'id' : delBtnId,
        'class' : 'shoppingcartBtn', 'html' : '<img src="{{ STATIC_URL }}img/delete.png" width="20" height="20">'
    });
    removeBtn.appendTo(removeBtnDiv);
    removeBtnDiv.appendTo(cartitemdiv);
    var price = '$' + (cartItem.qty * cartItem.price);
    var priceDiv = $('<div/>', {'class':'shoppingcartitemPrice', 'text': price});
    priceDiv.appendTo(cartitemdiv);
    cartitemdiv.appendTo(rowdiv);

    rowdiv.appendTo("#shoppingcartitems");



     $(".shoppingcartitemTitle").text(function(index, currentText) {
            return currentText.substr(0, 15);
        });
}


function aggregateTotal()
{
    var url = "/cart_total";
    ajax_req = $.ajax({
        url: url,
        type: "GET",
        success: function(data, textStatus, jqXHR) {
            $('#carttotal').text('Total: $' + data.total);
        },
        error: function(data, textStatus, jqXHR) {
        }
    });
}

function AddCartItem(cartItem)
{
    if ($("#lineId" + cartItem.Id).length === 0){
        LoadCartItemDiv(cartItem);
        aggregateTotal();
    }


}

function RemoveCartItem(itemId)
{
    var self = $(this);
    var url = "/delete_item_to_cart";

    var ajax_req = $.ajax({
            url: url,
            type: "POST",
            data: {
                Id: itemId
            },
            success: function(data, textStatus, jqXHR) {
            },
            error: function(data, textStatus, jqXHR) {
            }
        });

    $('#lineId'+itemId).remove();

    aggregateTotal();
    cartCount();
}

    $("#shoppingcartitems").slimScroll({});


    </script>
    <script id="message_template" type="text/x-handlebars-template">
            {% verbatim %}
            <div class="alert alert-{{tags}} fade in" data-alert="{{tags}}">
                <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                {{{message}}}
            </div>
            {% endverbatim%}
        </script>

        <script id="message_block_template" type="text/x-handlebars-template">
            {% verbatim %}
            <div class="alert alert-block alert-{{level}} fade in">
                <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                {{{body}}}
            </div>
            {% endverbatim %}
        </script>

     <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
     <script type="text/javascript">
        window.ParsleyValidator
          .addValidator('cardnum', function (value) {
            return Stripe.card.validateCardNumber(value);
          }, 32)
          .addMessage('en', 'cardnum', 'Invalid card number');
{#          .addMessage('fr', 'multiple', 'Cette valeur doit être un multiple de %s');#}
        window.ParsleyValidator
          .addValidator('cardexpiry', function (value) {
            var month = $("[data-stripe='exp-month']")[0].value;
            var year = $("[data-stripe='exp-year']")[0].value;
            return Stripe.card.validateExpiry(month, year);
          }, 33)
          .addMessage('en', 'cardexpiry', 'Invalid card expiration date');
        window.ParsleyValidator
          .addValidator('cardcvc', function (value) {
            return Stripe.card.validateCVC(value);
          }, 34)
          .addMessage('en', 'cardcvc', 'Invalid card verification code');

     $("[data-parsley-group='cardexpiry']").keyup(function() {
          $("[data-parsley-group='cardexpiry']").each( function() {
              $( this ).parsley().validate();
          })
        });


     $(".parsley-form").parsley({
        successClass: 'has-success',
        errorClass: 'has-error',
        classHandler: function(el) {
            return el.$element.closest(".form-group");
        },
        errorsWrapper: '<span class=\"help-block\"></span>',
        errorTemplate: '<span></span>'
    });

     {% if debug %}
{#        javascript:(function(){var s=document.createElement("script");s.onload=function(){bootlint.showLintReportForCurrentDocument([]);};s.src="https://maxcdn.bootstrapcdn.com/bootlint/latest/bootlint.min.js";document.body.appendChild(s)})();#}
     {% endif %}
    //for each element that is classed as 'pull-down', set its margin-top to the difference between its own height and the height of its parent
    $('.pull-down').each(function() {
        $(this).css('margin-top', $(this).parent().height()-$(this).height())
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        stickyFooter();
    });



    </script>



    {% block javascript %}
    {% endblock javascript %}
{% endblock body %}
</body>
</html>
