{% extends "base.html" %}
{% load i18n %}
{% load cropping %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/designer_shop/styles.css" />
{% endblock css %}

{% block content %}
    {{ block.super }}


    <div id="thumbnail-preview-indicators" >
        <span data-picture class="banner">
            <span data-src="{{ STATIC_URL }}img/banner-xs.jpg"></span>
            <span data-src="{{ STATIC_URL }}img/banner-xl.png" data-media="(min-width: 768px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="{{ STATIC_URL }}img/banner-xs.png">
            </noscript>
        </span>
    </div>

    <div class="homeBlock" style="margin-bottom: 20px">
    </div>
    <div class="container ">
        <a href="{% url 'all_home' %}" class="allBlock">ALL -></a>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-6" style="padding-bottom: 20px">
                <a href="{% url 'women_home' %}"  >
                    <img src="{{ STATIC_URL }}img/women.jpg" class="categoryBlock" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a href="{% url 'men_home' %}"  >
                    <img src="{{ STATIC_URL }}img/men.jpg" class="categoryBlock" />
                </a>
            </div>
        </div>
    </div>
    <div style="background-color: #e6e5e1; margin-top: 50px;padding-bottom: 20px">
        <div class="container" >
            <div class="genderBlock">
                Women
            </div>
            {% if womenproducts > 0 %}
                {% include "homepage/womenItems.html" %}
            {% endif %}
        </div>
    </div>
    <div style="padding-bottom: 20px">
        <div class="container" >
            <div class="genderBlock">
                Men
            </div>
            {% if menproducts > 0 %}
                {% include "homepage/menItems.html" %}
            {% endif %}
        </div>

    </div>

{% endblock %}

{% block bottomContent %}
    <div id="villageOfShops"></div>
{% endblock %}

{% block javascript_library %}
  {{ block.super }}
{% endblock javascript_library %}

{% block javascript %}
    {{ block.super }}
    <script>
{#        $("#thumbnail-preview-indicators .slides .slide-1 ").css("background-image", "url({{ STATIC_URL }}img/banner-xl.png)");#}
    </script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>
    $.endlessPaginate({
        onCompleted: function(){
            setItemSizes();
        },
    });
    </script>

{% endblock %}