{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
    {{ block.super }}
    <img id="carousel" class="img-responsive full-screen" src="{{ STATIC_URL }}img/home-girl-hat.jpg"/>
    <img class="img-responsive col-xs-12 col-sm-12 col-md-8" src="{{ STATIC_URL }}img/sale-item-main.jpg"/>
    <img class="img-responsive col-xs-6 col-sm-6 col-md-4" src="{{ STATIC_URL }}img/sale-item-1.jpg"/>
    <img class="img-responsive col-xs-6 col-sm-6 col-md-4" src="{{ STATIC_URL }}img/sale-item-2.jpg"/>

{% endblock %}

{% block bottomContent %}
    <div id="villageOfShops"></div>
{% endblock %}
