
{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} register{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/registerAndLogin.css" />
{% endblock css %}
{% block content %}

        <div class="registrationContent cn">
            <div class="registrationInfoDiv inner">
                <div class="row">
                    <div class="span7 first userType">
                        <img class="registrationInfoIcon" src="{{ STATIC_URL }}img/shopper_small_logo.png">
                        <h2 class="orangeHeading">New Shopper</h2>
                        <p>Welcome to Tinville, The Industry Network Village, Tinville is an online market place where you can explore, discover or keep up with one of a kind
                            apparel designer; if you are a fashionista or just like unique pieces from designers, Tinville can fulfill your shopping needs. When you sign
                            up to shop you will have a wide variety of designers to choose from, try, follow and embrace.
                        </p>
                        <p>
                            <a href="/register_shopper"><button class="btn registerButton">Register</button></a>
                        </p>
                    </div>

                    <div class="span6 userType">
                        <img class="registrationInfoIcon" src="{{ STATIC_URL }}img/designer_small_logo.png">
                        <h2 class="orangeHeading">New Designer</h2>
                        <p>Tinville, The Industry Network Village is an online market place where apparel designers of all kinds can open a shop as easy as any social
                            network, and use your already existing online presence to market directly to your consumers. No longer will the success of your brand be
                            out of reach. When you open up a shop at Tinville, we help bridge the gap between your brand and consumers.
                        </p>
                        <p>
                            <a href="/register_designer"><button class="btn registerButton">Register</button></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}