
{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} register{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/registerAndLogin.css" />
{% endblock css %}
{% block content %}


    {%  load crispy_forms_tags %}
    <form action="/register_designer" method="post">
        {% crispy form %}
    </form>


{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            var setHeight = $("#registerDesignerFormDiv").height();
            $("#registerNewDesignerPane").height(setHeight);
        });
    </script>

{%  endblock %}