
{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} register{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/registerAndLogin.css" />
{% endblock css %}
{% block content %}



        <div class="registrationContent cn">
            <div class="registrationInfoDiv inner">
                <div class="span6 first userType">
                    <div class=span4>
                        <img class="registrationInfoIcon" src="{{ STATIC_URL }}img/customer_small_logo.png">
                    </div>
                    <div class="span8 registrationText">
                        <h2 class="orangeHeading">New Customer</h2>
                        <p>As a Tinville Customer, you will enjoy all the latest apparel from independent fashion designers that you will
                           typically not see at your local mall. We use your interests to recommend apparel from designers that produce
                           exactly what you are looking for!
                        </p>
                        <p>
                            <button class="btn registerButton">Register</button>
                        </p>
                    </div>
                </div>

                <div class="span6 userType">
                    <div class=span4>
                        <img class="registrationInfoIcon" src="{{ STATIC_URL }}img/designers_small_logo.png">
                    </div>
                    <div class="span8 registrationText">
                        <h2 class="orangeHeading">New Designer</h2>
                        <p>As a Tinville Designer, you have easy to use tools at your disposal to make sure your business is a success without
                           the fuss and overhead associated with managing your own website or physical boutique.
                        </p>
                        <p>
                            <button class="btn registerButton">Register</button>
                        </p>
                    </div>
                </div>


            </div>
        </div>



{#                </div>#}
{#                    <div class="span4">#}
{#                        <h3 class="orangeHeading">New Designer</h3>#}
{#                        <img src="{{ STATIC_URL }}img/designers_small_logo.png">#}
{#                    </div>#}
{#                </div>#}
{#                <div id="registerSection" class="section">#}
{#                    <hi>Register Account</hi>#}
{#                    <form action="" method="post">#}
{#                        {{ form.as_p }}#}
{#                        {% csrf_token %}#}
{#                        <input type="submit" value="Create account">#}
{#                    </form>#}
{#                </div>#}
{##}
{#                <div id="loginSection" class="section">#}
{#                    <hi>Login</hi>#}
{#                    <form action="" method="post">#}
{#                        {{ form.as_p }}#}
{#                        {% csrf_token %}#}
{#                        <input type="submit" value="Login">#}
{#                    </form>#}
{#                </div>#}







{% endblock %}