
{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} register_success{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/registerAndLogin.css" />
{% endblock css %}
{% block content %}

    <div class="alert alert-success">
        <p>
            An e-mail has been sent to {{ email }}. Please check your mail and click on the confirmation link in the
            message to complete your registration. If the e-mail address provided is incorrect, contact Tinville
            customer support to correct the address.
        </p>
    </div>

{% endblock %}