
{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} register{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/registerAndLogin.css" />
{% endblock css %}
{
{% block content %}
    <section id="main">
        <div id="mainContent">
                <div id="logoSection">
                    <img id="tinvilleLogo" src="{{ STATIC_URL }}img/tinville_register_logo.png">
                </div>


                <div id="registerSection" class="section">
                    <hi>Register Account</hi>
                    <form action="" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="submit" value="Create account">
                    </form>
                </div>

                <div id="loginSection" class="section">
                    <hi>Login</hi>
                    <form action="" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="submit" value="Login">
                    </form>
                </div>

        </div>
    </section>





{% endblock %}