
{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} register_shopper{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/registerAndLogin.css" />
{% endblock css %}
{% block content %}


    {%  load crispy_forms_tags %}
    <form id="registerForm" action="/register_shopper" method="post">
        {% crispy form %}
    </form>


{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            var setHeight = $("#registerUserFormDiv").height();
            $("#registerNewUserPane").height(setHeight);

            $('#div_id_shop_name').addClass('hidden'); //No shopname for shoppers
        });
    </script>

{%  endblock %}