{% extends "teaser_base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
    {{ block.super }}
    <img id="carousel" class="img-responsive full-screen" src="{{ STATIC_URL }}img/home-girl-hat.jpg"/>

    <div class="container">
        <a href="/"><img id="tinvilleTagBanner" class="pull-left" src="{{ STATIC_URL }}img/tinville_logo.png" /></a>
        <p id="tinvilleDescription" class="col-sm-7 col-sm-offset-1">
            Tinville, The Industry Network Village is an online market place where apparel designers of all
            kinds can open a shop as easy as any social network, and use your already existing online
            presence to market directly to your consumers. No longer will the success of your brand be
            out of reach. When you open up a shop at Tinville, we help bridge the gap between your brand
            and consumers.
        </p>
    </div>
    <div class="container">
        <div class="thumbnail center well well-small text-center">
            <h2>Mailing List</h2>

            <p>Subscribe to our mailing list and stay tuned. We promise we won't spam you!</p>

            <form action="/" method="post"> {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" data-dismiss="alert">
                          <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          {{ message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input type="text" id="id_email" name="email" class="form-control" placeholder="your@email.com">
{#                    {{ form.as_ul }}#}
                </div>
                <br />
                <input type="submit" value="Subscribe Now!" class="btn tinvilleButton btn-large" />
            </form>
        </div>

    </div>


{% endblock %}

{% block bottomContent %}
    <div id="villageOfShops"></div>
{% endblock %}
