{% extends "teaser_base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
    {{ block.super }}
    <img id="carousel" class="img-responsive full-screen" src="{{ STATIC_URL }}img/home-girl-hat.jpg"/>

    <div class="container">
        <a href="/"><img id="tinvilleTagBanner" class="pull-left" src="{{ STATIC_URL }}img/tinville_logo.png" /></a>
        <div id="tinvilleDescription" class="col-sm-8 col-sm-offset-1">
            <p>
                Tinville is an online market place that provides apparel designers with the tools and resources to have
                a successful brand. From creating their store front, to managing their business and engaging their
                customers, Tinville is where designers will take control of their destiny.
            </p>
            <p>
                Are you a designer looking to sell your items? Or do you simply want us to put up some of your fabulous
                items on one of our social media outlets for free? Email
                <a href="mailto:nicole.soucie@tinville.com">nicole.soucie@tinville.com</a> and tell us about your stuff!
                We love our designers and want to help anyway we can.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="thumbnail center well well-small text-center col-md-8 col-md-offset-2">
                <h4>We're still laying out the foundation of Tinville but we'll keep you in the loop by entering
                    your email address below</h4>

                <form action="/" method="post"> {% csrf_token %}
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                      <input type="text" id="id_email" name="email" class="form-control" placeholder="your@email.com">
                    </div>
                    <br />
                    <input type="submit" value="Join" class="btn tinvilleButton btn-large" />
                </form>
            </div>
        </div>

        <div class="row socialNetworksRow">
            <div class="col-xs-1 col-xs-offset-2 container">
                <a href="http://www.facebook.com/Tinville1" target="_blank" class= "socialMediaColumn col-xs-1 pull-right socialMediaImage">
                    <img src="{{ STATIC_URL }}img/social/facebook-variation.png" />
                </a>
            </div>
            <div class="col-xs-1 col-xs-offset-1 container">
                <a href="http://www.twitter.com/Tinville1" target="_blank" class="socialMediaColumn col-xs-1 pull-right socialMediaImage">
                    <img src="{{ STATIC_URL }}img/social/twitter-variation.png" />
                </a>
            </div>
            <div class="col-xs-1 col-xs-offset-1 container">
                <a href="http://www.pinterest.com/Tinville1" target="_blank" class="socialMediaColumn col-xs-1 pull-right socialMediaImage">
                    <img src="{{ STATIC_URL }}img/social/pinterest.png" />
                </a>
            </div>
            <div class="col-xs-1 col-xs-offset-1 container">
                <a href="http://www.instagram.com/Tinville" target="_blank" class="socialMediaColumn col-xs-1 pull-right socialMediaImage">
                    <img src="{{ STATIC_URL }}img/social/instagram-variation.png" />
                </a>
            </div>
        </div>

    </div>


{% endblock %}

{% block bottomContent %}
    <div id="villageOfShops"></div>
{% endblock %}
