{% extends "base.html" %}
{% load i18n %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping address" %}{% endblock %}

{% block order_contents %}{% endblock %}

{% block css %}
{{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/checkout/styles.css" />
{% endblock css %}

{% block content %}

    {% if request.user.is_authenticated %}
    {% if addresses %}
            <div class="checkoutAlign shippingFont"><p>{% trans "An address from your addressbook?" %}</p></div>
            <div class="choose-block shippingFont">
                <ul class="row-fluid unstyled hideBullets">
                    {% for address in addresses %}
                        {% block select_address_form %}
                            <li class="span6">
                                <div class=" checkoutAlign">
                                    <address >
                                        {% block select_address_fields %}
                                            {% for field in address.active_address_fields %}
                                                <span>{{ field }}</span>{% if not forloop.first %}<br/>{% endif %}
                                            {% endfor %}
                                        {% endblock %}
                                    </address>
                                    <form action="{% url 'checkout:shipping-address' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="ship_to" />
                                        <input type="hidden" name="address_id" value="{{ address.id }}" />
                                        {% if address.is_default_for_shipping %}
                                            <button type="submit" class="btn btn-success ship-address"><i class="icon-ok"></i> {% trans "Ship to your default shipping address" %}</button>
                                        {% else %}
                                            <button type="submit" class="btn btn-primary ship-address">{% trans "Ship to this address" %}</button>
                                        {% endif %}
                                        <div>
                                            <a href="{% url 'checkout:user-address-update' pk=address.id %}" class="btn">{% trans "Edit address" %}</a>
                                            <a href="{% url 'checkout:user-address-delete' pk=address.id %}" class="btn btn-remove-address">{% trans "Delete" %}</a>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            {% if forloop.counter|divisibleby:2 %}
                                </ul>
                                {% if not forloop.last %}<ul class="row-fluid">{% endif %}
                            {% endif %}
                        {% endblock %}
                    {% endfor %}
                </ul>
            </div>
             <div class="checkoutAlign shippingFont"><p>{% trans "Or a new address?" %}</p></div>
        {% endif %}

    {% endif %}
    <form action="." method="post" class="form-stacked well">
        <div class = "checkoutAlign">

            {% csrf_token %}
            {% load crispy_forms_tags %}
            {% crispy form %}

            <div class="form-actions">
                <div class="row-fluid">
                    <div class="span3">
                        <button type="submit" class="btn btn-large btn-block btn-primary continueButtonAlign">{% trans "Continue" %}</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
{% endblock content %}


