.imageContainer {
    border: solid;
    height: 175px;

    border-radius: 10px;
}

#shopLogoDiv {
    float: left;
    width: 175px;
    position: relative;
    z-index: 2;

}

#shopBannerDiv {
    width: 970px;
    float: right;
    position: relative;
    z-index: 2;
}

.backgroundDiv  {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
}

#tinvilleGrayBackgroundDiv {
    background-color: #e7e5e6;
    top: 187px;
    height: 120px;
}

#designerColorBackgroundDiv {
    margin-top: 20px;
    background-color: lightblue;
    top: 310px;
    height: 60px;
}

#shopContentTabs {
    margin-bottom: 0;
    border-bottom: none;
    float: left;
    margin-top: 21px;
    width: 730px;

}

#shopContentTabs > .active > a,
#shopContentTabs > .active > a:hover,
#shopContentTabs > .active > a:focus {
    /*background-color: #e7e5e6;*/
    /*border-radius: 10px 20px 0 0;;*/
}

#shopContentTabs > li {
    /*background-color: royalblue;*/
    /*border-radius: 10px 20px 0 0;*/
}

#shopContentTabs li > a {
    color: royalblue;

    /*color: white;*/
    /*font-weight: 100;*/
    /*font-size: .9em;*/
    /*text-shadow: black 0.1em 0.1em 0.2em*/
}

#shopContentDiv {
    background-color: #e7e5e6;
    min-height: 230px;
    border-radius: 15px;
    width: 968px;
}

.shopPaneOuterDiv {
    padding: 30px;

}

.shopPaneInnerDiv {
    background-color: white;
    min-height: 230px;
    border-radius: 15px;
    width: 900px;

}

.shopImg {
    height: inherit;
    width: inherit;
}

#shopNav {
    border: solid thin #e7e5e6;
    border-radius: 10px;
    width: 177px;
    margin: 57px 28px 0px 0px;
    float: left;
    min-height: 500px;
}

#shopNav h2 {
    font-size: .7em;

}

.mainContent {
    background-color: white;
    padding-top: 4px;
    min-height: 500px;
}
/* Shop Editor CSS */

.editorWindow {
    max-height: 35%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: -15px;
    margin-left: 0px;
}

.cornerRadius {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

/*.li.active {*/
    /*background-color: #f46430 !important;*/
    /*color: #e7e5e6 !important;*/
/*}*/