.shopColor {
    /*background-color: #802152;*/
    color: #990099;
}
.shopBackgroundColor {
    background: #990099;
    /*color: #802152;*/
}
.shopBorderColor {
    /*background-color: #802152;*/
    /*border-color: #990099;*/
}

.shopBanner {
    width: 100%;
    height: 225px;
}

#tinyTinvillelogo {
    position: relative;
    top: -10px;
    left: 5%;
    z-index: 1001; /* 1 higher than Bootstrap nav pop-ups*/
    height: 75px;
}

.infoBanner {
    height: 25px;
    width: 500px;
}

.shopNavBarStyle{
    text-align: center;
}

.shopNavItemStyle{
    display: inline;
    margin-right: 5%;
}

.shopNavBarList{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.shopNavLinkStyle{
    color: #ffffff;
    font-size: large;
    text-align: center;
}


.navTabs {
  position: relative;
  height: 320px;
  clear: both;
  padding-left: 750px;
}
.navTab {
  overflow:hidden;
  text-align:center;
  margin-left:1em;
}
.navTab label {
  background: transparent;
  padding: 10px;
  margin-left: 0px;
  position: relative;
  left: 1px;

        padding-top: 5px;
}
.navTab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
    overflow: hidden;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

/*Change the color after the shop color is picked*/
.infoBannerText {
    color: white;
    /*border-right: 2px ridge white;*/
    margin-top: 5px;

}

.aboutContent {
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 1.5em;
    padding-right: 2%;
    font-family:"Cabin Condensed", sans-serif;
    word-wrap:break-word;
}

.imageContainer {
    border: solid;
    height: 175px;

    border-radius: 10px;
}

.filterTabs {
    height: 25px;
    /*margin-left: 2px;*/
    margin-top: 2%;
    margin-bottom: 2%;
    /*width : 30%;*/
    margin-right: 2%;
    padding: 0px 12px;
}


#editLink {
    width: 35px;
    position: relative;
    /*top: 280px;*/

    /*left: 15px;*/
    border-radius: 8px;
    background-color: #f46430;
}


#editLink a {
    display: block;
    text-indent: -10px;
    /*height: 48px;*/
    padding:3px;
    text-decoration: none;
    color: white;
}

.editIcon {
    /*margin-right: 3px;*/
    font-size: x-large;
    color: white;
}
@media (max-width: 768px) {
    .editIcon {
        /*font-size: large;*/
    }
}

.shopLogoDiv {
    width: 150px;
    position: relative;
    top: -185px;
    /*z-index: -1;*/
    right: -45%;
    border-radius: 8px;
    display: block;
    text-indent: 3px;
    height: 150px;
    padding:3px;
    text-decoration: none;
    color: white;
}
@media (max-width: 768px) {
     .shopLogoDiv {
         height: 100px;
         width: 100px;
         top: -50px;
         right: -60%;
    }
}

.shopLogoDiv2 {
    width: 150px;
    position: relative;
    top: 45px;
    /*z-index: -1;*/
    right: -45%;
    border-radius: 8px;
    display: block;
    text-indent: 3px;
    height: 150px;
    padding:3px;
    text-decoration: none;
}
@media (max-width: 768px) {
     .shopLogoDiv2 {
         height: 100px;
         width: 100px;
         top: 75px;
         right: -60%;
    }
}

#shopNavi{
    position: relative;
    top:50%;
}

.shopItems {
    padding: 6%;
    z-index: 1;
}

@media (min-width: 768px) {
     .shopItems {
       padding: 2%;
    }
}

#shopBannerDiv {
    width: 970px;
    float: right;
    position: relative;
    z-index: 2;
}

.backgroundDiv  {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
}

#tinvilleGrayBackgroundDiv {
    background-color: #e7e5e6;
    top: 187px;
    height: 120px;
}

#designerColorBackgroundDiv {
    margin-top: 20px;
    background-color: lightblue;
    top: 310px;
    height: 60px;
}

#shopContentTabs {
    margin-bottom: 0;
    border-bottom: none;
    float: left;
    margin-top: 21px;
    width: 730px;

}

#shopContentTabs > .active > a,
#shopContentTabs > .active > a:hover,
#shopContentTabs > .active > a:focus {
    /*background-color: #e7e5e6;*/
    /*border-radius: 10px 20px 0 0;;*/
}

#shopContentTabs > li {
    /*background-color: royalblue;*/
    /*border-radius: 10px 20px 0 0;*/
}

#shopContentTabs li > a {
    color: royalblue;

    /*color: white;*/
    /*font-weight: 100;*/
    /*font-size: .9em;*/
    /*text-shadow: black 0.1em 0.1em 0.2em*/
}

#shopContentDiv {
    background-color: #e7e5e6;
    min-height: 230px;
    border-radius: 15px;
    width: 968px;
}

.shopPaneOuterDiv {
    padding: 30px;

}

.shopPaneInnerDiv {
    background-color: white;
    min-height: 230px;
    border-radius: 15px;
    width: 900px;

}

.shopImg {
    height: inherit;
    width: inherit;
}

#shopNav {
    border: solid thin #e7e5e6;
    border-radius: 10px;
    width: 177px;
    margin: 57px 28px 0px 0px;
    float: left;
    min-height: 500px;
}

#shopNav h2 {
    font-size: .7em;
}

.mainContent {
    background-color: white;
    padding-top: 4px;
    min-height: 500px;
}
/* Shop Editor CSS */

#shopEditorWindow {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

@media (max-width: 768px) {
    #shopEditorWindow {
        margin-right: 0px;
    }
}

#formPanel {
    padding-right: 0px;
    padding-left: 0px;
}

#cornerRadius {
    border-radius: 0px !important;
}

#shopEditorTitle{
    /*border-bottom: 1px solid #e7e5e6;*/
    padding: 10px;
    background: linear-gradient(#F5F5F5, #D1D1D1);
}

.editorPanel {
    overflow: hidden;
}

.emptyShop {
    width: 100%;
    height: 400px;
    /*border-style: dashed ;*/
    /*border-color: darkgray;*/
    font-size: 5em;
    color: darkgray;
    padding-top: 12%;
    padding-left: 35%;

}
@media (max-width: 768px) {
     .emptyShop {
         font-size: 3em;
         padding-top: 15%;
         padding-left: 33%;
         height: 300px;
    }
}

#resizeIcon {
    margin-left: .3em;
}


#resizeIcon {
    cursor: pointer;
}

 /* Tinville Orange : f46430
/ * Tinville Gray : e7e5e6
/ * Tinville Dark Gray: #5B595A */

#shopEditorWindow {
    box-shadow: 0px -2px 10px -4px  #616161;
}

@media (max-width: 768px) {
    #optionPanel {
       box-shadow: 0px 2px 10px -4px  #616161;
       border-top: 1px solid #e7e5e6;
    }
}

#shopEditorWindow {
    box-shadow: 0px -2px 10px -4px  #616161;
}
@media (max-width: 768px) {
    .nav-pills {
        font-size: 1.5em;
        font-weight: bold;
    }
    #optionsXS {
        font-size: 1.5em;
        font-weight: bolder;
    }
}

@media (min-width: 768px) {
    #formPanel,
    #optionPanel {
        padding-top: 0px !important;
    }
}

#shopEditorHeading {
    padding: 0px;
}

#editorPanels {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#buttonContainer {
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav-pills>li.active>a {
    background-color: #f46430;
}

.nav-pills > li.active > a:focus {
    background-color: #f46430;
}

.nav-pills>li>a {
    color: #5B595A;
}

.nav-pills>li.active>a:hover {
    background-color: #f44b16;
}

.nav-pills>li>a {
    color: #5B595A;
}

.nav-pills>li>a:hover {
    background-color: #e7e5e6;
}

#optionsXS {
    color: #5B595A;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-pills>li>a {
        text-align: center;
    }
}

.mceLayout {
    width: 100% !important;
}

.dimensionSplit {
    text-align: center;
}
/*item detail*/

.itemTitle {
    font-size: 2em;
}